Repository f4pga/f4pga-arch-defs, pull requests merged in 2018-06, with the labels that each got.

#133 utils: Add utility to check that all sources can route to all sinks.
  utils/check_graph.py
Labels: lang-python, type-utils

#58 Adding DSP48E1 high level
  artix7/primitives/dsp/dsp.pb_type.xml
  artix7/primitives/dsp48e1/Makefile.v2x
  artix7/primitives/dsp48e1/alu/Makefile.v2x
  artix7/primitives/dsp48e1/alu/alu.sim.v
  artix7/primitives/dsp48e1/alumode_mux/Makefile.mux
  artix7/primitives/dsp48e1/carryinsel_logic/Makefile.v2x
  artix7/primitives/dsp48e1/carryinsel_logic/carryin_mux/Makefile.mux
  artix7/primitives/dsp48e1/carryinsel_logic/carryinsel_logic.sim.v
  artix7/primitives/dsp48e1/carryinsel_mux/Makefile.mux
  artix7/primitives/dsp48e1/creg_mux/Makefile.mux
  artix7/primitives/dsp48e1/dsp48e1.sim.v
  artix7/primitives/dsp48e1/dual_ad_preadder/Makefile.v2x
  artix7/primitives/dsp48e1/dual_ad_preadder/a_adder_mux/Makefile.mux
  artix7/primitives/dsp48e1/dual_ad_preadder/acout_mux/Makefile.mux
  artix7/primitives/dsp48e1/dual_ad_preadder/ain_mux/Makefile.mux
  artix7/primitives/dsp48e1/dual_ad_preadder/amult_mux/Makefile.mux
  artix7/primitives/dsp48e1/dual_ad_preadder/amux/Makefile.mux
  artix7/primitives/dsp48e1/dual_ad_preadder/dmux/Makefile.mux
  artix7/primitives/dsp48e1/dual_ad_preadder/dual_ad_preadder.sim.v
  artix7/primitives/dsp48e1/dual_b_reg/Makefile.v2x
  artix7/primitives/dsp48e1/dual_b_reg/b1reg_mux/Makefile.mux
  artix7/primitives/dsp48e1/dual_b_reg/b2reg_mux/Makefile.mux
  artix7/primitives/dsp48e1/dual_b_reg/bc_mux/Makefile.mux
  artix7/primitives/dsp48e1/dual_b_reg/bin_mux/Makefile.mux
  artix7/primitives/dsp48e1/dual_b_reg/bmult_mux/Makefile.mux
  artix7/primitives/dsp48e1/dual_b_reg/dual_b_reg.sim.v
  artix7/primitives/dsp48e1/inmode_mux/Makefile.mux
  artix7/primitives/dsp48e1/mult25x18/Makefile.v2x
  artix7/primitives/dsp48e1/mult25x18/mult25x18.sim.v
  artix7/primitives/dsp48e1/mult_mux/Makefile.mux
  artix7/primitives/dsp48e1/nmux2/nmux2.sim.v
  artix7/primitives/dsp48e1/nreg/Makefile.v2x
  artix7/primitives/dsp48e1/nreg/nreg.sim.v
  artix7/primitives/dsp48e1/nreg/reg.sim.v
  artix7/primitives/dsp48e1/opmode_mux/Makefile.mux
  artix7/primitives/dsp48e1/xmux/Makefile.mux
  artix7/primitives/dsp48e1/ymux/Makefile.mux
  artix7/primitives/dsp48e1/zmux/Makefile.mux
  artix7/utils/prjxray-int-import.py
  make/gen.mk
  make/mux-args.mk
  utils/lib/mux.py
  utils/mux_gen.py
  vpr/muxes/logic/mux2/Makefile.v2x
  vpr/muxes/logic/mux7/mux7.sim.v
  vpr/muxes/logic/mux8/Makefile.v2x
  vpr/muxes/logic/mux8/mux8.sim.v
Labels: arch-artix7, lang-makefile, lang-verilog, lang-xml, type-sim, type-vpr

#145 travis: Disable `make render` for now.
  .travis/script.sh
Labels: arch-*, type-infra
