Repository f4pga/f4pga-arch-defs, pull requests merged in 2018-07, with the labels that each got.

#174 make: Don't error on no outputs.
  make/inc/func.mk
Labels: lang-makefile

#176 ice40: Get the up5k part to generate a bitstream
  ice40/devices/top-routing-virt/arch.xml
  ice40/devices/top-routing-virt/tiles/dsp/dsp.pb_type.xml
  ice40/devices/top-routing-virt/tiles/pio/pio.pb_type.xml
  ice40/utils/ice40_import_layout_from_icebox.py
  ice40/utils/ice40_import_routing_from_icebox.py
  ice40/utils/ice40_list_layout_in_icebox.py
  tests/ice40/blink/icevision.pcf
  tests/make/arch/ice40.mk
Labels: arch-ice40, lang-makefile, lang-python, lang-xml, type-utils, type-vpr

#184 make/test: fix PLACE_TOOL and comment update
  artix7/make/tests.mk
  ice40/make/tests.mk
  make/tests.mk
  testarch/make/tests.mk
Labels: arch-artix7, arch-ice40, arch-test, lang-makefile

#183 Rework the XML format for pb_type to better allow composition
  common/xml/xmlsort.xsl
  ice40/devices/top-routing-virt/tiles/dsp/dsp.pb_type.xml
  ice40/devices/top-routing-virt/tiles/pio/pio.pb_type.xml
  ice40/devices/top-routing-virt/tiles/plb/plb.pb_type.xml
  ice40/devices/top-routing-virt/tiles/ram/ram.pb_type.xml
  ice40/primitives/sb_ff/dff.pb_type.xml
  ice40/primitives/sb_ff/dffe.pb_type.xml
  ice40/primitives/sb_ff/dffes.pb_type.xml
  ice40/primitives/sb_ff/dffs.pb_type.xml
  ice40/primitives/sb_ff/sb_ff.pb_type.xml
  ice40/primitives/sb_io/sb_io.pb_type.xml
  ice40/primitives/sb_lut/sb_lut.pb_type.xml
  ice40/primitives/sb_ram/sb_ram.pb_type.xml
  utils/vlog/vlog_to_pbtype.py
Labels: arch-ice40, lang-makefile, lang-python, lang-verilog, lang-xml, type-sim, type-utils, type-vpr

#187 ice40/tests: Adding hx8k-b-evn support for blink and iceram
  ice40/make/tests.mk
  ice40/tests/blink/example_tb.v
  ice40/tests/blink/hx8k-b-evn.pcf
  ice40/tests/iceram/Makefile
  ice40/tests/iceram/hx8k-b-evn.pcf
  ice40/tests/iceram/rom.cas
Labels: arch-ice40, lang-makefile, lang-verilog

#190 ice40: Fixed <direct connections.
  ice40/devices/top-routing-virt/tiles/dsp/dsp.pb_type.xml
  ice40/devices/top-routing-virt/tiles/pio/pio.pb_type.xml
  ice40/devices/top-routing-virt/tiles/plb/plb.pb_type.xml
  ice40/devices/top-routing-virt/tiles/ram/ram.pb_type.xml
Labels: arch-ice40, lang-xml, type-vpr

#189 Add support for lp8k part
  ice40/devices/top-routing-virt/arch.xml
  ice40/make/tests.mk
  ice40/utils/ice40_list_layout_in_icebox.py
Labels: arch-ice40, lang-makefile, lang-python, lang-xml, type-utils, type-vpr

#195 Add preliminary schemas for VPR XML files.
  common/xml/README.md
  common/xml/fpga_architecture.xsd
  common/xml/packed_netlist.xsd
  common/xml/routing_resource.xsd
Labels: type-docs, type-utils

#198 ecp5: Simulation model fixes
  ecp5/primitives/slice/CCU2C/CCU2C.sim.v
  ecp5/primitives/slice/DPR16X4C/DPR16X4C.sim.v
  ecp5/primitives/slice/LUT2/LUT2.sim.v
  ecp5/primitives/slice/LUT4/LUT4.sim.v
  ecp5/primitives/slice/TRELLIS_DPR16X4/TRELLIS_DPR16X4.sim.v
  ecp5/primitives/slice/TRELLIS_FF/TRELLIS_FF.sim.v
  ecp5/primitives/slice/TRELLIS_RAM16X2/TRELLIS_RAM16X2.sim.v
Labels: lang-verilog, type-sim

#201 ice40/make: correct tinyfpga-bx device
  ice40/make/tests.mk
Labels: arch-ice40, lang-makefile

#208 Force split CEN in use verse CEN not in used.
  ice40/cells/lutff/lutff.pb_type.xml
  ice40/cells/plb/plb.pb_type.xml
  ice40/primitives/sb_ff/sb_ff.pb_type.xml
  ice40/tests/ffpack/example.v
  ice40/tests/ffpack/example_tb.v
  ice40/tests/ffpack/none.pcf
  make/tests.mk
Labels: arch-ice40, lang-makefile, lang-verilog, lang-xml, type-vpr

#210 ice40: Fixing the flip flop primitive
  ice40/cells/lutff/lutff.pb_type.xml
  ice40/cells/plb/plb.pb_type.xml
  ice40/make/tests.mk
  ice40/primitives/sb_ff/README.md
  ice40/primitives/sb_ff/sb_ff.pb_type.xml
  ice40/primitives/sb_lut/sb_lut.pb_type.xml
  ice40/tests/ffpack/example_tb.v
Labels: arch-ice40, lang-makefile, lang-verilog, lang-xml, type-docs, type-vpr

#212 make: Check submodules are initialized.
  make/inc/common.mk
Labels: lang-makefile
