Repository f4pga/f4pga-arch-defs, pull requests merged in 2018-08, with the labels that each got.

#221 Integrate python tests into CTest.
  CMakeLists.txt
  make/env.mk
  utils/CMakeLists.txt
Labels: lang-makefile, type-utils

#223 Add $readmemb directive to verilog scanner.
  ice40/tests/murax/CMakeLists.txt
  make/file_targets.cmake
  utils/deps_verilog.py
  utils/deps_xml.py
Labels: arch-ice40, lang-python, type-utils

#228 Add board support for TinyFpga BX and B2.
  CMakeLists.txt
  ice40/boards.cmake
  ice40/tests/blink/CMakeLists.txt
  make/devices.cmake
  make/env.cmake
Labels: arch-ice40

#230 Add working testarch support to CMake build.
  common/xml/fpga_architecture.xsd
  ice40/CMakeLists.txt
  ice40/devices/top-routing-virt/CMakeLists.txt
  make/devices.cmake
  make/file_targets.cmake
  make/gen.cmake
  testarch/CMakeLists.txt
  testarch/devices/CMakeLists.txt
  testarch/devices/clutff-unidir-s4/CMakeLists.txt
  testarch/devices/layouts/CMakeLists.txt
  testarch/devices/routing/CMakeLists.txt
  testarch/primitives/CMakeLists.txt
  testarch/primitives/cgen/CMakeLists.txt
  testarch/primitives/lutff/CMakeLists.txt
  testarch/primitives/lutff/lutff.pb_type.xml
  testarch/tiles/CMakeLists.txt
  testarch/tiles/clutff/CMakeLists.txt
  testarch/tiles/clutff/clutff.pb_type.xml
  testarch/tiles/ff-large/CMakeLists.txt
  testarch/tiles/ff1/CMakeLists.txt
  testarch/tiles/lutff/CMakeLists.txt
  testarch/tiles/lutff3/CMakeLists.txt
  testarch/tiles/wire/CMakeLists.txt
  tests/6-led/CMakeLists.txt
  tests/CMakeLists.txt
  vpr/CMakeLists.txt
  vpr/buf/CMakeLists.txt
  vpr/const/CMakeLists.txt
  vpr/const/const.pb_type.xml
  vpr/dual-pad/CMakeLists.txt
  vpr/ibuf/CMakeLists.txt
  vpr/obuf/CMakeLists.txt
  vpr/pad/CMakeLists.txt
  vpr/wire/CMakeLists.txt
  vpr/wire/wire.pb_type.xml
Labels: arch-base, arch-ice40, arch-test, lang-xml, type-utils, type-vpr

#231 Add Artix 7 support to CMake build
  artix7/CMakeLists.txt
  artix7/blocks/CMakeLists.txt
  artix7/blocks/clbll_l-int_l/CMakeLists.txt
  artix7/blocks/int_r-clbll_r/CMakeLists.txt
  artix7/devices/CMakeLists.txt
  artix7/devices/xc7a50t-roi-virt/CMakeLists.txt
  artix7/devices/xc7a50t-roi-virt/dummy/CMakeLists.txt
  artix7/devices/xc7a50t-roi-virt/dummy/dummy.sh
  artix7/make/project_xray.cmake
  artix7/primitives/dsp48e1/nreg/CMakeLists.txt
  artix7/primitives/slicel/CMakeLists.txt
  artix7/primitives/slicel/N5ff/CMakeLists.txt
  artix7/primitives/slicel/Nff/CMakeLists.txt
  artix7/primitives/slicel/Nlut/CMakeLists.txt
  artix7/primitives/slicel/routing/CMakeLists.txt
  artix7/primitives/slicel/routing/ceusedmux/CMakeLists.txt
  artix7/primitives/slicel/routing/clkinv/CMakeLists.txt
  artix7/primitives/slicel/routing/coutused/CMakeLists.txt
  artix7/primitives/slicel/routing/srusedmux/CMakeLists.txt
  artix7/primitives/slicel/slicel.pb_type.xml
  artix7/tiles/CMakeLists.txt
  artix7/tiles/clbll_l/CMakeLists.txt
  artix7/tiles/clbll_r/CMakeLists.txt
  artix7/tiles/int_l/CMakeLists.txt
  artix7/tiles/int_r/CMakeLists.txt
  ice40/CMakeLists.txt
  make/devices.cmake
  make/file_targets.cmake
  make/gen.cmake
  tests/5-lut_cascade_1/CMakeLists.txt
  tests/6-big_xor/CMakeLists.txt
  tests/6-counter/CMakeLists.txt
  tests/CMakeLists.txt
Labels: arch-artix7, arch-ice40, lang-xml, type-utils, type-vpr

#233 Add documentation for new CMake build system.
  cmake.md
Labels: third-party, type-docs

#236 Add CMake testing on Travis CI.
  .travis.yml
  .travis/install.sh
  .travis/script.sh
  ice40/CMakeLists.txt
  make/devices.cmake
  make/env.cmake
  testarch/CMakeLists.txt
Labels: arch-ice40, arch-test, type-infra, type-utils

#248 ice40/tests: Adding checker and iceram to build
  ice40/tests/CMakeLists.txt
  ice40/tests/checker/CMakeLists.txt
  ice40/tests/checker/icestick.pcf
  ice40/tests/iceram/CMakeLists.txt
Labels: arch-ice40
