Repository f4pga/f4pga-arch-defs, pull requests merged in 2018-03, with the labels that each got.

#74 env: Adding xsltproc to environment.
  .travis.yml
  make/env.mk
  make/inc/env.mk
  make/xml.mk
Labels: lang-makefile

#76 Using bash as shell in Makefile
  .travis.yml
  make/inc/common.mk
Labels: lang-makefile, type-build

#75 Actually run Verilog to Routing tests on Travis
  Makefile
  artix7/devices/xc7a50t-roi-virt/arch.xml
  artix7/devices/xc7a50t-roi-virt/dummy/Makefile.dummy
  artix7/devices/xc7a50t-roi-virt/dummy/dummy.sh
  artix7/devices/xc7a50t-virt/arch.xml.unused
  ice40/devices/ice4/arch.xml
  ice40/devices/ice40-virt/arch.xml
  ice40/tiles/pio-tb/pio-tb.pb_type.xml
  ice40/tiles/plb/plb.pb_type.xml
  testarch/arch/ff1/Makefile
  testarch/arch/lutff3/Makefile
  testarch/arch/test2/Makefile
  testarch/devices/ff-large/Makefile
  testarch/devices/ff-large/arch.xml
  testarch/devices/ff1/arch.xml
  testarch/devices/lutff/arch.xml
  testarch/devices/lutff3/arch.xml
  testarch/devices/test2/arch.xml
  testarch/primitives/lutff/lutff.pb_type.xml
  testarch/tile/lutff/lutff.model.xml
  testarch/tile/lutff/lutff.pb_type.xml
  tests/Makefile
  tests/Makefile.artix7
  tests/Makefile.ice40
  tests/Makefile.testarch
  vpr/buf/buf.model.xml
Labels: arch-artix7, arch-base, arch-ice40, arch-test, lang-makefile, lang-xml, type-vpr

#79 Adding running of python tests
  .gitignore
  Makefile
  make/env.mk
  make/inc/env.mk
  utils/Makefile
  utils/conftest.py
  utils/lib/deps.py
  utils/pytest.ini
Labels: lang-makefile, lang-python, type-utils

#80 Use nodejs from conda
  .travis.yml
  make/env.mk
  make/gen.mk
  make/inc/env.mk
  make/sim.mk
  make/third_party.mk
Labels: lang-makefile, type-build, type-sim

#82 make: `dist-clean` depends on `clean` now.
  Makefile
Labels: lang-makefile

#77 Improvements to XML from Verilog Generation
  artix7/primitives/slicel/carry4/carry4.model.xml
  artix7/primitives/slicel/carry4/carry4.pb_type.xml
  artix7/primitives/slicel/carry4/carry4.sim.v
  artix7/primitives/slicel/carry4/carry4_complete/carry4/carry4.model.xml
  artix7/primitives/slicel/carry4/carry4_complete/carry4/carry4.pb_type.xml
  artix7/primitives/slicel/carry4/carry4_complete/carry4_complete.model.xml
  artix7/primitives/slicel/carry4/carry4_complete/carry4_complete.pb_type.xml
  artix7/primitives/slicel/carry4/carry4_complete/carry4_complete.sim.v
  artix7/primitives/slicel/carry4/carry4_split/carry4_split.model.xml
  artix7/primitives/slicel/carry4/carry4_split/carry4_split.pb_type.xml
  artix7/primitives/slicel/carry4_modes/Makefile.v2x
  artix7/primitives/slicel/carry4_modes/carry4/Makefile.v2x
  artix7/primitives/slicel/carry4_modes/carry4/carry4.sim.v
  artix7/primitives/slicel/carry4_modes/carry4_modes.sim.v
  artix7/primitives/slicel/carry4_modes/carry4_split/Makefile.v2x
  artix7/primitives/slicel/carry4_modes/carry4_split/carry4_Nmux/Makefile.N
  artix7/primitives/slicel/carry4_modes/carry4_split/carry4_Nmux/Makefile.mux
  artix7/primitives/slicel/carry4_modes/carry4_split/carry4_Nxor/Makefile.N
  artix7/primitives/slicel/carry4_modes/carry4_split/carry4_Nxor/Makefile.v2x
  artix7/primitives/slicel/carry4_modes/carry4_split/carry4_Nxor/ntemplate.carry4_Nxor.sim.v
  artix7/primitives/slicel/carry4_modes/carry4_split/carry4_split.sim.v
  artix7/primitives/slicel/slicel.model.xml
  artix7/primitives/slicel/slicel.pb_type.xml
  artix7/primitives/slicel/slicel.sim.v
  testarch/primitives/ff/Makefile.v2x
  testarch/primitives/ff/ff.model.xml
  testarch/primitives/ff/ff.pb_type.xml
  testarch/primitives/ff/ff.sim.v
  testarch/primitives/lut/Makefile.v2x
  testarch/primitives/lut/lut.model.xml
  testarch/primitives/lut/lut.pb_type.xml
  testarch/primitives/lut/lut.sim.v
  testarch/primitives/lutff/Makefile.v2x
  testarch/primitives/lutff/lutff.model.xml
  testarch/primitives/lutff/lutff.pb_type.xml
  testarch/primitives/lutff/lutff.sim.v
  utils/vlog/tests/adder/adder.sim.v
  utils/vlog/tests/adder/model.xml
  utils/vlog/tests/adder/pb_type.xml
  utils/vlog/tests/dff/dff.sim.v
  utils/vlog/tests/dff/model.xml
  utils/vlog/tests/dff/pb_type.xml
  utils/vlog/tests/lut2/lut2.sim.v
  utils/vlog/tests/lut2/model.xml
  utils/vlog/tests/lut2/pb_type.xml
  utils/vlog/tests/model.xml
  utils/vlog/tests/pb_type.xml
  utils/vlog/tests/run.sh
  utils/vlog/tests/tests.sim.v
  utils/vlog/vlog_to_model.py
  utils/vlog/vlog_to_pbtype.py
  utils/vlog/xmlinc.py
  utils/vlog/yosys/json.py
  utils/vlog/yosys/run.py
Labels: arch-artix7, arch-test, lang-verilog, lang-xml, type-sim, type-utils, type-vpr

#84 Upgrade VPR arch: remove default_ prefix from <fc> attributes
  artix7/blocks/clbll_l-int_l/pb_type.xml
  artix7/blocks/int_r-clbll_r/pb_type.xml
  artix7/devices/xc7a50t-roi-virt/dummy/dummy.sh
  artix7/devices/xc7a50t-virt/arch.xml.unused
  artix7/dummy.xml
  artix7/empty.xml
  ice40/cells/plb/plb.pb_type.xml
  ice40/devices/ice4/arch.xml
  ice40/tiles/pio-lr/pio-lr.pb_type.xml
  ice40/tiles/pio-tb/pio-tb.pb_type.xml
  ice40/tiles/plb/plb.pb_type.xml
  ice40/tiles/ramb/ramb.pb_type.xml
  ice40/tiles/ramt/ramt.pb_type.xml
  testarch/tile/ff-large/ff-large.pb_type.xml
  testarch/tile/ff1/ff1.pb_type.xml
  testarch/tile/lutff/lutff.pb_type.xml
  testarch/tile/lutff3/lutff3.pb_type.xml
  vpr/pad/pad.pb_type.xml
Labels: arch-artix7, arch-base, arch-ice40, arch-test, lang-xml, type-vpr

#85 Fix MUX generation and remove generated SLICEM merged.xml files
  artix7/primitives/slicem/slicem.model.merged.xml
  artix7/primitives/slicem/slicem.pb_type.merged.xml
  utils/mux_gen.py
  vpr/muxes/logic/mux2/mux2.sim.v
Labels: arch-artix7, arch-base, lang-python, lang-verilog, lang-xml, type-sim, type-utils
