Repository f4pga/f4pga-arch-defs, pull requests merged in 2018-04, with the labels that each got.

#52 Python library for working with rr_graph files.
  README.md
  ice40/utils/icebox-rr_graph-import.py
  testarch/devices/lutff/arch.xml
  tests/Makefile
  utils/lib/asserts.py
  utils/lib/rr_graph/__init__.py
  utils/lib/rr_graph/__main__.py
  utils/lib/rr_graph/channel.py
  utils/lib/rr_graph/graph.py
  vpr/ibuf/ibuf.pb_type.xml
  vpr/obuf/obuf.pb_type.xml
Labels: arch-artix7, arch-base, arch-ice40, arch-test, lang-makefile, lang-python, lang-verilog, lang-xml, type-docs, type-sim, type-utils, type-vpr

#91 Cleanup and fixes to testarch
  testarch/devices/ff-large/arch.xml
  testarch/devices/ff1/arch.xml
  testarch/devices/lutff/arch.xml
  testarch/devices/lutff3/arch.xml
  testarch/devices/test2/arch.xml
  testarch/primitives/lutff/Makefile.v2x
  testarch/primitives/lutff/lutff.model.xml
  testarch/primitives/lutff/lutff.pb_type.xml
  testarch/primitives/lutff/unused.lutff.sim.v
  testarch/tile/lutff/lutff.pb_type.xml
  testarch/tile/lutff3/lutff3.model.xml
  testarch/tile/lutff3/lutff3.pb_type.xml
  testarch/tiles/ff-large/ff-large.model.xml
  testarch/tiles/ff-large/ff-large.pb_type.xml
  testarch/tiles/ff1/ff1.model.xml
  testarch/tiles/ff1/ff1.pb_type.xml
  testarch/tiles/lutff/lutff.model.xml
  testarch/tiles/lutff/lutff.pb_type.xml
  testarch/tiles/lutff3/lutff3.model.xml
  testarch/tiles/lutff3/lutff3.pb_type.xml
  tests/Makefile.testarch
  vpr/ibuf/ibuf.pb_type.xml
  vpr/obuf/obuf.pb_type.xml
Labels: arch-base, arch-test, lang-verilog, lang-xml, type-sim, type-vpr

#98 ice40: Converted LUT primitive to match naming specification
  ice40/cells/lut_carry/lut_carry.pb_type.xml
  ice40/primitives/sb_lut/sb_lut.pb_type.xml
Labels: arch-ice40, lang-xml, type-vpr

#103 Adding autoformatting
  make/env.mk
  make/inc/env.mk
  utils/Makefile
  utils/conftest.py
  utils/deps_verilog.py
  utils/deps_xml.py
  utils/lib/argparse_extra.py
  utils/lib/asserts.py
  utils/lib/deps.py
  utils/lib/mux.py
  utils/listdirs.py
  utils/listfiles.py
  utils/mux_gen.py
  utils/n.py
  utils/newest.py
  utils/vlog/vlog_to_model.py
  utils/vlog/vlog_to_pbtype.py
  utils/vlog/xmlinc.py
  utils/vlog/yosys/json.py
  utils/vlog/yosys/run.py
  utils/vlog/yosys/utils.py
Labels: lang-makefile, lang-python, type-utils
