Repository f4pga/f4pga-arch-defs, pull requests merged in 2018-05, with the labels that each got.

#107 Add more detail to getting started section of README.
  README.md
Labels: type-docs

#109 ice40: Implemented PIO detail, and updated PLB structure for integration with HLC output
  ice40/cells/io_local/io_local.pb_type.xml
  ice40/cells/lut_carry/lut_carry.pb_type.xml
  ice40/cells/plb_local/plb_local.pb_type.xml
  ice40/devices/layouts/N1k/ntemplate.N1k.fixed_layout.xml
  ice40/devices/layouts/N384/ntemplate.N384.fixed_layout.xml
  ice40/devices/layouts/N8k/ntemplate.N8k.fixed_layout.xml
  ice40/devices/layouts/test4/test4.fixed_layout.xml
  ice40/devices/tile-routing-virt/arch.xml
  ice40/devices/tile-routing-virt/tiles/pio-b/pio-b.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio-l/pio-l.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio-lr/pio-lr.fc.xml
  ice40/devices/tile-routing-virt/tiles/pio-lr/pio-lr.interconnect.xml
  ice40/devices/tile-routing-virt/tiles/pio-lr/pio-lr.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio-r/pio-r.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio-t/pio-t.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio-tb/pio-tb.fc.xml
  ice40/devices/tile-routing-virt/tiles/pio-tb/pio-tb.interconnect.xml
  ice40/devices/tile-routing-virt/tiles/pio-tb/pio-tb.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio/pio.interconnect.xml
  ice40/devices/tile-routing-virt/tiles/pio/pio.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/plb/plb.pb_type.xml
  ice40/primitives/sb_io/sb_io.pb_type.xml
  ice40/primitives/sb_lut/sb_lut.pb_type.xml
Labels: arch-ice40, lang-xml, type-vpr

#108 ice40: Fabric fixes
  artix7/blocks/clbll_l-int_l/pb_type.xml
  artix7/blocks/int_r-clbll_r/pb_type.xml
  artix7/devices/xc7a50t-roi-virt/arch.xml
  ice40/devices/tile-routing-virt/arch.xml
  ice40/devices/tile-routing-virt/tiles/pio-lr/pio-lr.fc.xml
  ice40/devices/tile-routing-virt/tiles/pio-tb/pio-tb.fc.xml
  ice40/devices/tile-routing-virt/tiles/plb/plb.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/ramb/ramb.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/ramt/ramt.pb_type.xml
  ice40/devices/top-routing-virt/arch.xml
  ice40/devices/top-routing-virt/tiles/pio/pio.pb_types.xml
  ice40/devices/top-routing-virt/tiles/plb/plb.pb_type.xml
  ice40/devices/top-routing-virt/tiles/ramb/ramb.pb_type.xml
  ice40/devices/top-routing-virt/tiles/ramt/ramt.pb_type.xml
  testarch/devices/routing/unidir-s4.xml
  tests/Makefile
Labels: arch-artix7, arch-ice40, arch-test, lang-makefile, lang-python, lang-xml, type-utils, type-vpr

#97 Add Cocotb test framework for testing sim.v files
  Makefile
  artix7/primitives/slicel/Nlut/simtest/Makefile
  artix7/primitives/slicel/Nlut/simtest/test_alut.py
  make/env.mk
  make/inc/env.mk
  pylintrc
  vpr/muxes/logic/mux2/simtest/Makefile
  vpr/muxes/logic/mux2/simtest/test_mux2.py
Labels: arch-artix7, arch-base, lang-makefile, lang-python, third-party

#114 Patches to facilitate HLC output
  ice40/cells/ff/ff.interconnect.xml
  ice40/cells/ff/ff.ports.xml
  ice40/cells/ff_array/ff_array.interconnect.xml
  ice40/cells/ff_array/ff_array.pb_type.xml
  ice40/cells/plb_local/plb_local.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio-b/pio-b.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio-l/pio-l.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio-r/pio-r.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio-t/pio-t.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/pio/pio.interconnect.xml
  ice40/devices/tile-routing-virt/tiles/pio/pio.pb_type.xml
  ice40/devices/tile-routing-virt/tiles/plb/plb.pb_type.xml
Labels: arch-ice40, lang-xml, type-vpr

#124 Scripts executable
  utils/print_graph.py
  utils/reparse_graph.py
  utils/testarch_graph.py
Labels: lang-python, type-utils

#127 rr_graph: Fixing print_graph tool
  utils/lib/rr_graph/graph.py
  utils/print_graph.py
Labels: lang-python, type-utils

#126 rr_graph: Adding more sanity checking.
  utils/lib/rr_graph/graph.py
  utils/print_graph.py
Labels: lang-python, type-utils

#128 rr_graph: Add port names+index to the pretty print when available.
  ice40/utils/ice40_patch_routing_from_icebox.py
  utils/lib/collections_extra.py
  utils/lib/rr_graph/graph.py
  utils/print_graph.py
Labels: arch-ice40, lang-python, type-utils

#129 rr_graph: remove pin index
  utils/lib/rr_graph/graph.py
Labels: lang-python, type-utils
