Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-05, with the labels that each got.

#657 utils: v2x: handle implicit cells
  utils/vlog/vlog_to_pbtype.py
  utils/vlog/yosys/json.py
Labels: lang-python, type-utils

#671 Symlinks do not need to depend on their source.
  common/cmake/file_targets.cmake
Labels: type-utils

#663 Remodel RAM as dual-port fracturable
  xc7/primitives/slicem/Ndram/CMakeLists.txt
  xc7/primitives/slicem/Ndram/d_dram.pb_type.xml
  xc7/primitives/slicem/Ndram/d_dram128.pb_type.xml
  xc7/primitives/slicem/Ndram/dpram32.pb_type.xml
  xc7/primitives/slicem/Ndram/dpram64.pb_type.xml
  xc7/primitives/slicem/Ndram/dpram64_for_ram128x1d.pb_type.xml
  xc7/primitives/slicem/Ndram/ntemplate.N_dram.model.xml
  xc7/primitives/slicem/Ndram/ntemplate.N_dram.pb_type.xml
  xc7/primitives/slicem/Ndram/ntemplate.N_dram128.pb_type.xml
  xc7/primitives/slicem/Ndram/ntemplate.spram64_N.model.xml
  xc7/primitives/slicem/Ndram/ntemplate.spram64_N.pb_type.xml
  xc7/primitives/slicem/Ndram/spram32.pb_type.xml
  xc7/primitives/slicem/Ndram/spram64.pb_type.xml
  xc7/primitives/slicem/Ndram/spram64_for_ram128x1s.pb_type.xml
  xc7/primitives/slicem/slicem.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/dram/CMakeLists.txt
  xc7/tests/dram_shifter/CMakeLists.txt
  xc7/tests/dram_shifter/dram_shifter_128x1d.v
  xc7/tests/dram_shifter/dram_shifter_128x1s.v
  xc7/tests/dram_shifter/dram_shifter_256x1s.v
Labels: lang-verilog, lang-xml, type-vpr

#676 Test packing 8 RAM32X1S's in a slice
  xc7/primitives/slicem/slicem.pb_type.xml
  xc7/tests/dram/CMakeLists.txt
  xc7/tests/dram/dram_8_32x1s.pcf
  xc7/tests/dram/dram_8_32x1s.v
Labels: lang-verilog, lang-xml, type-vpr

#683 Bunch of small cmake fixes
  common/cmake/devices.cmake
  common/cmake/env.cmake
  common/cmake/xml.cmake
Labels: type-utils

#674 v2x: Add support for arrays of modules
  utils/vlog/tests/CMakeLists.txt
  utils/vlog/tests/multiple_instance/CMakeLists.txt
  utils/vlog/tests/multiple_instance/golden.model.xml
  utils/vlog/tests/multiple_instance/golden.pb_type.xml
  utils/vlog/tests/multiple_instance/multiple_instance.sim.v
  utils/vlog/vlog_to_pbtype.py
Labels: lang-python, lang-verilog, lang-xml, type-sim, type-utils, type-vpr

#677 Add bram_shifter to test block RAM
  xc7/tests/CMakeLists.txt
  xc7/tests/bram_shifter/CMakeLists.txt
  xc7/tests/bram_shifter/bram_shifter.v
Labels: lang-verilog

#665 Implement CLB tile split
  CMakeLists.txt
  tests/9-soc/picosoc/CMakeLists.txt
  utils/lib/connection_database.py
  utils/lib/connection_database.sql
  utils/tile_splitter/__init__.py
  utils/tile_splitter/grid.py
  utils/tile_splitter/tests/__init__.py
  utils/tile_splitter/tests/test_grid.py
  xc7/archs/artix7/devices/xc7a50t-arty-roi-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-basys3-roi-virt/CMakeLists.txt
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/archs/artix7/tiles/slicel/CMakeLists.txt
  xc7/archs/artix7/tiles/slicem/CMakeLists.txt
  xc7/archs/zynq7/devices/xc7z010-zybo-roi-virt/CMakeLists.txt
  xc7/archs/zynq7/tiles/CMakeLists.txt
  xc7/archs/zynq7/tiles/slicel/CMakeLists.txt
  xc7/archs/zynq7/tiles/slicem/CMakeLists.txt
  xc7/fasm2bels/connection_db_utils.py
  xc7/fasm2bels/make_routes.py
  xc7/fasm2bels/net_map.py
  xc7/make/arch_define.cmake
  xc7/make/project_xray.cmake
  xc7/tests/dram/CMakeLists.txt
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_assign_tile_pin_direction.py
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_create_synth_tiles.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
  xc7/utils/prjxray_synth_tiles_to_pinmap_csv.py
  xc7/utils/prjxray_tile_import.py
Labels: arch-artix7, lang-python, type-utils

#653 Modified prjxray import to add tiles tags
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/archs/artix7/tiles/clbll_r/CMakeLists.txt
  xc7/archs/artix7/tiles/slicel/CMakeLists.txt
  xc7/make/project_xray.cmake
  xc7/tests/dram/CMakeLists.txt
  xc7/utils/README.md
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_physical_tile_import.py
  xc7/utils/prjxray_tile_import.py
Labels: arch-artix7, lang-python, type-docs, type-utils

#691 devices.cmake: added disable check route option
  CMakeLists.txt
  xc7/make/arch_define.cmake
Labels: type-utils

#688 file_targets.cmake: correctly handle included files
  common/cmake/file_targets.cmake
  common/cmake/gen.cmake
  utils/deps_verilog.py
Labels: lang-python, type-utils

#678 Add RAM32M to tech map and tests
  .gitignore
  xc7/primitives/slicem/CMakeLists.txt
  xc7/primitives/slicem/dram_8_output_stub.sim.v
  xc7/primitives/slicem/slicem.model.xml
  xc7/primitives/slicem/slicem.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/dram/CMakeLists.txt
  xc7/tests/dram/dram_1_32m.pcf
  xc7/tests/dram/dram_1_32m.v
  xc7/tests/dram_shifter/CMakeLists.txt
  xc7/tests/dram_shifter/dram_shifter_32m.v
  xc7/tests/dram_test/CMakeLists.txt
  xc7/tests/dram_test/dram_test_32m.v
  xc7/tests/dram_test/dram_test_64x1d.v
Labels: lang-verilog, lang-xml, type-sim, type-vpr

#682 Add RAM64M
  xc7/techmap/cells_map.v
  xc7/tests/dram/CMakeLists.txt
  xc7/tests/dram/dram_1_64m.pcf
  xc7/tests/dram/dram_1_64m.v
  xc7/tests/dram_shifter/CMakeLists.txt
  xc7/tests/dram_shifter/dram_shifter_64m.v
  xc7/tests/dram_test/CMakeLists.txt
  xc7/tests/dram_test/dram_test_64m.v
Labels: lang-verilog, lang-xml, type-sim, type-vpr

#639 Re-enable some v2x tests
  utils/vlog/tests/CMakeLists.txt
  utils/vlog/tests/dsp_combinational/dsp_combinational.sim.v
  utils/vlog/tests/dsp_in_registered/dsp_in_registered.sim.v
  utils/vlog/tests/dsp_in_registered/golden.model.xml
  utils/vlog/tests/dsp_in_registered/golden.pb_type.xml
  utils/vlog/tests/dsp_inout_registered/dsp_inout_registered.sim.v
  utils/vlog/tests/dsp_inout_registered/golden.model.xml
  utils/vlog/tests/dsp_inout_registered/golden.pb_type.xml
  utils/vlog/tests/dsp_inout_registered_dualclk/dsp_inout_registered_dualclk.sim.v
  utils/vlog/tests/dsp_inout_registered_dualclk/golden.model.xml
  utils/vlog/tests/dsp_inout_registered_dualclk/golden.pb_type.xml
  utils/vlog/tests/dsp_modes/dsp_modes.sim.v
  utils/vlog/tests/dsp_modes/golden.model.xml
  utils/vlog/tests/dsp_out_registered/dsp_out_registered.sim.v
  utils/vlog/tests/dsp_out_registered/golden.model.xml
  utils/vlog/tests/dsp_out_registered/golden.pb_type.xml
  utils/vlog/tests/dsp_partial_registered/dsp_partial_registered.sim.v
  utils/vlog/tests/dsp_partial_registered/golden.model.xml
  utils/vlog/tests/fig41-full-adder/adder.sim.v
  utils/vlog/tests/fig42-dff/dff.sim.v
  utils/vlog/vlog_to_model.py
  utils/vlog/vlog_to_pbtype.py
  utils/vlog/yosys/json.py
Labels: lang-python, lang-verilog, lang-xml, type-sim, type-utils, type-vpr

#664 v2x: Adding tests for clock detection
  utils/vlog/tests/CMakeLists.txt
  utils/vlog/tests/clocks/CMakeLists.txt
  utils/vlog/tests/clocks/README.md
  utils/vlog/tests/clocks/dff_comb_one_clock/CMakeLists.txt
  utils/vlog/tests/clocks/dff_comb_one_clock/dff_comb_one_clock.sim.v
  utils/vlog/tests/clocks/dff_comb_one_clock/golden.model.xml
  utils/vlog/tests/clocks/dff_one_clock/CMakeLists.txt
  utils/vlog/tests/clocks/dff_one_clock/dff_one_clock.sim.v
  utils/vlog/tests/clocks/dff_one_clock/golden.model.xml
  utils/vlog/tests/clocks/dff_two_clocks/CMakeLists.txt
  utils/vlog/tests/clocks/dff_two_clocks/dff_two_clocks.sim.v
  utils/vlog/tests/clocks/dff_two_clocks/golden.model.xml
  utils/vlog/tests/clocks/input_attr_clock/CMakeLists.txt
  utils/vlog/tests/clocks/input_attr_clock/golden.model.xml
  utils/vlog/tests/clocks/input_attr_clock/input_attr_clock.sim.v
  utils/vlog/tests/clocks/input_named_clk/CMakeLists.txt
  utils/vlog/tests/clocks/input_named_clk/golden.model.xml
  utils/vlog/tests/clocks/input_named_clk/input_named_clk.sim.v
  utils/vlog/tests/clocks/input_named_rdclk/CMakeLists.txt
  utils/vlog/tests/clocks/input_named_rdclk/golden.model.xml
  utils/vlog/tests/clocks/input_named_rdclk/input_named_rdclk.sim.v
  utils/vlog/tests/clocks/multiple_inputs_named_clk/CMakeLists.txt
  utils/vlog/tests/clocks/multiple_inputs_named_clk/golden.model.xml
  utils/vlog/tests/clocks/multiple_inputs_named_clk/multiple_inputs_named_clk.sim.v
  utils/vlog/tests/clocks/multiple_outputs_named_clk/CMakeLists.txt
  utils/vlog/tests/clocks/multiple_outputs_named_clk/golden.model.xml
  utils/vlog/tests/clocks/multiple_outputs_named_clk/multiple_outputs_named_clk.sim.v
  utils/vlog/tests/clocks/output_attr_clock/CMakeLists.txt
  utils/vlog/tests/clocks/output_attr_clock/golden.model.xml
  utils/vlog/tests/clocks/output_attr_clock/output_attr_clock.sim.v
  utils/vlog/tests/clocks/output_named_clk/CMakeLists.txt
  utils/vlog/tests/clocks/output_named_clk/golden.model.xml
  utils/vlog/tests/clocks/output_named_clk/output_named_clk.sim.v
  utils/vlog/tests/clocks/output_named_rdclk/CMakeLists.txt
  utils/vlog/tests/clocks/output_named_rdclk/golden.model.xml
  utils/vlog/tests/clocks/output_named_rdclk/output_named_rdclk.sim.v
  utils/vlog/vlog_to_model.py
  utils/vlog/yosys/run.py
Labels: lang-verilog, lang-xml, type-docs, type-sim, type-utils, type-vpr

#702 Force bram_shifter to actually use block RAM
  xc7/tests/bram_shifter/bram_shifter.v
Labels: lang-verilog

#713 picosoc: updated README
  tests/9-soc/picosoc/README.md
Labels: type-docs

#672 v2x: Run output produced through vpr
  CMakeLists.txt
  common/cmake/devices.cmake
  common/cmake/gen.cmake
  common/cmake/tools.cmake
  common/cmake/v2x.cmake
  common/cmake/xml.cmake
  utils/CMakeLists.txt
  utils/lib/flatten.py
  utils/lib/pb_type.py
  utils/lib/xmlinc.py
  utils/template.arch.xml
  utils/vlog/tests/CMakeLists.txt
  utils/vlog/tests/clocks/dff_comb_one_clock/CMakeLists.txt
  utils/vlog/tests/clocks/dff_one_clock/CMakeLists.txt
  utils/vlog/tests/clocks/dff_two_clocks/CMakeLists.txt
  utils/vlog/tests/clocks/input_attr_clock/CMakeLists.txt
  utils/vlog/tests/clocks/input_named_clk/CMakeLists.txt
  utils/vlog/tests/clocks/input_named_rdclk/CMakeLists.txt
  utils/vlog/tests/clocks/multiple_inputs_named_clk/CMakeLists.txt
  utils/vlog/tests/clocks/multiple_outputs_named_clk/CMakeLists.txt
  utils/vlog/tests/clocks/output_attr_clock/CMakeLists.txt
  utils/vlog/tests/clocks/output_named_clk/CMakeLists.txt
  utils/vlog/tests/clocks/output_named_rdclk/CMakeLists.txt
  utils/vlog/tests/dsp_combinational/CMakeLists.txt
  utils/vlog/tests/dsp_combinational/dsp_combinational.sim.v
  utils/vlog/tests/dsp_combinational/golden.pb_type.xml
  utils/vlog/tests/dsp_in_registered/CMakeLists.txt
  utils/vlog/tests/dsp_inout_registered/CMakeLists.txt
  utils/vlog/tests/dsp_inout_registered_dualclk/CMakeLists.txt
  utils/vlog/tests/dsp_modes/CMakeLists.txt
  utils/vlog/tests/dsp_out_registered/CMakeLists.txt
  utils/vlog/tests/dsp_out_registered/golden.model.xml
  utils/vlog/tests/dsp_partial_registered/CMakeLists.txt
  utils/vlog/tests/fig41-full-adder/CMakeLists.txt
  utils/vlog/tests/fig42-dff/CMakeLists.txt
  utils/vlog/tests/fig42-dff/dff.sim.v
  utils/vlog/tests/multiple_instance/CMakeLists.txt
  utils/vlog/tests/multiple_instance/golden.model.xml
  utils/vlog/tests/simple_pll/CMakeLists.txt
  utils/vlog/tests/v2x_tests.cmake
  utils/vlog/vlog_to_model.py
  utils/vlog/vlog_to_pbtype.py
  utils/vpr_pbtype_arch_wrapper.py
  utils/vpr_pbtype_to_eblif.py
  xc7/primitives/dsp48e1/nreg/CMakeLists.txt
Labels: dependent, lang-python, lang-verilog, lang-xml, type-docs, type-sim, type-utils, type-vpr

#721 use RAMB18E1 primitive in bram_shifter
  xc7/primitives/bram/bram.pb_type.xml
  xc7/tests/bram_shifter/bram_shifter.v
Labels: lang-verilog, lang-xml, type-vpr

#711 Add Vivado targets
  common/cmake/devices.cmake
  xc7/make/CMakeLists.txt
  xc7/make/device_define.cmake
  xc7/make/vivado.cmake
  xc7/tests/dram_test/CMakeLists.txt
  xc7/utils/output_timing.tcl
  xc7/utils/timing_utils.tcl
  xc7/utils/vivado_create_runme.py
  xc7/utils/vivado_create_sim.py
Labels: lang-python, type-utils

#726 xc7: Fixing mux name.
  xc7/primitives/common_slice/common_slice.pb_type.xml
Labels: lang-xml, type-vpr

#731 travis: Enable running scripts locally.
  .github/travis/common.sh
  .github/travis/script.sh
Labels: type-infra

#735 Add some cell annotations based on net names.
  xc7/fasm2bels/clb_models.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/utils/vivado_create_runme.py
Labels: lang-python, type-utils

#730 Change CARRY0 + 3x CARRY to CARRY4_VPR.
  CMakeLists.txt
  common/xml/fpga_architecture.xsd
  common/xml/routing_resource.xsd
  ice40/devices/top-routing-virt/arch.xml
  testarch/devices/layouts/10x10.fixed_layout.xml
  testarch/primitives/ff/ff.sim.v
  testarch/primitives/lut/lut.sim.v
  tests/9-scalable_proc/CMakeLists.txt
  utils/lib/rr_graph/graph.py
  utils/mux_gen.py
  utils/vlog/tests/clocks/input_attr_clock/input_attr_clock.sim.v
  utils/vlog/tests/clocks/input_named_clk/input_named_clk.sim.v
  utils/vlog/tests/clocks/input_named_rdclk/input_named_rdclk.sim.v
  utils/vlog/tests/clocks/multiple_inputs_named_clk/multiple_inputs_named_clk.sim.v
  utils/vlog/tests/clocks/multiple_outputs_named_clk/multiple_outputs_named_clk.sim.v
  utils/vlog/tests/clocks/output_attr_clock/output_attr_clock.sim.v
  utils/vlog/tests/clocks/output_named_clk/output_named_clk.sim.v
  utils/vlog/tests/clocks/output_named_rdclk/output_named_rdclk.sim.v
  utils/vlog/tests/dsp_combinational/dsp_combinational.sim.v
  utils/vlog/tests/fig41-full-adder/adder.sim.v
  utils/vlog/tests/fig42-dff/dff.sim.v
  utils/vlog/vlog_to_pbtype.py
  vpr/ff/vpr_ff.sim.v
  vpr/muxes/logic/mux8/mux8.sim.v
  xc7/CMakeLists.txt
  xc7/primitives/common_slice/carry/CMakeLists.txt
  xc7/primitives/common_slice/carry/carry.sim.v
  xc7/primitives/common_slice/carry/carry0.sim.v
  xc7/primitives/common_slice/carry/carry4_vpr.model.xml
  xc7/primitives/common_slice/carry/carry4_vpr.pb_type.xml
  xc7/primitives/common_slice/carry/carry4_vpr.sim.v
  xc7/primitives/common_slice/common_slice.model.xml
  xc7/primitives/common_slice/common_slice.pb_type.xml
  xc7/primitives/common_slice/common_slice.sim.v
  xc7/primitives/slicel/slicel.sim.v
  xc7/primitives/slicem/dram_2_output_stub.sim.v
  xc7/primitives/slicem/dram_4_output_stub.sim.v
  xc7/primitives/slicem/dram_8_output_stub.sim.v
  xc7/primitives/tieoff/tieoff.sim.v
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/yosys/synth.tcl
Labels: arch-base, arch-ice40, arch-test, lang-python, lang-verilog, lang-xml, type-sim, type-utils, type-vpr

#747 Enable Cinternal output.
  utils/lib/rr_graph_xml/graph2.py
Labels: lang-python, type-utils

#745 Add SDC support to ADD_FPGA_TARGET.
  common/cmake/devices.cmake
  xc7/tests/common/CMakeLists.txt
  xc7/tests/common/basys3.sdc
  xc7/tests/dram_test/CMakeLists.txt
Labels: type-utils

#744 Make xc7 counter test for basys3 fasm2v compatible.
  xc7/tests/counter/CMakeLists.txt
  xc7/tests/counter/counter_basys3.v
Labels: lang-verilog

#743 Clean JSON5 output to JSON output for Vivado timing output target.
  .github/travis/common.sh
  .travis.yml
  CMakeLists.txt
  requirements.txt
  utils/clean_json5.py
  xc7/make/vivado.cmake
  xc7/utils/timing_summary.py
Labels: lang-python, type-infra, type-utils

#757 Net lookup was not site specific, results in missing and invalid net names
  xc7/fasm2bels/net_map.py
Labels: lang-python

#758 Map wires to nets and flatten wires for easier tracing.
  xc7/fasm2bels/tests/test_verilog_modeling.py
  xc7/fasm2bels/verilog_modeling.py
Labels: lang-python

#760 Increase default buffer delay to be estimate inter-cluster delay.
  xc7/utils/prjxray_arch_import.py
Labels: lang-python, type-utils

#761 Output pre-symbiflow techmap'd Verilog.
  xc7/techmap/unmap.v
  xc7/yosys/synth.tcl
Labels: lang-verilog

#759 [XC7] Use cnames for fasm2v
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/make/arch_define.cmake
Labels: lang-python

#766 [xc7] Add support for bidirection pips.
  utils/lib/connection_database.sql
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#771 de-duplicate r{a,o}m_test.v
  xc7/tests/bram_init_test/CMakeLists.txt
  xc7/tests/bram_sdp_init_test/CMakeLists.txt
  xc7/tests/bram_sdp_init_test/rom_test.v
  xc7/tests/bram_sdp_test/CMakeLists.txt
  xc7/tests/bram_test/CMakeLists.txt
  xc7/tests/bram_test/ram_test.v
  xc7/tests/common/CMakeLists.txt
  xc7/tests/common/ram_test.v
  xc7/tests/common/rom_test.v
  xc7/tests/dram_test/CMakeLists.txt
  xc7/tests/dram_test/ram_test.v
Labels: lang-verilog, type-utils

#773 Correct dependency chain for IO placement file.
  common/cmake/devices.cmake
Labels: type-utils

#770 utils: Fail on doctest.testmod failure.
  utils/deps_verilog.py
  utils/lib/argparse_extra.py
  utils/lib/collections_extra.py
  utils/lib/deps.py
  utils/lib/mux.py
  utils/lib/rr_graph/__main__.py
  utils/lib/rr_graph/channel.py
  utils/lib/rr_graph/graph.py
  utils/lib/rr_graph/tracks.py
  utils/vpr_pbtype_arch_wrapper.py
  utils/vpr_pbtype_to_eblif.py
Labels: lang-python, type-utils

#769 cmake: Fix dependencies for Python targets.
  CMakeLists.txt
  utils/CMakeLists.txt
Labels: type-utils

#786 utils: Fix metadata attributes.
  utils/lib/mux.py
Labels: lang-python, type-utils

#789 xc7: dff: split dff into {FF|REG}_INIT and update timings
  xc7/primitives/ff/ff.model.xml
  xc7/primitives/ff/ff.pb_type.xml
Labels: lang-xml, type-vpr

#783 Small improvements to EBLIF generation
  common/cmake/xml.cmake
  common/xml/convert-pb_type-attributes.xsl
  common/xml/convert_and_merge_composable_fpga_architecture.sh
  common/xml/convert_and_merge_composable_tests/CMakeLists.txt
  common/xml/convert_and_merge_composable_tests/composable-pb_type-inner.xml
  common/xml/convert_and_merge_composable_tests/composable-pb_type-middle.xml
  common/xml/convert_and_merge_composable_tests/composable-pb_type.golden.xml
  common/xml/convert_and_merge_composable_tests/composable-pb_type.xml
  common/xml/convert_and_merge_composable_tests/full-test-inner.xml
  common/xml/convert_and_merge_composable_tests/full-test.xml
  utils/lib/mux.py
  utils/lib/pb_type.py
  utils/lib/pb_type_test.py
  utils/vpr_pbtype_arch_wrapper.py
  utils/vpr_pbtype_to_eblif.py
Labels: lang-python, lang-xml, type-utils

#787 Add Python lint target
  CMakeLists.txt
  common/python_health_helper.sh
  tox.ini
Labels: type-utils

#778 xc7: `DPRAM32` doesn't have `INIT_01` parameter.
  xc7/primitives/slicem/Ndram/dpram32.pb_type.xml
Labels: lang-xml, type-vpr

#792 xc7: Fix formatting in ff XML files.
  xc7/primitives/ff/ff.model.xml
  xc7/primitives/ff/ff.pb_type.xml
Labels: lang-xml, type-vpr

#785 infra: Keep running and then rerun the errors.
  .github/kokoro/ice40.sh
  .github/kokoro/testarch.sh
  .github/kokoro/xc7.sh
Labels: type-infra

#775 xml: Adding tiles schema.
  common/xml/fpga_architecture.xsd
Labels: type-utils

#794 Add docstrings to graph2 channel
  tox.ini
  utils/lib/rr_graph/channel.py
  utils/lib/rr_graph/graph2.py
Labels: lang-python, type-utils

#790 Removed blackbox attribute.
  xc7/techmap/cells_sim.v
Labels: lang-verilog

#680 A tool for traversing VPR routing graph
  utils/rr_graph_walk/README.md
  utils/rr_graph_walk/rr_graph_walk.py
Labels: lang-python, type-docs, type-utils

#800 xc7: Fix alignment in ff.pb_type.xml
  xc7/primitives/ff/ff.pb_type.xml
Labels: lang-xml, type-vpr

#796 Add testbench for ERROR_OUTPUT_LOGIC.
  CMakeLists.txt
  common/cmake/devices.cmake
  tests/7-carry_stress/generate_carry_test.py
  xc7/tests/common/CMakeLists.txt
  xc7/tests/common/error_output_logic.v
  xc7/tests/common/error_output_logic_tb.v
  xc7/tests/common/error_output_logic_unt.v
Labels: lang-python, lang-verilog, type-utils
