Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-06, with the labels that each got.

#803 Add utilities for converting from/to rr graph inodes and routing data…
  xc7/make/arch_define.cmake
  xc7/utils/prjxray_find_inode.py
  xc7/utils/prjxray_lookup_inode.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#727 add RAMB36E1
  xc7/primitives/bram/rambfifo36e1.model.xml
  xc7/primitives/bram/rambfifo36e1.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/bram_init_test/CMakeLists.txt
  xc7/tests/bram_init_test/bram_init_test_18.v
  xc7/tests/bram_init_test/bram_init_test_36.v
  xc7/tests/bram_sdp_init_test/CMakeLists.txt
  xc7/tests/bram_sdp_init_test/bram_sdp_init_test_18.v
  xc7/tests/bram_sdp_init_test/bram_sdp_init_test_36.v
  xc7/tests/bram_sdp_test/CMakeLists.txt
  xc7/tests/bram_sdp_test/bram_sdp_test_18.v
  xc7/tests/bram_sdp_test/bram_sdp_test_36.v
  xc7/tests/bram_shifter/CMakeLists.txt
  xc7/tests/bram_shifter/bram_shifter_18.v
  xc7/tests/bram_shifter/bram_shifter_36.v
  xc7/tests/bram_test/CMakeLists.txt
  xc7/tests/bram_test/bram_test_18.v
  xc7/tests/bram_test/bram_test_36.v
  xc7/tests/common/rom_test.v
  xc7/utils/prjxray_form_channels.py
Labels: lang-python, lang-verilog, lang-xml, type-utils, type-vpr

#812 infra: Output which make targets are being built.
  .github/kokoro/ice40.sh
  .github/kokoro/testarch.sh
  .github/kokoro/tests.sh
  .github/kokoro/xc7.sh
Labels: type-infra

#804 Add resource requirement for running examples
  README.md
Labels: type-docs

#809 xml: Provide better sort order (sort by name) of XML output
  common/cmake/xml.cmake
  common/xml/convert_and_merge_composable_fpga_architecture.sh
  common/xml/convert_and_merge_composable_tests/composable-interconnect-existing-fasm-mux.golden.xml
  common/xml/convert_and_merge_composable_tests/composable-interconnect-fasm-mux.golden.xml
  common/xml/convert_and_merge_composable_tests/composable-interconnect-implicit-parent.golden.xml
  common/xml/convert_and_merge_composable_tests/composable-interconnect-pack_patterns.golden.xml
  common/xml/convert_and_merge_composable_tests/composable-pb_type.golden.xml
  common/xml/convert_and_merge_composable_tests/full-test.golden.xml
  common/xml/convert_and_merge_composable_tests/pack_pattern-copy-direct-ports.golden.xml
  common/xml/convert_and_merge_composable_tests/preserve-interconnect.golden.xml
  common/xml/sort-tags.xsl
Labels: lang-xml, type-utils

#814 Enable flake8 check with limited excluded files
  .github/travis/script.sh
  CMakeLists.txt
  common/cmake/cmake_format.py
  docs/source/conf.py
  tests/9-scalable_proc/utils/rom_generator.py
  tests/9-soc/picosoc/hex2progmem.py
  tox.ini
  utils/rr_graph_walk/rr_graph_walk.py
  utils/update_arch_timings.py
  vpr/muxes/logic/mux2/simtest/test_mux2.py
Labels: arch-base, lang-python, type-docs, type-infra, type-utils

#817 travis: wrap make in function to handle parallel building
  .github/travis/common.sh
  .github/travis/script.sh
Labels: type-infra

#779 xc7: Use the common_slice definition when LUTRAM used as a LUT.
  utils/n.py
  xc7/primitives/slicem/Ndram/ntemplate.N_dram.model.xml
  xc7/primitives/slicem/Ndram/ntemplate.N_dram.pb_type.xml
Labels: arch-ice40, lang-python, lang-xml, type-infra, type-utils, type-vpr

#821 Fix sdf_timing not generating it's output.
  CMakeLists.txt
  common/cmake/env.cmake
  ice40/CMakeLists.txt
  utils/CMakeLists.txt
Labels: arch-ice40, type-utils

#679 A tool for visualizing VPR tile grid
  CMakeLists.txt
  ecp5/ecp5_tile_colormap.json
  requirements.txt
  utils/grid_visualizer/README.md
  utils/grid_visualizer/examples/tilegird_artix7_roi_0_0_52_61.svg
  utils/grid_visualizer/grid_visualizer.py
  utils/grid_visualizer/tile_color_scheme_extractor.py
  xc7/artix7_tile_colormap.json
  xc7/zynq7_tile_colormap.json
Labels: lang-python, type-docs, type-utils

#813 Add missing 2-bit width to RAMB36E1
  xc7/techmap/cells_map.v
Labels: lang-verilog

#825 Fix conda start when running in parallel.
  CMakeLists.txt
  common/cmake/env.cmake
Labels: type-utils

#828 devices.cmake: quiet script registration
  common/cmake/devices.cmake
Labels: type-utils

#830 rr_graph: removing dummy tracks/channels from routing graph
  CMakeLists.txt
  ice40/utils/ice40_generate_routing.py
  ice40/utils/ice40_import_routing_from_icebox.py
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_routing_import.py
Labels: arch-ice40, lang-python, type-utils

#840 Fix some bugs fasm2bels bugs.
  xc7/fasm2bels/clb_models.py
  xc7/fasm2bels/make_routes.py
  xc7/fasm2bels/verilog_modeling.py
Labels: lang-python

#839 Add constraints to scalable_proc, murax, picosoc.
  tests/9-scalable_proc/CMakeLists.txt
  tests/9-soc/murax/CMakeLists.txt
  tests/9-soc/murax/basys3.pcf
  tests/9-soc/murax/basys3.sdc
  tests/9-soc/murax/basys3_toplevel.v
  tests/9-soc/picosoc/CMakeLists.txt
  tests/9-soc/picosoc/basys3_demo.v
Labels: lang-verilog

#859 rr_graph: adding bb place algorithm when creating rr_graph virt
  common/cmake/devices.cmake
Labels: type-utils

#693 iCE40: bel timing import
  common/cmake/devices.cmake
  ice40/CMakeLists.txt
  ice40/devices/top-routing-virt/CMakeLists.txt
  ice40/icestorm.cmake
  ice40/primitives/sb_lut/sb_lut.pb_type.xml
  ice40/primitives/sb_ram/sb_ram.pb_type.xml
  ice40/utils/ice40_import_bel_timing.py
  utils/update_arch_timings.py
  xc7/make/device_define.cmake
Labels: arch-ice40, lang-python, lang-xml, third-party, type-utils, type-vpr

#858 cmake: update VTR and add new command line options
  CMakeLists.txt
  common/cmake/devices.cmake
  ice40/icestorm.cmake
  testarch/CMakeLists.txt
  xc7/make/arch_define.cmake
Labels: arch-ice40, arch-test, type-utils
