Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-09, with the labels that each got.

#964 Refactored timing import with explicit CELL specification and order.
  utils/update_arch_timings.py
  xc7/bels.json
Labels: lang-python, type-utils

#959 SRL32 timings
  xc7/bels.json
  xc7/primitives/slicem/srl/srlc32e_vpr.model.xml
  xc7/primitives/slicem/srl/srlc32e_vpr.pb_type.xml
Labels: lang-python, lang-xml, type-utils, type-vpr

#969 Fixes "git checkout" typo to "git clone"
  xc7/README.md
Labels: type-docs

#872 Revise arch schema
  common/xml/fpga_architecture.xsd
Labels: type-utils

#991 Use ninja build system.
  .github/kokoro/continuous-docs.cfg
  .github/kokoro/continuous-ice40.cfg
  .github/kokoro/continuous-testarch.cfg
  .github/kokoro/continuous-tests.cfg
  .github/kokoro/continuous-xc7.cfg
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-docs.cfg
  .github/kokoro/presubmit-ice40.cfg
  .github/kokoro/presubmit-testarch.cfg
  .github/kokoro/presubmit-tests.cfg
  .github/kokoro/presubmit-xc7.cfg
  .github/kokoro/steps/hostsetup.sh
  .github/kokoro/xc7.sh
  Makefile
Labels: lang-makefile, lang-python, type-infra

#986 Enable connection box lookahead
  CMakeLists.txt
  common/cmake/devices.cmake
  ice40/icestorm.cmake
  xc7/make/arch_define.cmake
  xc7/make/device_define.cmake
  xc7/utils/prjxray_routing_import.py
  xc7/yosys/synth.tcl
Labels: arch-ice40, lang-python, lang-xml, type-infra, type-utils, type-vpr

#993 Remove all non-artifact data to prevent rsync of a ton of data.
  .github/kokoro/ice40.sh
  .github/kokoro/package_results.sh
  .github/kokoro/testarch.sh
  .github/kokoro/xc7.sh
Labels: lang-python, type-infra

#997 Yosys: cells property should not return internal cells
  utils/vlog/yosys/json.py
Labels: lang-python, type-utils

#990 Avoid cache rebuild
  common/cmake/devices.cmake
  utils/check_cache.py
  utils/update_cache.py
Labels: arch-ice40, lang-python, type-utils

#982 Fixes some issues with 64x1D test.
  xc7/tests/dram_test/dram_test_64x1d.v
Labels: lang-verilog

#987 Add utilities for print override delay matrix and connection box lookahead
  CMakeLists.txt
  utils/print_connection_map_lookahead.py
  utils/print_place_delay_matrix.py
Labels: lang-python, type-utils

#999 Add Vivado P&R targets.
  common/cmake/devices.cmake
  tests/9-soc/murax/CMakeLists.txt
  tests/9-soc/picosoc/CMakeLists.txt
  xc7/make/vivado.cmake
  xc7/techmap/unmap.v
  xc7/tests/dram_test/CMakeLists.txt
  xc7/utils/prjxray_pcf_to_xdc.py
Labels: lang-python, lang-verilog, type-utils

#1003 Add ninja runtime data to collected data.
  .github/kokoro/package_results.sh
Labels: type-infra

#988 Update and expand root README.
  README.md
Labels: type-docs

#1010 Add RAMB36 versions of scalable_proc.
  tests/9-scalable_proc/CMakeLists.txt
  tests/9-scalable_proc/utils/rom_generator.py
Labels: lang-python, type-utils

#1007 Correct RAMB36E1 write enables and add fasm2v support.
  xc7/fasm2bels/bram_models.py
  xc7/fasm2bels/make_routes.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/techmap/cells_map.v
  xc7/tests/bram_test/CMakeLists.txt
Labels: lang-python, lang-verilog

#1015 Add IO architecture primitives
  xc7/primitives/CMakeLists.txt
  xc7/primitives/idelaye2/CMakeLists.txt
  xc7/primitives/idelaye2/idelaye2.model.xml
  xc7/primitives/idelaye2/idelaye2.pb_type.xml
  xc7/primitives/ilogice3/CMakeLists.txt
  xc7/primitives/ilogice3/ilogice3.model.xml
  xc7/primitives/ilogice3/ilogice3.pb_type.xml
  xc7/primitives/iob33m/CMakeLists.txt
  xc7/primitives/iob33m/inpad.pb_type.xml
  xc7/primitives/iob33m/iob33m.model.xml
  xc7/primitives/iob33m/iob33m.pb_type.xml
  xc7/primitives/iob33m/outpad.pb_type.xml
  xc7/primitives/ologice3/CMakeLists.txt
  xc7/primitives/ologice3/ologice3.model.xml
  xc7/primitives/ologice3/ologice3.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
Labels: lang-verilog, lang-xml, type-vpr

#1012 Get top-level block names from .net for .place file
  common/cmake/devices.cmake
  utils/vpr_io_place.py
  xc7/make/arch_define.cmake
  xc7/utils/prjxray_create_ioplace.py
Labels: lang-python, type-utils

#1006 Add buttons_arty target
  CMakeLists.txt
  xc7/archs/artix7/devices/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-arty-swbut-roi-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-arty-uart-roi-virt/CMakeLists.txt
  xc7/boards.cmake
  xc7/tests/buttons/CMakeLists.txt
  xc7/tests/buttons/arty.pcf
  xc7/tests/buttons/buttons_arty.v
  xc7/tests/counter/CMakeLists.txt
  xc7/tests/uart_loopback/CMakeLists.txt
Labels: arch-artix7, lang-verilog

#971 utils: update tools script to have a semi-automatic octopus merge
  CMakeLists.txt
  requirements.txt
  utils/update_tools/.gitignore
  utils/update_tools/Makefile
  utils/update_tools/update_tools.py
Labels: lang-makefile, lang-python, type-utils

#1016 Add more details to getting started description
  docs/source/development/prjxray_routing.rst
  docs/source/getting-started.rst
  docs/source/gettingstarted.rst
  docs/source/index.rst
Labels: type-docs

#1028 [xc7] Order pips to use canonical pips between nodes.
  xc7/utils/prjxray_create_edges.py
Labels: lang-python, type-utils

#1025 [xc7] fasm2v fixes for BRAM
  xc7/bels.json
  xc7/primitives/bram/bram.pb_type.xml
  xc7/techmap/cells_map.v
Labels: lang-verilog, lang-xml, type-vpr

#1032 Change theme to Sphinx Material Design
  docs/requirements.txt
  docs/source/conf.py
Labels: lang-python, type-docs

#1036 updated symbiflow archs to integrate the newly added tiles tag in VTR
  CMakeLists.txt
  common/cmake/devices.cmake
  common/cmake/v2x.cmake
  common/xml/fpga_architecture.xsd
  ice40/devices/top-routing-virt/CMakeLists.txt
  testarch/devices/clutff-unidir-s4/CMakeLists.txt
  utils/update_arch_tiles.py
  xc7/archs/artix7/tiles/bram_l/CMakeLists.txt
  xc7/archs/artix7/tiles/bram_r/CMakeLists.txt
  xc7/archs/artix7/tiles/slicel/CMakeLists.txt
  xc7/archs/artix7/tiles/slicem/CMakeLists.txt
  xc7/archs/zynq7/tiles/bram_l/CMakeLists.txt
  xc7/archs/zynq7/tiles/bram_r/CMakeLists.txt
  xc7/archs/zynq7/tiles/slicel/CMakeLists.txt
  xc7/archs/zynq7/tiles/slicem/CMakeLists.txt
  xc7/make/device_define.cmake
  xc7/make/project_xray.cmake
  xc7/primitives/slicem/slicem.pb_type.xml
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_physical_tile_import.py
Labels: arch-artix7, arch-ice40, arch-test, lang-python, lang-xml, type-utils, type-vpr

#1035 Handle site pins that connect to pips not in the same tile.
  utils/lib/connection_database.sql
  xc7/utils/prjxray_assign_tile_pin_direction.py
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_form_channels.py
Labels: lang-python, type-utils

#1038 Refactor channel2 track packing algorithm.
  utils/lib/rr_graph/channel2.py
  utils/lib/rr_graph/tests/test_channel2.py
Labels: lang-python, type-utils
