Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-03, with the labels that each got.

#426 ice40: Temp fix for build by running `abc` separately without -dress
  ice40/yosys/synth.tcl
Labels: arch-ice40

#429 Update symbiflow-arch-defs with changes from upstream Yosys and VPR
  CMakeLists.txt
  make/devices.cmake
  xc7/techmap/cells_map.v
  xc7/tests/CMakeLists.txt
  xc7/tests/bram_sdp_init_test/CMakeLists.txt
  xc7/tests/bram_sdp_init_test/rom_test.v
  xc7/tests/bram_sdp_init_test/top.v
  xc7/utils/prjxray_arch_import.py
Labels: lang-python, lang-verilog, type-utils

#374 Add script to extract module definitions from PDF specs
  xc7/libraries/cells_xtra.v.jinja2
  xc7/libraries/cells_xtra.xml
  xc7/libraries/generate_verilog.py
  xc7/libraries/parse_pdf_modules.py
  xc7/libraries/process.py
Labels: lang-python, lang-xml

#437 picosoc: dividing clock to 25MHz
  soc_tests/picosoc/basys3_demo.v
  soc_tests/picosoc/firmware_noflash.hex
Labels: lang-verilog

#439 Fix Travis CI.
  CMakeLists.txt
Labels: arch-test

#399 Adds tests for graph.py
  README.md
  utils/lib/rr_graph/graph.py
  utils/lib/rr_graph/tests/test_graph.py
Labels: lang-python, type-docs, type-utils

#440 tests: Move soc_tests to tests/9-soc.
  CMakeLists.txt
  tests/9-soc/CMakeLists.txt
  tests/9-soc/murax/CMakeLists.txt
  tests/9-soc/murax/Murax.v
  tests/9-soc/murax/Murax.v_toplevel_system_ram_ram_symbol0.bin
  tests/9-soc/murax/Murax.v_toplevel_system_ram_ram_symbol1.bin
  tests/9-soc/murax/Murax.v_toplevel_system_ram_ram_symbol2.bin
  tests/9-soc/murax/Murax.v_toplevel_system_ram_ram_symbol3.bin
  tests/9-soc/murax/README.md
  tests/9-soc/murax/basys3.pcf
  tests/9-soc/murax/basys3_toplevel.v
  tests/9-soc/murax/hx8k-b-evn.pcf
  tests/9-soc/murax/hx8k_b_evn_toplevel.v
  tests/9-soc/picosoc/CMakeLists.txt
  tests/9-soc/picosoc/README.md
  tests/9-soc/picosoc/basys3.pcf
  tests/9-soc/picosoc/basys3_demo.v
  tests/9-soc/picosoc/basys3_demo_tb.v
  tests/9-soc/picosoc/firmware.hex
  tests/9-soc/picosoc/firmware/Makefile
  tests/9-soc/picosoc/firmware/firmware.c
  tests/9-soc/picosoc/firmware/sections.lds
  tests/9-soc/picosoc/firmware/start.s
  tests/9-soc/picosoc/firmware_noflash.hex
  tests/9-soc/picosoc/hex2progmem.py
  tests/9-soc/picosoc/hx8k-b-evn.pcf
  tests/9-soc/picosoc/hx8kdemo.v
  tests/9-soc/picosoc/hx8kdemo_tb.v
  tests/9-soc/picosoc/picorv32.v
  tests/9-soc/picosoc/picosoc.v
  tests/9-soc/picosoc/picosoc_noflash.v
  tests/9-soc/picosoc/simpleuart.v
  tests/9-soc/picosoc/spiflash.v
  tests/9-soc/picosoc/spiflash_tb.v
  tests/9-soc/picosoc/spimemio.v
  tests/CMakeLists.txt
Labels: lang-makefile, lang-python, lang-verilog, type-docs

#442 docs: Small improvements to the README.
  README.md
Labels: type-docs

#430 Cmake icestorm improvements
  ice40/CMakeLists.txt
  ice40/boards.cmake
  ice40/devices/layouts/icebox/CMakeLists.txt
  ice40/utils/ice40_create_ioplace.py
  ice40/utils/ice40_generate_routing.py
  ice40/utils/ice40_import_layout_from_icebox.py
  ice40/utils/ice40_import_routing_from_icebox.py
  ice40/utils/ice40_list_layout_in_icebox.py
  make/env.cmake
Labels: arch-ice40, lang-python, type-utils

#445 Initial SQLite3 XC7 routing graph implementation.
  utils/lib/connection_database.py
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph_xml/graph2.py
  xc7/make/device_define.cmake
  xc7/make/project_xray.cmake
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_assign_tile_pin_direction.py
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_create_synth_tiles.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, third-party, type-utils

#449 Switch to incremental XML writing to cut down on peak memory usage.
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph_xml/graph2.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#450 Fix bug introduced when switching to incremental XML writing.
  utils/lib/rr_graph_xml/graph2.py
Labels: lang-python, type-utils

#451 Optimize routing import on 7-series.
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph_xml/graph2.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#458 zybo: Updated buttons test to support latest ROI
  xc7/tests/buttons/buttons_zybo.v
  xc7/tests/buttons/zybo.pcf
Labels: lang-verilog

#411 infra: Add Python rr_graph tests to Travis runs
  .travis/script.sh
Labels: lang-python, type-docs, type-infra, type-utils

#461 Two minor fixes.
  Makefile
  xc7/make/project_xray.cmake
Labels: lang-makefile

#469 Fix make call in file.
  Makefile
Labels: lang-makefile

#471 utils: Move the connection db schema into a file.
  utils/lib/connection_database.py
  utils/lib/connection_database.sql
Labels: lang-python, type-utils

#475 connection_database: fixing bug in table_create
  utils/lib/connection_database.py
Labels: lang-python, type-utils

#480 travis: use env variable to run python tests and run earlier
  .travis/script.sh
Labels: type-infra

#483 Ignore INOUT pins for now.
  xc7/utils/prjxray_create_edges.py
Labels: lang-python, type-utils

#487 xc7: fix channel.db dependencies
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#462 Add arty support
  make/devices.cmake
  tests/CMakeLists.txt
  xc7/archs/artix7/CMakeLists.txt
  xc7/archs/artix7/devices/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-arty-roi-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-basys3-roi-virt/CMakeLists.txt
  xc7/archs/zynq7/CMakeLists.txt
  xc7/archs/zynq7/devices/CMakeLists.txt
  xc7/archs/zynq7/devices/xc7z010-zybo-roi-virt/CMakeLists.txt
  xc7/boards.cmake
  xc7/make/arch_define.cmake
  xc7/make/device_define.cmake
  xc7/tests/CMakeLists.txt
  xc7/tests/counter/CMakeLists.txt
  xc7/tests/counter/arty.pcf
  xc7/tests/counter/counter_arty.v
  xc7/tests/uart_loopback/CMakeLists.txt
  xc7/tests/uart_loopback/arty.pcf
  xc7/tests/uart_loopback/uart_loopback.v
Labels: arch-artix7, lang-verilog

#492 Use shorts instead of delayless switches when joining two channels together
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph_xml/graph2.py
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#502 Modify BRAM and DRAM tests to use all top level pins.
  xc7/tests/bram_init_test/top.v
  xc7/tests/bram_sdp_init_test/top.v
  xc7/tests/bram_sdp_test/top.v
  xc7/tests/bram_test/top.v
  xc7/tests/common/basys3.pcf
  xc7/tests/dram_test/top.v
Labels: lang-verilog, type-utils

#504 Move output writing into Yosys tcl script.
  ice40/yosys/synth.tcl
  make/devices.cmake
  testarch/yosys/synth.tcl
  xc7/yosys/synth.tcl
Labels: arch-ice40, arch-test

#490 Scalable test design
  tests/9-scalable_proc/CMakeLists.txt
  tests/9-scalable_proc/README.md
  tests/9-scalable_proc/basys3.pcf
  tests/9-scalable_proc/basys3_top.v
  tests/9-scalable_proc/parametrize.py
  tests/9-scalable_proc/processing_unit.v
  tests/9-scalable_proc/rom.v
  tests/9-scalable_proc/scalable_proc.v
  tests/9-scalable_proc/simpleuart.v
  tests/9-scalable_proc/utils/receiver.py
  tests/9-scalable_proc/utils/rom_generator.py
  tests/CMakeLists.txt
  xc7/tests/CMakeLists.txt
Labels: lang-python, lang-verilog, type-docs, type-utils

#510 Selectable ROM implementation (BRAM or DRAM) for the "9-scalable_test" design
  tests/9-scalable_proc/CMakeLists.txt
  tests/9-scalable_proc/rom.v
  tests/9-scalable_proc/scalable_proc.v
  tests/9-scalable_proc/utils/receiver.py
  tests/9-scalable_proc/utils/rom_generator.py
Labels: lang-python, lang-verilog, type-utils

#512 Fix database cache for in progress transactions.
  xc7/utils/prjxray_db_cache.py
Labels: lang-python, type-utils

#515 Add 10x10 test arch and add const sources.
  common/xml/fpga_architecture.xsd
  testarch/CMakeLists.txt
  testarch/devices/CMakeLists.txt
  testarch/devices/clutff-unidir-s4/arch.xml
  testarch/devices/layouts/10x10.fixed_layout.xml
  testarch/devices/layouts/4x4.fixed_layout.xml
  testarch/devices/layouts/CMakeLists.txt
  testarch/devices/layouts/all.xml
  testarch/primitives/CMakeLists.txt
  testarch/primitives/cgen/CMakeLists.txt
  testarch/primitives/cgen/cgen.pb_type.xml
  testarch/primitives/const/CMakeLists.txt
  testarch/primitives/const/gnd.model.xml
  testarch/primitives/const/gnd.pb_type.xml
  testarch/primitives/const/vcc.model.xml
  testarch/primitives/const/vcc.pb_type.xml
  testarch/tiles/CMakeLists.txt
  testarch/tiles/const/CMakeLists.txt
  testarch/tiles/const/gnd.model.xml
  testarch/tiles/const/gnd.pb_type.xml
  testarch/tiles/const/vcc.model.xml
  testarch/tiles/const/vcc.pb_type.xml
  testarch/utils/testarch_graph.py
  testarch/yosys/synth.tcl
  tests/CMakeLists.txt
Labels: arch-test, lang-python, lang-xml, type-utils, type-vpr

#503 fasm2bels implementation.
  make/devices.cmake
  xc7/fasm2bels/__init__.py
  xc7/fasm2bels/__main__.py
  xc7/fasm2bels/bram_models.py
  xc7/fasm2bels/clb_models.py
  xc7/fasm2bels/clk_models.py
  xc7/fasm2bels/connection_db_utils.py
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/iob_models.py
  xc7/fasm2bels/make_routes.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/make/arch_define.cmake
  xc7/make/device_define.cmake
Labels: lang-python

#516 Convert testarch to graph2 library.
  CMakeLists.txt
  testarch/devices/CMakeLists.txt
  testarch/utils/testarch_graph.py
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph_xml/graph2.py
  xc7/CMakeLists.txt
Labels: arch-test, lang-python, type-utils
