Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-12, with the labels that each got.

#1192 Use length of pip names without trailing numbers.
  xc7/utils/prjxray_edge_library.py
Labels: lang-python, type-utils

#1162 Support for differential IO
  utils/deps_xml.py
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/iob_models.py
  xc7/fasm2bels/utils.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/primitives/CMakeLists.txt
  xc7/primitives/iob33/CMakeLists.txt
  xc7/primitives/iob33/inpad.pb_type.xml
  xc7/primitives/iob33/iob33.model.xml
  xc7/primitives/iob33/iob33.pb_type.xml
  xc7/primitives/iob33/modes/CMakeLists.txt
  xc7/primitives/iob33/modes/ibuf.xml
  xc7/primitives/iob33/modes/iobuf.xml
  xc7/primitives/iob33/modes/no_ibuf.xml
  xc7/primitives/iob33/modes/no_obuf.xml
  xc7/primitives/iob33/modes/obuf.xml
  xc7/primitives/iob33/outpad.pb_type.xml
  xc7/primitives/iob33m/CMakeLists.txt
  xc7/primitives/iob33m/iob33m.model.xml
  xc7/primitives/iob33m/iob33m.pb_type.xml
  xc7/primitives/iob33s/iob33s.model.xml
  xc7/primitives/iob33s/iob33s.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/CMakeLists.txt
  xc7/tests/obufds/CMakeLists.txt
  xc7/tests/obufds/basys3.pcf
  xc7/tests/obufds/obufds_basys3.v
  xc7/tests/obuftds/CMakeLists.txt
  xc7/tests/obuftds/basys3.pcf
  xc7/tests/obuftds/obuftds_basys3.v
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, lang-verilog, lang-xml, type-utils, type-vpr

#1195 Update to latest upstream yosys.
  CMakeLists.txt
  xc7/techmap/cells_map.v
Labels: lang-verilog

#1197 readme: add instruction to correctly compile conda
  README.md
Labels: type-docs

#1158 XDC plugin integration
  CMakeLists.txt
  common/cmake/devices.cmake
  xc7/make/device_define.cmake
  xc7/yosys/synth.tcl
Labels: lang-verilog, type-utils

#1200 Remove ids from old graph library and fix "make test_python".
  utils/lib/rr_graph/graph.py
  xc7/tests/serdes/CMakeLists.txt
  xc7/tests/serdes/generate_tests.py
Labels: lang-python, type-utils

#1170 IOBUF inference using Yosys
  xc7/primitives/iob33/iob33.model.xml
  xc7/primitives/iob33/iob33.pb_type.xml
  xc7/primitives/iob33/modes/ibuf.xml
  xc7/primitives/iob33/modes/obuf.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/techmap/iob_make_wires.v
  xc7/techmap/iob_map.v
  xc7/techmap/iob_unmap.v
  xc7/tests/CMakeLists.txt
  xc7/tests/iobuf_infer/CMakeLists.txt
  xc7/tests/iobuf_infer/basys3.pcf
  xc7/tests/iobuf_infer/iobuf_infer_basys3.v
  xc7/yosys/synth.tcl
Labels: lang-verilog, lang-xml, type-vpr

#1205 Add defaults to gets and fix Tdel bug
  utils/lib/rr_graph/graph.py
  utils/lib/rr_graph/tests/test_graph.py
Labels: lang-python, type-utils

#1174 Add SERDES IDELAY IDELAYCTRL support
  common/cmake/devices.cmake
  ice40/devices/top-routing-virt/CMakeLists.txt
  testarch/devices/clutff-unidir-s4/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-bottom-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/archs/artix7/tiles/clk_bufg_bot_r/CMakeLists.txt
  xc7/archs/artix7/tiles/clk_bufg_top_r/CMakeLists.txt
  xc7/archs/artix7/tiles/clk_hrow_bot_r/CMakeLists.txt
  xc7/archs/artix7/tiles/clk_hrow_top_r/CMakeLists.txt
  xc7/archs/artix7/tiles/hclk_ioi3/CMakeLists.txt
  xc7/fasm2bels/ioi_models.py
  xc7/make/device_define.cmake
  xc7/make/project_xray.cmake
  xc7/primitives/CMakeLists.txt
  xc7/primitives/idelayctrl/CMakeLists.txt
  xc7/primitives/idelayctrl/idelayctrl.model.xml
  xc7/primitives/idelayctrl/idelayctrl.pb_type.xml
  xc7/primitives/idelaye2/idelaye2.model.xml
  xc7/primitives/idelaye2/idelaye2.pb_type.xml
  xc7/primitives/ilogice3/ilogice3.model.xml
  xc7/primitives/ilogice3/ilogice3.pb_type.xml
  xc7/primitives/iob33m/iob33m.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/CMakeLists.txt
  xc7/tests/serdes/CMakeLists.txt
  xc7/tests/serdes/Makefile
  xc7/tests/serdes/README.md
  xc7/tests/serdes/basys3.pcf
  xc7/tests/serdes/comparator.v
  xc7/tests/serdes/lfsr.v
  xc7/tests/serdes/oserdes_test.v
  xc7/tests/serdes/serdes_basys3.v
  xc7/tests/serdes/serdes_basys3_idelay.v
  xc7/tests/serdes/serdes_test.v
  xc7/tests/serdes/serdes_test_idelay.v
  xc7/utils/add_pack_patterns.py
  xc7/utils/prjxray_tile_import.py
Labels: arch-artix7, arch-ice40, arch-test, lang-makefile, lang-python, lang-verilog, lang-xml, type-docs, type-utils, type-vpr

#1203 PLLE2_ADV techmap fix
  xc7/techmap/cells_map.v
Labels: lang-verilog

#1212 Add get defaults for attributes.
  utils/lib/rr_graph_xml/graph2.py
Labels: lang-python, type-utils

#1186 Add placement constraints using LOC
  common/cmake/devices.cmake
  ice40/icestorm.cmake
  testarch/CMakeLists.txt
  utils/vpr_place_constraints.py
  xc7/make/arch_define.cmake
  xc7/make/device_define.cmake
  xc7/tests/buttons/CMakeLists.txt
  xc7/tests/buttons/basys3_x1y0.pcf
  xc7/tests/buttons/buttons_basys3_full.v
  xc7/tests/buttons/buttons_basys3_x1y0.v
  xc7/tests/simple_ff/CMakeLists.txt
  xc7/tests/simple_ff/basys3_x1y0.pcf
  xc7/tests/simple_ff/simple_ff_full.v
  xc7/tests/simple_ff/simple_ff_full_loc.v
  xc7/tests/simple_ff/simple_ff_x1y0.v
  xc7/tests/srl/common/srl32_chain_seg.v
  xc7/tests/srl/common/srl_chain_mixed.v
  xc7/utils/prjxray_create_place_constraints.py
Labels: arch-ice40, arch-test, lang-python, lang-verilog, type-utils

#1216 Fix site pin switch when connecting pip is in another tile.
  xc7/utils/prjxray_edge_library.py
  xc7/utils/prjxray_find_inode.py
Labels: lang-python, type-utils

#1214 iserdes: add missing features
  xc7/fasm2bels/ioi_models.py
  xc7/primitives/ilogice3/ilogice3.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
Labels: lang-python, lang-verilog, lang-xml, type-vpr

#1181 Mini Litex test
  CMakeLists.txt
  utils/deps_verilog.py
  xc7/boards.cmake
  xc7/tests/CMakeLists.txt
  xc7/tests/soc/CMakeLists.txt
  xc7/tests/soc/litex/CMakeLists.txt
  xc7/tests/soc/litex/mini/CMakeLists.txt
  xc7/tests/soc/litex/mini/README.md
  xc7/tests/soc/litex/mini/VexRiscv_Lite.v
  xc7/tests/soc/litex/mini/arty.pcf
  xc7/tests/soc/litex/mini/mem.init
  xc7/tests/soc/litex/mini/mem_1.init
  xc7/tests/soc/litex/mini/mem_2.init
  xc7/tests/soc/litex/mini/minilitex.xdc
  xc7/tests/soc/litex/mini/minilitex_arty.v
  xc7/tests/soc/litex/mini/scripts/minilitex_arty.py
Labels: lang-python, lang-verilog, type-docs, type-utils

#1219 Enable idelayctrl diff fasm
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/hclk_ioi3_models.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/techmap/cells_map.v
  xc7/tests/serdes/CMakeLists.txt
  xc7/tests/serdes/basys3.pcf
  xc7/tests/serdes/serdes_basys3.v
  xc7/tests/serdes/serdes_basys3_idelay.v
  xc7/tests/serdes/serdes_test_idelay.v
Labels: lang-python, lang-verilog

#1217 Enable diff fasm testing on IDELAYCTRL.
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/hclk_ioi3_models.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/techmap/cells_map.v
  xc7/tests/serdes/CMakeLists.txt
  xc7/tests/serdes/basys3.pcf
  xc7/tests/serdes/serdes_basys3_idelay.v
  xc7/tests/serdes/serdes_test_idelay.v
Labels: lang-python, lang-verilog

#1228 Fix dependency typo in V2X path.
  common/cmake/v2x.cmake
Labels: type-utils

#1227 Add support for tile capacity for BUFGCTRL.
  CMakeLists.txt
  utils/create_pinmap.py
  utils/lib/pb_type_xml.py
  xc7/archs/artix7/devices/xc7a50t-basys3-roi-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-bottom-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/archs/artix7/tiles/bufgctrl/CMakeLists.txt
  xc7/archs/artix7/tiles/clk_bufg_bot_r/CMakeLists.txt
  xc7/archs/artix7/tiles/clk_bufg_top_r/CMakeLists.txt
  xc7/make/project_xray.cmake
  xc7/primitives/bufgctrl/CMakeLists.txt
  xc7/primitives/bufgctrl/bufgctrl.model.xml
  xc7/primitives/bufgctrl/bufgctrl.pb_type.xml
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_create_equiv_tiles.py
  xc7/utils/prjxray_import_tile_capacity.py
Labels: arch-artix7, lang-python, lang-xml, type-utils, type-vpr

#1230 Enable LOC constraints of tiles with capacity.
  xc7/fasm2bels/bram_models.py
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/hclk_ioi3_models.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/make/arch_define.cmake
  xc7/tests/soc/litex/mini/CMakeLists.txt
  xc7/tests/soc/litex/mini/minilitex.xdc
  xc7/tests/soc/litex/mini/minilitex_arty.v
  xc7/utils/prjxray_create_place_constraints.py
Labels: lang-python, lang-verilog, type-utils

#1245 kokoro: Fixing the number of runners calculation.
  .github/kokoro/steps/hostinfo.sh
Labels: type-infra

#1247 iserdes: add missing features in xml primitive
  xc7/primitives/ilogice3/ilogice3.pb_type.xml
Labels: lang-xml, type-vpr

#1240 Zynq PS7 support
  xc7/archs/zynq7/devices/xc7z010-virt/CMakeLists.txt
  xc7/archs/zynq7/tiles/CMakeLists.txt
  xc7/archs/zynq7/tiles/pss2/CMakeLists.txt
  xc7/fasm2bels/fasm2bels.py
  xc7/primitives/CMakeLists.txt
  xc7/primitives/ps7/CMakeLists.txt
  xc7/primitives/ps7/ps7.model.xml
  xc7/primitives/ps7/ps7.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/CMakeLists.txt
  xc7/tests/ps7/CMakeLists.txt
  xc7/tests/ps7/axi_lite_reg/AxiPeriph.v
  xc7/tests/ps7/axi_lite_reg/CMakeLists.txt
  xc7/tests/ps7/axi_lite_reg/Readme.md
  xc7/tests/ps7/axi_lite_reg/axi_reg.v
  xc7/tests/ps7/axi_lite_reg/build.py
  xc7/tests/ps7/axi_lite_reg/zybo.pcf
  xc7/tests/ps7/axi_lite_reg/zybo.xdc
  xc7/tests/ps7/counter_emio/CMakeLists.txt
  xc7/tests/ps7/counter_emio/counter_emio.v
  xc7/tests/ps7/counter_emio/zybo.pcf
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_tile_import.py
Labels: arch-artix7, lang-python, lang-verilog, lang-xml, third-party, type-docs, type-utils, type-vpr

#1222 Support for all currently solved IO settings
  common/cmake/devices.cmake
  ice40/boards.cmake
  tests/CMakeLists.txt
  utils/vpr_io_place.py
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/iob_models.py
  xc7/primitives/iob33/modes/ibuf.xml
  xc7/primitives/iob33/modes/iobuf.xml
  xc7/primitives/iob33/modes/obuf.xml
  xc7/primitives/iob33m/iob33m.pb_type.xml
  xc7/primitives/iob33s/iob33s.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/techmap/iob_map.v
  xc7/techmap/iob_unmap.v
  xc7/tests/CMakeLists.txt
  xc7/tests/iobuf/iobuf_basys3.v
  xc7/tests/iobuf_i2c/iobuf_i2c_basys3.v
  xc7/tests/iosettings/CMakeLists.txt
  xc7/tests/iosettings/README.md
  xc7/tests/iosettings/generate.py
  xc7/utils/prjxray_create_ioplace.py
Labels: arch-ice40, lang-python, lang-verilog, lang-xml, third-party, type-docs, type-infra, type-utils, type-vpr

#1242 xc7: added RL_IOI_SING tile pips correct fasm_feature
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#1253 kokoro: Update to a newer cmake version.
  .github/kokoro/steps/hostsetup.sh
Labels: type-infra
