Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-11, with the labels that each got.

#1124 Add site pin delay to connection box annotation.
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph_xml/graph2.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#1130 Add initial FASM2BELs README.
  xc7/fasm2bels/README.md
Labels: type-docs

#1136 Fix dependency link between add_thirdparty_package.
  common/cmake/env.cmake
  ice40/icestorm.cmake
Labels: arch-ice40, type-utils

#1138 Update symbiflow-arch-def debugging tools
  utils/convert_connection_box_to_mat.py
  utils/lib/connection_box_tools.py
  utils/simple_router_analysis.py
  xc7/utils/animate_router_pop.py
Labels: lang-python, type-utils

#1141 utils: fix code-style error
  utils/simple_router_analysis.py
Labels: lang-python, type-utils

#1137 Update segments with GCLK and PLL in/out pin feeds.
  xc7/utils/prjxray_define_segments.py
  xc7/utils/prjxray_edge_library.py
Labels: lang-python, type-utils

#1139 Change update_tools to avoid requiring force pushes all the time.
  utils/update_tools/update_tools.py
Labels: lang-python, type-utils

#1142 Initial ROI breakout PR
  tests/9-soc/murax/CMakeLists.txt
  tests/9-soc/murax/basys3_toplevel_no_roi.v
  tests/9-soc/picosoc/CMakeLists.txt
  tests/9-soc/picosoc/basys3_demo_no_roi.v
  xc7/archs/artix7/devices/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc7/make/arch_define.cmake
  xc7/make/device_define.cmake
  xc7/tests/counter/CMakeLists.txt
  xc7/tests/counter/counter_basys3.v
  xc7/utils/prjxray_edge_library.py
Labels: arch-artix7, lang-python, lang-verilog, type-utils

#1146 Initial xc7-vendor configs and script.
  .github/kokoro/continuous-xc7-vendor.cfg
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-xc7-vendor.cfg
  .github/kokoro/xc7-vendor.sh
Labels: lang-python, type-infra

#1147 [xc7] Enable all working FASM diff tests, disable failing tests
  .github/kokoro/xc7-vendor.sh
  xc7/make/vivado.cmake
  xc7/tests/buttons/CMakeLists.txt
  xc7/tests/counter/CMakeLists.txt
  xc7/tests/pll/CMakeLists.txt
  xc7/tests/simple_ff/CMakeLists.txt
  xc7/tests/srl/srl16_chain/CMakeLists.txt
  xc7/tests/srl/srl32_amc31/CMakeLists.txt
  xc7/tests/srl/srl32_chain/CMakeLists.txt
  xc7/tests/srl/srl32_shift/CMakeLists.txt
Labels: type-infra

#1143 Refactor CMake system to enable ROI-less xc7 graphs that share arches.
  CMakeLists.txt
  common/cmake/devices.cmake
  ice40/boards.cmake
  ice40/devices/layouts/icebox/CMakeLists.txt
  tests/9-soc/murax/CMakeLists.txt
  tests/9-soc/picosoc/CMakeLists.txt
  xc7/archs/artix7/devices/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-arty-swbut-roi-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-arty-uart-roi-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-basys3-roi-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc7/archs/zynq7/devices/CMakeLists.txt
  xc7/archs/zynq7/devices/xc7z010-zybo-roi-virt/CMakeLists.txt
  xc7/boards.cmake
  xc7/make/arch_define.cmake
  xc7/make/device_define.cmake
  xc7/make/vivado.cmake
  xc7/tests/CMakeLists.txt
  xc7/tests/buttons/CMakeLists.txt
  xc7/tests/counter/CMakeLists.txt
  xc7/tests/pll/CMakeLists.txt
  xc7/tests/simple_ff/CMakeLists.txt
  xc7/utils/prjxray_edge_library.py
Labels: arch-artix7, arch-ice40, lang-python, type-utils

#1148 IOBUF support
  common/cmake/devices.cmake
  ice40/icestorm.cmake
  ice40/yosys/conv.tcl
  ice40/yosys/synth.tcl
  testarch/CMakeLists.txt
  testarch/yosys/conv.tcl
  testarch/yosys/synth.tcl
  utils/split_inouts.py
  utils/vpr_io_place.py
  xc7/archs/artix7/CMakeLists.txt
  xc7/archs/zynq7/CMakeLists.txt
  xc7/fasm2bels/iob_models.py
  xc7/fasm2bels/ioi_models.py
  xc7/make/arch_define.cmake
  xc7/primitives/iob33/iob33.model.xml
  xc7/primitives/iob33/iob33.pb_type.xml
  xc7/primitives/ologice3/ologice3.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/CMakeLists.txt
  xc7/tests/README.md
  xc7/tests/iobuf/CMakeLists.txt
  xc7/tests/iobuf/basys3.pcf
  xc7/tests/iobuf/iobuf_basys3.v
  xc7/tests/iobuf_i2c/CMakeLists.txt
  xc7/tests/iobuf_i2c/basys3.pcf
  xc7/tests/iobuf_i2c/i2c_master.v
  xc7/tests/iobuf_i2c/i2c_probe.v
  xc7/tests/iobuf_i2c/i2c_scan.v
  xc7/tests/iobuf_i2c/i2c_slave.v
  xc7/tests/iobuf_i2c/iobuf_i2c_basys3.v
  xc7/tests/iobuf_i2c/simpleuart.v
  xc7/yosys/conv.tcl
  xc7/yosys/synth.tcl
Labels: arch-artix7, arch-ice40, arch-test, lang-python, lang-verilog, lang-xml, type-docs, type-utils, type-vpr

#1154 Add PLL site equivilance.
  xc7/archs/artix7/devices/xc7a50t-bottom-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/bels.json
  xc7/make/project_xray.cmake
  xc7/tests/CMakeLists.txt
  xc7/tests/pll/CMakeLists.txt
  xc7/tests/pll/basys3_x1y0.pcf
  xc7/tests/pll/plle2_test.v
  xc7/utils/prjxray_create_equiv_tiles.py
Labels: arch-artix7, lang-python, lang-verilog, third-party, type-utils

#1163 arch: remove priority from physical tiles
  xc7/make/project_xray.cmake
  xc7/utils/prjxray_create_equiv_tiles.py
  xc7/utils/prjxray_physical_tile_import.py
Labels: lang-python, type-utils

#1180 Print QoR for multi-clock designs.
  utils/print_qor.py
Labels: lang-python, type-utils

#1176 Attempt to fix pip ordering to match canonical ordering.
  xc7/utils/prjxray_edge_library.py
Labels: lang-python, type-utils

#1173 Update VtR with new-equivalent-tiles integration
  CMakeLists.txt
  xc7/utils/prjxray_create_equiv_tiles.py
  xc7/utils/prjxray_physical_tile_import.py
Labels: lang-python, type-utils

#1184 routing import: add also left HCLK wires to BUFHCE in check feature
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils
