Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-02, with the labels that each got.

#352 XC7 tests fix
  xc7/tests/buttons/CMakeLists.txt
  xc7/tests/buttons/buttons_basys3.v
  xc7/tests/buttons/buttons_zybo.v
  xc7/tests/buttons/zybo.pcf
  xc7/tests/counter/basys3.pcf
  xc7/tests/counter/counter.v
  xc7/tests/counter/zybo.pcf
  xc7/utils/prjxray_arch_import.py
Labels: lang-python, lang-verilog, type-utils

#354 Fix VPR_ARCH_ARGS
  ice40/CMakeLists.txt
  make/devices.cmake
  xc7/make/arch_define.cmake
Labels: arch-ice40

#321 Initial XC7-BRAM support in VPR.
  xc7/archs/artix7/CMakeLists.txt
  xc7/archs/zynq7/CMakeLists.txt
  xc7/primitives/bram/bram.pb_type.xml
  xc7/primitives/bram/ramb18e1.model.xml
  xc7/primitives/bram/ramb18e1.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/bram/bram.v
  xc7/utils/prjxray_arch_import.py
Labels: arch-artix7, lang-python, lang-verilog, lang-xml, third-party, type-utils, type-vpr

#358 Fixup errors in BRAM XML.
  xc7/primitives/bram/bram.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
Labels: lang-verilog, lang-xml, type-vpr

#359 Convert yosys scripts to TCL.
  ice40/CMakeLists.txt
  ice40/yosys/synth.tcl
  make/devices.cmake
  xc7/archs/artix7/CMakeLists.txt
  xc7/archs/zynq7/CMakeLists.txt
  xc7/yosys/synth.tcl
Labels: arch-artix7, arch-ice40

#361 Modify how CELLS_SIM is defined to allow for symbiflow specific simulation models.
  ice40/CMakeLists.txt
  make/devices.cmake
  xc7/make/arch_define.cmake
  xc7/techmap/cells_sim.v
Labels: arch-ice40, lang-verilog

#364 Convert testarch to tcl yosys script.
  testarch/CMakeLists.txt
  testarch/yosys/synth.tcl
Labels: arch-test

#355 Add support for specifying version and build for conda packages
  make/env.cmake
Labels: third-party

#369 xc7: tests: add chain packing test
  xc7/tests/CMakeLists.txt
  xc7/tests/chain_packing/CMakeLists.txt
  xc7/tests/chain_packing/basys3.pcf
  xc7/tests/chain_packing/counter.v
Labels: lang-verilog

#368 Picosoc without SPI flash
  soc_tests/picosoc/CMakeLists.txt
  soc_tests/picosoc/README.md
  soc_tests/picosoc/basys3.pcf
  soc_tests/picosoc/basys3_demo.v
  soc_tests/picosoc/firmware/Makefile
  soc_tests/picosoc/firmware/firmware.c
  soc_tests/picosoc/firmware/sections.lds
  soc_tests/picosoc/firmware/start.s
  soc_tests/picosoc/firmware_noflash.hex
  soc_tests/picosoc/hex2progmem.py
  soc_tests/picosoc/picosoc_noflash.v
  soc_tests/picosoc/progmem.v
  soc_tests/picosoc/progmem.v.template
Labels: lang-makefile, lang-python, lang-verilog, type-docs

#386 Fix BRAM test.
  library/uart/uart_tx.v
  xc7/techmap/cells_map.v
  xc7/tests/bram_test/error_output_logic.v
  xc7/tests/bram_test/read_uart.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, lang-verilog, type-utils

#393 Integrate yosys upstream unlut change.
  ice40/yosys/synth.tcl
Labels: arch-ice40, third-party

#403 Adding DRAM README.md file
  xc7/primitives/slicem/Ndram/README.md
Labels: type-docs

#390 Moved techmaps from Yosys to SymbiFlow
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
Labels: lang-verilog

#404 Remove second chain from each CLB.
  utils/specialize_carrychains.py
  xc7/tests/chain_packing/basys3.pcf
  xc7/tests/chain_packing/counter.v
Labels: lang-python, lang-verilog, type-utils

#407 Remove tile level fasm_prefix
  xc7/utils/prjxray_tile_import.py
Labels: lang-python, type-utils
