Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-08, with the labels that each got.

#916 Fixes fragile doctests that were depending on hash table order.
  CMakeLists.txt
  ice40/icestorm.cmake
  utils/lib/rr_graph/graph.py
Labels: arch-ice40, lang-python, type-utils

#923 Correct WE lines on BRAM18's for widths other than 18.
  xc7/fasm2bels/bram_models.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/techmap/cells_map.v
Labels: lang-python, lang-verilog

#930 Use libusb from symbiflow repo (which has no libudev).
  CMakeLists.txt
  common/cmake/env.cmake
  ice40/icestorm.cmake
Labels: arch-ice40, type-utils

#931 Update VPR to latest version.
  CMakeLists.txt
  common/cmake/devices.cmake
Labels: type-utils

#933 Revise rr_graph schema
  common/xml/routing_resource.xsd
  utils/lib/rr_graph/graph.py
Labels: lang-python, type-utils

#939 Add fast path timing for better hold slack estimation.
  utils/update_arch_timings.py
  xc7/primitives/common_slice/Nlut/ntemplate.Nlut.pb_type.xml
Labels: lang-python, lang-xml, type-utils, type-vpr

#943 Fix unconnected CARRY4 inputs in fasm2bels
  xc7/fasm2bels/clb_models.py
Labels: lang-python

#948 Update yosys.
  CMakeLists.txt
  ice40/yosys/synth.tcl
  xc7/techmap/cells_map.v
Labels: arch-ice40, lang-python, lang-verilog, type-infra

#949 Lower poll interval when redirecting to non-interactive terminal (e.g. CI).
  utils/lib/progressbar_utils.py
  utils/lib/rr_graph/graph2.py
  xc7/utils/prjxray_assign_tile_pin_direction.py
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_db_cache.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#863 SRL32 support for VPR
  xc7/fasm2bels/clb_models.py
  xc7/primitives/common_slice/common_slice.pb_type.xml
  xc7/primitives/slicem/CMakeLists.txt
  xc7/primitives/slicem/slicem.model.xml
  xc7/primitives/slicem/slicem.pb_type.xml
  xc7/primitives/slicem/srl/CMakeLists.txt
  xc7/primitives/slicem/srl/ntemplate.N_srl.pb_type.xml
  xc7/primitives/slicem/srl/srlc32e_vpr.model.xml
  xc7/primitives/slicem/srl/srlc32e_vpr.pb_type.xml
  xc7/primitives/slicem/wemux.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/CMakeLists.txt
  xc7/tests/srl/CMakeLists.txt
  xc7/tests/srl/common/CMakeLists.txt
  xc7/tests/srl/common/cells_sim.v
  xc7/tests/srl/common/rom.v
  xc7/tests/srl/common/srl32_chain_seg.v
  xc7/tests/srl/common/srl_init_tester.v
  xc7/tests/srl/common/srl_shift_tester.v
  xc7/tests/srl/srl32_amc31/CMakeLists.txt
  xc7/tests/srl/srl32_amc31/README.md
  xc7/tests/srl/srl32_amc31/basys3_dffmux_top.v
  xc7/tests/srl/srl32_amc31/basys3_doutmux_top.v
  xc7/tests/srl/srl32_amc31/srl32_dffmux_mc31_tb.v
  xc7/tests/srl/srl32_amc31/srl32_doutmux_mc31_tb.v
  xc7/tests/srl/srl32_chain/CMakeLists.txt
  xc7/tests/srl/srl32_chain/basys3_top.v
  xc7/tests/srl/srl32_chain/srl32_chain_tb.v
  xc7/tests/srl/srl32_init/CMakeLists.txt
  xc7/tests/srl/srl32_init/README.md
  xc7/tests/srl/srl32_init/basys3_top.v
  xc7/tests/srl/srl32_init/srl32_init_tb.v
  xc7/tests/srl/srl32_shift/CMakeLists.txt
  xc7/tests/srl/srl32_shift/README.md
  xc7/tests/srl/srl32_shift/basys3_top.v
  xc7/tests/srl/srl32_shift/srl32_shift_tb.v
Labels: lang-python, lang-verilog, lang-xml, third-party, type-docs, type-utils, type-vpr

#955 Fix LFSR definition to avoid getting optimized out.
  tests/7-carry_stress/generate_carry_test.py
Labels: lang-python

#956 Update QoR printing tool.
  utils/print_qor.py
Labels: lang-python, type-utils

#957 Add output of iostandard_defs.json from PCF format.
  tests/9-soc/picosoc/CMakeLists.txt
  xc7/archs/artix7/devices/CMakeLists.txt
  xc7/archs/zynq7/devices/CMakeLists.txt
  xc7/fasm2bels/bram_models.py
  xc7/make/arch_define.cmake
  xc7/make/device_define.cmake
  xc7/utils/prjxray_create_ioplace.py
  xc7/utils/prjxray_synth_tiles_to_pinmap_csv.py
Labels: arch-artix7, lang-python, type-utils
