Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-07, with the labels that each got.

#861 Imported bram timings
  xc7/bels.json
  xc7/primitives/bram/ramb18e1.pb_type.xml
  xc7/primitives/bram/rambfifo36e1.pb_type.xml
Labels: lang-xml, type-vpr

#871 Add QoR tool
  .github/kokoro/continuous-docs.cfg
  .github/kokoro/continuous-ice40.cfg
  .github/kokoro/continuous-testarch.cfg
  .github/kokoro/continuous-tests.cfg
  .github/kokoro/continuous-xc7.cfg
  .github/kokoro/ice40.sh
  .github/kokoro/presubmit-docs.cfg
  .github/kokoro/presubmit-ice40.cfg
  .github/kokoro/presubmit-testarch.cfg
  .github/kokoro/presubmit-tests.cfg
  .github/kokoro/presubmit-xc7.cfg
  .github/kokoro/xc7.sh
  CMakeLists.txt
  common/cmake/env.cmake
  utils/print_qor.py
Labels: lang-python, type-infra, type-utils

#870 Routing BELs timings
  utils/update_arch_timings.py
  xc7/bels.json
  xc7/primitives/common_slice/common_slice.pb_type.xml
Labels: lang-python, lang-xml, type-utils, type-vpr
