Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-04, with the labels that each got.

#508 Make mux_gen.py satisfy pep8
  utils/mux_gen.py
Labels: lang-python, type-utils

#523 Fix bugs found in 7-series FASM to verilog.
  xc7/fasm2bels/clb_models.py
  xc7/fasm2bels/make_routes.py
  xc7/fasm2bels/verilog_modeling.py
Labels: lang-python

#519 Add target to use yapf to check all python files
  .style.yapf
  CMakeLists.txt
  common/yapf_helper.sh
Labels: type-utils

#520 Reenable pytest
  .travis/script.sh
  utils/CMakeLists.txt
  utils/lib/rr_graph/channel.py
  utils/lib/rr_graph/tests/test_graph.py
  utils/pytest.ini
Labels: lang-python, third-party, type-infra, type-utils

#518 Implement global constant routing network in testarch.
  CMakeLists.txt
  ice40/devices/top-routing-virt/arch.xml
  make/devices.cmake
  testarch/CMakeLists.txt
  testarch/devices/routing/unidir-s4.xml
  testarch/utils/testarch_graph.py
  utils/lib/rr_graph/tracks.py
Labels: arch-ice40, arch-test, lang-python, lang-xml, type-utils, type-vpr

#533 travis: Add python format check to CI
  .travis/script.sh
  common/yapf_helper.sh
Labels: type-infra, type-utils

#511 Initial constant routing support for 7-series
  testarch/utils/testarch_graph.py
  utils/lib/connection_database.py
  utils/lib/connection_database.sql
  utils/lib/rr_graph/channel2.py
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph/points.py
  utils/lib/rr_graph/tracks.py
  xc7/archs/artix7/devices/xc7a50t-arty-roi-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-basys3-roi-virt/CMakeLists.txt
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/archs/zynq7/devices/xc7z010-zybo-roi-virt/CMakeLists.txt
  xc7/archs/zynq7/tiles/CMakeLists.txt
  xc7/make/arch_define.cmake
  xc7/primitives/common_slice/carry/CMakeLists.txt
  xc7/primitives/common_slice/carry/carry0.model.xml
  xc7/primitives/common_slice/carry/carry0.pb_type.xml
  xc7/primitives/common_slice/carry/carry0.sim.v
  xc7/primitives/ff/ff.model.xml
  xc7/primitives/ff/ff.pb_type.xml
  xc7/primitives/slicem/Ndram/d_dram.pb_type.xml
  xc7/primitives/slicem/Ndram/ntemplate.N_dram.model.xml
  xc7/primitives/slicem/slicem.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_assign_tile_pin_direction.py
  xc7/utils/prjxray_constant_site_pins.py
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_create_synth_tiles.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
  xc7/yosys/synth.tcl
Labels: arch-artix7, arch-test, lang-python, lang-verilog, lang-xml, type-sim, type-utils, type-vpr

#460 Created unit tests for Channel.py
  utils/lib/rr_graph/tests/test_channel.py
Labels: lang-python, type-infra, type-utils

#543 Optimize routing resources on unused signals.
  xc7/techmap/cells_map.v
Labels: lang-verilog

#551 Disable targets that are broken to get initial green CI.
  CMakeLists.txt
  tests/9-scalable_proc/CMakeLists.txt
  tests/9-scalable_proc/basys3_top.v
  tests/9-soc/picosoc/CMakeLists.txt
  xc7/tests/dram/CMakeLists.txt
  xc7/tests/simple_ff/simple_ff.v
Labels: lang-verilog

#555 Wire length metric can sometimes incorrect stop routing.
  ice40/CMakeLists.txt
Labels: arch-ice40

#560 Add support for naming top-level port names based on pcf file.
  utils/lib/parse_pcf.py
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/make/arch_define.cmake
  xc7/utils/prjxray_create_ioplace.py
Labels: lang-python, type-utils

#557 Add FF SR/CE signal test.
  xc7/tests/CMakeLists.txt
  xc7/tests/ff_sr_ce/CMakeLists.txt
  xc7/tests/ff_sr_ce/ff_ce_sr.v
Labels: lang-verilog, third-party

#567 Add initial FF equiv tests
  library/CMakeLists.txt
  make/devices.cmake
  xc7/tests/ff_sr_ce/CMakeLists.txt
  xc7/tests/ff_sr_ce/ff_ce_sr.v
  xc7/tests/ff_sr_ce/ff_ce_sr_testbench.v
  xc7/tests/ff_sr_ce/generate.py
  yosys/equiv_simple_opt_full.ys
Labels: lang-python, lang-verilog

#556 Enable kokoro on symbiflow-arch-defs
  .github/kokoro/common.sh
  .github/kokoro/continuous-docs.cfg
  .github/kokoro/continuous-ice40.cfg
  .github/kokoro/continuous-testarch.cfg
  .github/kokoro/continuous-tests.cfg
  .github/kokoro/continuous-xc7.cfg
  .github/kokoro/docs.sh
  .github/kokoro/ice40.sh
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-docs.cfg
  .github/kokoro/presubmit-ice40.cfg
  .github/kokoro/presubmit-testarch.cfg
  .github/kokoro/presubmit-tests.cfg
  .github/kokoro/presubmit-xc7.cfg
  .github/kokoro/steps/git.sh
  .github/kokoro/steps/hostinfo.sh
  .github/kokoro/steps/hostsetup.sh
  .github/kokoro/testarch.sh
  .github/kokoro/tests.sh
  .github/kokoro/xc7.sh
  .github/travis/after_failure.sh
  .github/travis/after_success.sh
  .github/travis/before_cache.sh
  .github/travis/common.sh
  .github/travis/compare-files.sh
  .github/travis/git-fixup.sh
  .github/travis/install.sh
  .github/travis/script.sh
  .travis.yml
  .travis/install.sh
  CMakeLists.txt
  make/devices.cmake
  tests/7-carry_stress/CMakeLists.txt
  tests/9-scalable_proc/CMakeLists.txt
Labels: lang-python, type-infra

#484 Forward make targets to build/ directory.
  Makefile
Labels: lang-makefile

#577 Fix bugs found in xc7 fasm2v.
  xc7/fasm2bels/bram_models.py
  xc7/fasm2bels/clk_models.py
  xc7/fasm2bels/verilog_modeling.py
Labels: lang-python

#588 Fix typo in CARRY0_CONST parameter
  xc7/techmap/cells_map.v
Labels: lang-verilog

#589 Fix bugs in RAMB18E1 techmap.
  xc7/techmap/cells_map.v
Labels: lang-verilog

#587 Make scalable tests debuggable with fasm2v
  tests/9-scalable_proc/CMakeLists.txt
  tests/9-scalable_proc/basys3.pcf
  tests/9-scalable_proc/basys3_top.v
  tests/9-scalable_proc/utils/receiver.py
  xc7/make/arch_define.cmake
Labels: lang-python, lang-verilog, type-utils

#576 Add explicit CEUSEDMUX and SRUSEDMUX support.
  xc7/primitives/common_slice/common_slice.model.xml
  xc7/primitives/common_slice/common_slice.pb_type.xml
  xc7/primitives/ff/ff.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
Labels: lang-verilog, lang-xml, type-vpr

#591 Add usage comparision tools.
  make/devices.cmake
  utils/compare_usage.py
  utils/gather_usage.py
  utils/lib/parse_usage.py
  utils/report_block_usage.py
Labels: lang-python, type-utils

#586 Bind net names from VPR route to fasm2v output
  CMakeLists.txt
  make/devices.cmake
  make/env.cmake
  utils/CMakeLists.txt
  utils/lib/parse_route.py
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph_xml/graph2.py
  utils/print_net_sources.py
  xc7/CMakeLists.txt
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/net_map.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/make/arch_define.cmake
  xc7/primitives/common_slice/Nlut/simtest/test_alut.py
  xc7/utils/prjxray_print_net_map.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#600 Fix typos in clb_models.py affecting the RAM32X1D LUT mode
  xc7/fasm2bels/clb_models.py
Labels: kokoro:force-run, lang-python

#605 fasm2bels: hotfix after graph2.py changes
  xc7/fasm2bels/fasm2bels.py
Labels: lang-python

#594 gen.cmake: handle generated verilog and xml deps
  make/gen.cmake
  utils/n.py
Labels: lang-python, type-utils

#604 Import of all pips (bidirectional and pseudo) to channels.db
  utils/lib/connection_database.sql
  xc7/utils/prjxray_assign_tile_pin_direction.py
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#316 Improve the Verilog to XML conversion process
  .gitignore
  CMakeLists.txt
  make/gen.cmake
  make/tools.cmake
  make/xml.cmake
  utils/CMakeLists.txt
  utils/deps_verilog.py
  utils/vlog/CMakeLists.txt
  utils/vlog/tests/CMakeLists.txt
  utils/vlog/tests/dsp_combinational/CMakeLists.txt
  utils/vlog/tests/dsp_combinational/dsp_combinational.sim.v
  utils/vlog/tests/dsp_combinational/golden.model.xml
  utils/vlog/tests/dsp_combinational/golden.pb_type.xml
  utils/vlog/tests/dsp_in_registered/CMakeLists.txt
  utils/vlog/tests/dsp_in_registered/dsp_in_registered.sim.v
  utils/vlog/tests/dsp_in_registered/golden.model.xml
  utils/vlog/tests/dsp_in_registered/golden.pb_type.xml
  utils/vlog/tests/dsp_inout_registered/CMakeLists.txt
  utils/vlog/tests/dsp_inout_registered/dsp_inout_registered.sim.v
  utils/vlog/tests/dsp_inout_registered/golden.model.xml
  utils/vlog/tests/dsp_inout_registered/golden.pb_type.xml
  utils/vlog/tests/dsp_inout_registered_dualclk/CMakeLists.txt
  utils/vlog/tests/dsp_inout_registered_dualclk/dsp_inout_registered_dualclk.sim.v
  utils/vlog/tests/dsp_inout_registered_dualclk/golden.model.xml
  utils/vlog/tests/dsp_inout_registered_dualclk/golden.pb_type.xml
  utils/vlog/tests/dsp_modes/CMakeLists.txt
  utils/vlog/tests/dsp_modes/dsp_modes.sim.v
  utils/vlog/tests/dsp_modes/golden.model.xml
  utils/vlog/tests/dsp_out_registered/CMakeLists.txt
  utils/vlog/tests/dsp_out_registered/dsp_out_registered.sim.v
  utils/vlog/tests/dsp_out_registered/golden.model.xml
  utils/vlog/tests/dsp_out_registered/golden.pb_type.xml
  utils/vlog/tests/dsp_partial_registered/CMakeLists.txt
  utils/vlog/tests/dsp_partial_registered/dsp_partial_registered.sim.v
  utils/vlog/tests/dsp_partial_registered/golden.model.xml
  utils/vlog/tests/dsp_partial_registered/golden.pb_type.xml
  utils/vlog/tests/fig41-full-adder/CMakeLists.txt
  utils/vlog/tests/fig41-full-adder/adder.sdf
  utils/vlog/tests/fig41-full-adder/adder.sim.v
  utils/vlog/tests/fig41-full-adder/golden.model.xml
  utils/vlog/tests/fig41-full-adder/golden.pb_type.xml
  utils/vlog/tests/fig42-dff/CMakeLists.txt
  utils/vlog/tests/fig42-dff/dff.sim.v
  utils/vlog/tests/fig42-dff/golden.model.xml
  utils/vlog/tests/simple_pll/CMakeLists.txt
  utils/vlog/tests/simple_pll/golden.model.xml
  utils/vlog/tests/simple_pll/simple_pll.sim.v
  utils/vlog/tests/v2x_tests.cmake
  utils/vlog/vlog_to_model.py
  utils/vlog/vlog_to_pbtype.py
  utils/vlog/yosys/json.py
  utils/vlog/yosys/run.py
Labels: lang-python, lang-verilog, lang-xml, type-sim, type-utils, type-vpr

#611 infra: Fixing the Makefile forwarding.
  Makefile
Labels: lang-makefile

#615 utils: add intervaltree to test dependencies
  utils/CMakeLists.txt
Labels: type-utils

#620 Remove old .keepme files.
  ice40/build/.keepme
  testarch/build/.keepme
Labels: arch-ice40, arch-test

#628 utils/vlog: Enable v2x tests
  .github/travis/script.sh
  utils/vlog/CMakeLists.txt
  utils/vlog/tests/CMakeLists.txt
  utils/vlog/tests/fig42-dff/dff.sim.v
Labels: lang-verilog, type-infra, type-sim, type-utils

#637 v2x: direct connections now are in the old format
  utils/vlog/tests/dsp_out_registered/golden.pb_type.xml
  utils/vlog/vlog_to_pbtype.py
Labels: lang-python, lang-xml, type-utils, type-vpr

#638 v2x: adding update_golden command in v2x cmake
  utils/vlog/tests/v2x_tests.cmake
Labels: type-utils

#627 Move top-level make directory to common/cmake.
  CMakeLists.txt
  cmake.md
  common/cmake/cmake_format.py
  common/cmake/devices.cmake
  common/cmake/env.cmake
  common/cmake/file_targets.cmake
  common/cmake/gen.cmake
  common/cmake/image_gen.cmake
  common/cmake/tools.cmake
  common/cmake/util.cmake
  common/cmake/xml.cmake
Labels: lang-python, type-docs, type-utils

#648 Revert "v2x: direct connections now are in the old format"
  utils/vlog/tests/dsp_out_registered/golden.pb_type.xml
  utils/vlog/vlog_to_pbtype.py
Labels: lang-python, lang-xml, type-utils, type-vpr

#644 xc7: Adding notes for SLICEM.
  xc7/primitives/slicem/dram.md
  xc7/primitives/slicem/modes.md
  xc7/primitives/slicem/shift.md
Labels: type-docs

#651 v2x: update comment in cmake and added xml header to golden pb_type
  utils/vlog/tests/dsp_out_registered/golden.pb_type.xml
  utils/vlog/tests/v2x_tests.cmake
  utils/vlog/vlog_to_pbtype.py
Labels: lang-python, lang-xml, type-utils, type-vpr

#649 Fixed the IS_WCLK_INVERTED parameter in DRAM techmaps.
  xc7/techmap/cells_map.v
Labels: lang-verilog

#641 Move yosys scripts under common/yosys.
  CMakeLists.txt
  common/CMakeLists.txt
  common/yosys/CMakeLists.txt
  common/yosys/equiv_simple_clk2fflogic.ys
  common/yosys/equiv_simple_opt_full.ys
  common/yosys/miter_and_tempinduct.ys
  common/yosys/miter_and_tempinduct_large_N.ys
  common/yosys/miter_and_tempinduct_skip_1.ys
  tests/3-ff/CMakeLists.txt
  tests/4-lutff/CMakeLists.txt
  tests/6-rot/CMakeLists.txt
  tests/CMakeLists.txt
Labels: type-utils

#584 rr_graph tests and docstrings
  utils/lib/rr_graph/README.md
  utils/lib/rr_graph/channel2.py
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph/points.py
  utils/lib/rr_graph/tests/__init__.py
  utils/lib/rr_graph/tests/test_channel.py
  utils/lib/rr_graph/tests/test_channel2.py
  utils/lib/rr_graph/tests/test_graph.py
  utils/lib/rr_graph/tests/test_graph2.py
  utils/lib/rr_graph/tests/test_points.py
  utils/lib/rr_graph/tests/test_tracks.py
  utils/lib/rr_graph/tracks.py
Labels: lang-python, type-docs, type-utils

#646 make: Use symlink instead of copy.
  common/cmake/file_targets.cmake
Labels: type-utils

#654 ice40: add some status for current support in symbiflow-arch-defs
  ice40/README.md
Labels: arch-ice40, type-docs

#636 Add the RAM_SHIFTER module to make it easy to build simple RAM tests
  xc7/tests/CMakeLists.txt
  xc7/tests/common/CMakeLists.txt
  xc7/tests/common/ram_shifter.v
  xc7/tests/dram_shifter/CMakeLists.txt
  xc7/tests/dram_shifter/dram_shifter_32x1d.v
  xc7/tests/dram_shifter/dram_shifter_32x1s.v
  xc7/tests/dram_shifter/dram_shifter_64x1d.v
  xc7/tests/dram_shifter/dram_shifter_64x1s.v
Labels: lang-verilog, type-utils

#656 {S,D}PRAM128 rename
  xc7/primitives/slicem/Ndram/CMakeLists.txt
  xc7/primitives/slicem/Ndram/d_dram128.pb_type.xml
  xc7/primitives/slicem/Ndram/dpram128.pb_type.xml
  xc7/primitives/slicem/Ndram/dpram64_for_ram128x1d.pb_type.xml
  xc7/primitives/slicem/Ndram/ntemplate.N_dram.model.xml
  xc7/primitives/slicem/Ndram/ntemplate.N_dram128.pb_type.xml
  xc7/primitives/slicem/Ndram/spram128.pb_type.xml
  xc7/primitives/slicem/Ndram/spram64_for_ram128x1s.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
Labels: lang-verilog, lang-xml, type-vpr
