Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-01, with the labels that each got.

#314 Basys3 counter demo fix
  artix7/primitives/common_slice/common_slice.pb_type.xml
Labels: arch-artix7, lang-verilog, lang-xml, type-sim, type-vpr

#320 ice40: Adding carry-chain routing diagram.
  ice40/docs/carry-chain-routing-options.svg
Labels: arch-ice40, type-docs

#324 README: fix links to third_party projects
  README.md
Labels: type-docs

#326 Create README.md for 7-series
  xc7/README.md
Labels: type-docs

#333 re-work xc7 directory
  make/devices.cmake
  xc7/CMakeLists.txt
  xc7/README.md
  xc7/arch.cmake
  xc7/archs/CMakeLists.txt
  xc7/archs/artix7/CMakeLists.txt
  xc7/archs/artix7/devices/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-roi-virt/CMakeLists.txt
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/archs/artix7/tiles/bram_l/CMakeLists.txt
  xc7/archs/artix7/tiles/bram_r/CMakeLists.txt
  xc7/archs/artix7/tiles/clbll_l/CMakeLists.txt
  xc7/archs/artix7/tiles/clbll_r/CMakeLists.txt
  xc7/archs/artix7/tiles/clblm_l/CMakeLists.txt
  xc7/archs/artix7/tiles/clblm_r/CMakeLists.txt
  xc7/archs/artix7/tiles/int_l/CMakeLists.txt
  xc7/archs/artix7/tiles/int_r/CMakeLists.txt
  xc7/archs/artix7/tiles/liob33_sing/CMakeLists.txt
  xc7/archs/zynq7/CMakeLists.txt
  xc7/archs/zynq7/devices/CMakeLists.txt
  xc7/archs/zynq7/devices/xc7z010-roi-virt/CMakeLists.txt
  xc7/archs/zynq7/tiles/CMakeLists.txt
  xc7/archs/zynq7/tiles/bram_l/CMakeLists.txt
  xc7/archs/zynq7/tiles/bram_r/CMakeLists.txt
  xc7/archs/zynq7/tiles/clbll_l/CMakeLists.txt
  xc7/archs/zynq7/tiles/clbll_r/CMakeLists.txt
  xc7/archs/zynq7/tiles/clblm_l/CMakeLists.txt
  xc7/archs/zynq7/tiles/clblm_r/CMakeLists.txt
  xc7/archs/zynq7/tiles/int_l/CMakeLists.txt
  xc7/archs/zynq7/tiles/int_r/CMakeLists.txt
  xc7/archs/zynq7/tiles/liob33_sing/CMakeLists.txt
  xc7/artix7.cmake
  xc7/blocks/CMakeLists.txt
  xc7/blocks/clbll_l-int_l/CMakeLists.txt
  xc7/blocks/clbll_l-int_l/pb_type.xml
  xc7/blocks/int_r-clbll_r/CMakeLists.txt
  xc7/blocks/int_r-clbll_r/pb_type.xml
  xc7/boards.cmake
  xc7/build/.keepme
  xc7/devices/CMakeLists.txt
  xc7/devices/xc7a50t-roi-virt/CMakeLists.txt
  xc7/devices/xc7a50t-roi-virt/dummy/CMakeLists.txt
  xc7/devices/xc7a50t-roi-virt/dummy/dummy.sh
  xc7/devices/xc7a50t-virt/arch.xml.unused
  xc7/make/CMakeLists.txt
  xc7/make/arch_define.cmake
  xc7/make/device_define.cmake
  xc7/make/project_xray.cmake
  xc7/tests/buttons/CMakeLists.txt
  xc7/tests/buttons/zybo.pcf
  xc7/tests/counter/CMakeLists.txt
  xc7/tests/counter/zybo.pcf
  xc7/tiles/unused.clblm_l/clblm_l.model.xml
  xc7/tiles/unused.clblm_l/clblm_l.pb_type.xml
  xc7/utils/prjxray_arch_import.py
Labels: arch-artix7, lang-python, lang-verilog, lang-xml, type-docs, type-utils, type-vpr
