Repository f4pga/f4pga-arch-defs, pull requests merged in 2019-10, with the labels that each got.

#1037 Refactor tracks to cache neighboor computation.
  testarch/utils/testarch_graph.py
  utils/lib/rr_graph/tests/test_tracks.py
  utils/lib/rr_graph/tracks.py
  xc7/utils/prjxray_assign_tile_pin_direction.py
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
Labels: arch-test, lang-python, type-utils

#1042 Initial refactor of create edges.
  xc7/utils/prjxray_create_edges.py
Labels: lang-python, type-utils

#1043 Move logic of prjxray_create_edges.py into library out of utility
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_edge_library.py
Labels: lang-python, type-utils

#1049 Fix uninitialized regs in the SRL test suite design
  xc7/tests/srl/common/srl_init_tester.v
  xc7/tests/srl/common/srl_shift_tester.v
Labels: lang-verilog, type-utils

#1040 Update Yosys to latest merge with master.
  CMakeLists.txt
  ice40/icestorm.cmake
  xc7/techmap/cells_sim.v
  xc7/tests/common/error_output_logic.v
  xc7/yosys/synth.tcl
Labels: arch-ice40, lang-verilog, type-utils

#1046 Working IOI3 tile split.
  utils/lib/connection_database.py
  utils/lib/connection_database.sql
  utils/tile_splitter/grid.py
  utils/tile_splitter/tests/test_grid.py
  xc7/fasm2bels/connection_db_utils.py
  xc7/fasm2bels/make_routes.py
  xc7/fasm2bels/net_map.py
  xc7/utils/prjxray_assign_tile_pin_direction.py
  xc7/utils/prjxray_edge_library.py
  xc7/utils/prjxray_form_channels.py
Labels: lang-python, type-utils

#1051 Add site instance table to connection database.
  utils/lib/connection_database.sql
  xc7/utils/prjxray_form_channels.py
Labels: lang-python, type-utils

#1052 Implements IOB tile merge
  utils/tile_splitter/grid.py
  xc7/archs/artix7/devices/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/archs/artix7/tiles/riopad_m/CMakeLists.txt
  xc7/archs/zynq7/devices/CMakeLists.txt
  xc7/make/device_define.cmake
  xc7/make/project_xray.cmake
  xc7/primitives/idelaye2/idelaye2.pb_type.xml
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_edge_library.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
  xc7/utils/prjxray_tile_import.py
Labels: arch-artix7, lang-python, lang-xml, type-utils, type-vpr

#1047 Initial support for RIOB33M routing
  xc7/boards.cmake
  xc7/make/device_define.cmake
  xc7/make/project_xray.cmake
  xc7/tests/buttons/CMakeLists.txt
  xc7/tests/buttons/basys3_x1y0.pcf
  xc7/tests/buttons/buttons_basys3_x1y0.v
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_create_pinmap_csv.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
  xc7/utils/prjxray_tile_import.py
Labels: arch-artix7, lang-python, lang-verilog, lang-xml, type-utils, type-vpr

#1054 equivalent tiles: modified import scripts to add direct pin mappings
  CMakeLists.txt
  utils/update_arch_tiles.py
  xc7/archs/artix7/tiles/slicem/CMakeLists.txt
  xc7/make/project_xray.cmake
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_physical_tile_import.py
Labels: arch-artix7, lang-python, type-utils

#1055 Working RIOB33M bitstreams
  common/cmake/devices.cmake
  xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc7/fasm2bels/make_routes.py
  xc7/fasm2bels/net_map.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/make/device_define.cmake
  xc7/make/vivado.cmake
  xc7/primitives/ilogice3/ilogice3.pb_type.xml
  xc7/primitives/iob33m/iob33m.pb_type.xml
  xc7/primitives/ologice3/ologice3.pb_type.xml
  xc7/tests/buttons/CMakeLists.txt
  xc7/utils/prjxray_tile_import.py
  xc7/utils/vivado_create_runme.py
Labels: arch-artix7, lang-python, lang-xml, type-utils, type-vpr

#1062 Fixes to create edges
  xc7/utils/prjxray_edge_library.py
Labels: lang-python, type-utils

#1070 xc7: add clock tiles BUFG and BUFH
  xc7/archs/artix7/devices/xc7a50t-basys3-roi-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/archs/artix7/tiles/clk_bufg_bot_r/CMakeLists.txt
  xc7/archs/artix7/tiles/clk_bufg_top_r/CMakeLists.txt
  xc7/archs/artix7/tiles/clk_hrow_bot_r/CMakeLists.txt
  xc7/archs/artix7/tiles/clk_hrow_top_r/CMakeLists.txt
  xc7/make/project_xray.cmake
  xc7/primitives/CMakeLists.txt
  xc7/primitives/bufgctrl/CMakeLists.txt
  xc7/primitives/bufgctrl/ntemplate.bufgctrlN.model.xml
  xc7/primitives/bufgctrl/ntemplate.bufgctrlN.pb_type.xml
  xc7/primitives/bufhce/CMakeLists.txt
  xc7/primitives/bufhce/ntemplate.bufhceN.model.xml
  xc7/primitives/bufhce/ntemplate.bufhceN.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/utils/prjxray_edge_library.py
  xc7/utils/prjxray_lookup_inode.py
  xc7/utils/prjxray_tile_import.py
Labels: arch-artix7, lang-python, lang-verilog, lang-xml, type-utils, type-vpr

#1075 Enable clock network
  CMakeLists.txt
  xc7/archs/artix7/devices/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc7/make/device_define.cmake
  xc7/tests/counter/CMakeLists.txt
  xc7/tests/counter/basys3_x1y0.pcf
  xc7/tests/counter/counter_basys3_x1y0.v
  xc7/tests/simple_ff/CMakeLists.txt
  xc7/tests/simple_ff/basys3_x1y0.pcf
  xc7/tests/simple_ff/simple_ff_x1y0.v
  xc7/utils/prjxray_define_segments.py
  xc7/utils/prjxray_routing_import.py
Labels: arch-artix7, lang-python, lang-verilog, type-utils

#1076 Fixes typo in CMake resulted in missing dependencies.
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/make/project_xray.cmake
Labels: arch-artix7

#1069 update_tool: fixed wrong Octopus merge when having conflicts
  utils/update_tools/update_tools.py
Labels: lang-python, type-utils

#1084 Bufh route-through
  xc7/archs/artix7/devices/xc7a50t-basys3-roi-virt/CMakeLists.txt
  xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc7/archs/artix7/tiles/CMakeLists.txt
  xc7/tests/counter/counter_basys3_x1y0.v
  xc7/tests/simple_ff/simple_ff_x1y0.v
  xc7/utils/prjxray_edge_library.py
  xc7/utils/prjxray_routing_import.py
Labels: arch-artix7, lang-python, lang-verilog, type-utils

#1092 Fix walking through INPINFEED's with shorts.
  xc7/utils/prjxray_edge_library.py
Labels: lang-python, type-utils

#1088 update_tool: encapsulate suprocess in try except
  utils/update_tools/update_tools.py
Labels: lang-python, type-utils

#1094 Routing import memory optimizations
  testarch/utils/testarch_graph.py
  utils/lib/perf_utils.py
  utils/lib/rr_graph_xml/graph2.py
  xc7/fasm2bels/fasm2bels.py
  xc7/utils/prjxray_routing_import.py
Labels: arch-test, lang-python, type-utils

#1100 Fix the order segments via an OrderedDict and add CCIO segments.
  xc7/utils/prjxray_create_edges.py
  xc7/utils/prjxray_define_segments.py
  xc7/utils/prjxray_edge_library.py
Labels: lang-python, type-utils

#1098 Update print_connection_map_lookahead.py to match latest capnp.
  utils/print_connection_map_lookahead.py
Labels: lang-python, type-utils

#1099 Sort rr node ids by geometric neighbors.
  CMakeLists.txt
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph_xml/graph2.py
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/net_map.py
  xc7/make/arch_define.cmake
  xc7/make/project_xray.cmake
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#1107 Add HCLK UTURN tiles to fasm2bels.
  xc7/fasm2bels/fasm2bels.py
Labels: lang-python

#1111 Add xc7 two router diagnostic tooling
  xc7/utils/animate_router_pop.py
  xc7/utils/annotate_vpr_log.py
Labels: lang-python, type-utils

#1112 Refactor connection box tools
  CMakeLists.txt
  requirements.txt
  utils/convert_connection_box_to_mat.py
  utils/lib/connection_box_tools.py
  utils/plot_connection_box.py
  utils/print_connection_map_lookahead.py
Labels: lang-python, type-utils

#1048 Support for PLLE2_ADV for fasm2bels.
  xc7/fasm2bels/clb_models.py
  xc7/fasm2bels/cmt_models.py
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/iob_models.py
  xc7/fasm2bels/make_routes.py
  xc7/fasm2bels/verilog_modeling.py
Labels: lang-python

#1110 xc7: fix dram timings and models
  xc7/bels.json
  xc7/primitives/slicem/Ndram/dpram32.pb_type.xml
  xc7/primitives/slicem/Ndram/dpram64.pb_type.xml
  xc7/primitives/slicem/Ndram/dpram64_for_ram128x1d.pb_type.xml
  xc7/primitives/slicem/Ndram/ntemplate.N_dram.model.xml
Labels: lang-xml, type-vpr
