Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-08, with the labels that each got.

#1631 Add support for Digilent Zybo Z7 (-20) FPGA board.
  CMakeLists.txt
  xc/xc7/boards.cmake
  xc/xc7/tests/common/CMakeLists.txt
  xc/xc7/tests/common/zybo_z7.pcf
  xc/xc7/tests/counter/CMakeLists.txt
  xc/xc7/tests/counter/counter_zybo_z7.v
Labels: lang-verilog, type-utils

#1629 Make sure DLUT.RAM is emitted if using LUT-RAMs.
  xc/common/primitives/slicem/slicem.pb_type.xml
Labels: lang-xml, type-utils, type-vpr

#1624 Use dijkstra for place delay expansion calculation.
  xc/common/cmake/device_define.cmake
Labels: type-utils

#1587 Overlay Architecture Generation
  common/cmake/devices.cmake
  xc/common/cmake/device_define.cmake
  xc/common/cmake/project_ray.cmake
  xc/common/utils/prjxray_arch_import.py
  xc/common/utils/prjxray_create_edges.py
  xc/common/utils/prjxray_create_pinmap_csv.py
  xc/common/utils/prjxray_create_synth_tiles.py
  xc/common/utils/prjxray_edge_library.py
  xc/common/utils/prjxray_routing_import.py
  xc/xc7/archs/artix7/devices/CMakeLists.txt
  xc/xc7/archs/artix7/devices/xc7a50t-arty-swbut-overlay-virt/CMakeLists.txt
  xc/xc7/archs/artix7/devices/xc7a50t-arty-swbut-overlay-virt/design.json
  xc/xc7/archs/artix7/devices/xc7a50t-arty-swbut-pr1-roi-virt/CMakeLists.txt
  xc/xc7/archs/artix7/devices/xc7a50t-arty-swbut-pr1-roi-virt/design.json
  xc/xc7/boards.cmake
  xc/xc7/techmap/cells_sim.v
  xc/xc7/techmap/iobs.v
  xc/xc7/tests/buttons/CMakeLists.txt
  xc/xc7/tests/buttons/buttons_arty_overlay.v
  xc/xc7/tests/buttons/buttons_arty_rev.v
  xc/xc7/tests/common/CMakeLists.txt
  xc/xc7/tests/common/arty_swbut_pr.pcf
  xc/xc7/tests/common/arty_swbut_pr_2clk.pcf
  xc/xc7/tests/common/arty_swbut_pr_overlay.pcf
  xc/xc7/tests/counter/CMakeLists.txt
  xc/xc7/tests/counter/counter_arty_2clk.v
  xc/xc7/tests/counter/counter_arty_overlay.v
Labels: arch-artix7, lang-python, lang-verilog, type-utils

#1502 Support for IDDR and ODDR
  xc/common/primitives/ilogice3/ilogice3.model.xml
  xc/common/primitives/ilogice3/ilogice3.pb_type.xml
  xc/common/primitives/iob33/iob33.model.xml
  xc/common/primitives/iob33/iob33.pb_type.xml
  xc/common/primitives/iob33/modes/CMakeLists.txt
  xc/common/primitives/iob33/modes/obuft.xml
  xc/common/primitives/iob33m/iob33m.pb_type.xml
  xc/common/primitives/iob33s/iob33s.pb_type.xml
  xc/common/primitives/ologice3/ologice3.model.xml
  xc/common/primitives/ologice3/ologice3.pb_type.xml
  xc/common/utils/add_pack_patterns.py
  xc/common/utils/prjxray_routing_import.py
  xc/xc7/bels.json
  xc/xc7/techmap/cells_map.v
  xc/xc7/techmap/cells_sim.v
  xc/xc7/techmap/iobs.v
  xc/xc7/tests/CMakeLists.txt
  xc/xc7/tests/iddr_oddr/CMakeLists.txt
  xc/xc7/tests/iddr_oddr/README.md
  xc/xc7/tests/iddr_oddr/data_generator.v
  xc/xc7/tests/iddr_oddr/iddr_basys3.pcf
  xc/xc7/tests/iddr_oddr/iddr_basys3.v
  xc/xc7/tests/iddr_oddr/iddr_wrapper.v
  xc/xc7/tests/iddr_oddr/ioddr_hw_test_basys3.pcf
  xc/xc7/tests/iddr_oddr/ioddr_hw_test_basys3.v
  xc/xc7/tests/iddr_oddr/ioddr_tester.v
  xc/xc7/tests/iddr_oddr/oddr_basys3.pcf
  xc/xc7/tests/iddr_oddr/oddr_basys3.v
  xc/xc7/tests/iddr_oddr/oddr_wrapper.v
  xc/xc7/tests/iddr_oddr/tddr_basys3.v
  xc/xc7/tests/iologic_packing/CMakeLists.txt
  xc/xc7/tests/obuf_packing/CMakeLists.txt
  xc/xc7/tests/obuf_packing/README.md
  xc/xc7/tests/obuf_packing/dummy.pcf
  xc/xc7/tests/obuf_packing/obuf_packing.v
  xc/xc7/yosys/synth.tcl
Labels: lang-python, lang-verilog, lang-xml, third-party, type-docs, type-utils, type-vpr
