Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-01, with the labels that each got.

#1237 [xc7] Add clock placer
  CMakeLists.txt
  utils/eblif.py
  utils/lib/connection_database.sql
  utils/vpr_place_constraints.py
  xc7/make/arch_define.cmake
  xc7/utils/prjxray_create_place_constraints.py
  xc7/utils/prjxray_form_channels.py
Labels: lang-python, type-utils

#1257 Fixes for fasm2bels
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/hclk_ioi3_models.py
  xc7/fasm2bels/iob_models.py
Labels: lang-python

#1261 A test for OSERDES routing
  xc7/techmap/cells_map.v
  xc7/tests/CMakeLists.txt
  xc7/tests/oserdes_routing/CMakeLists.txt
  xc7/tests/oserdes_routing/dummy.pcf
  xc7/tests/oserdes_routing/oserdes_routing.v
  xc7/utils/add_pack_patterns.py
Labels: lang-python, lang-verilog, type-utils

#1266 idelay: fixed fasm2bels issue
  xc7/fasm2bels/ioi_models.py
  xc7/tests/serdes/serdes_test_idelay.v
Labels: lang-python, lang-verilog

#1268 DRAM fix vendor tools tests
  xc7/bels.json
  xc7/fasm2bels/clb_models.py
  xc7/primitives/slicem/Ndram/CMakeLists.txt
  xc7/primitives/slicem/Ndram/d_dram.pb_type.xml
  xc7/primitives/slicem/Ndram/ntemplate.N_dram.model.xml
  xc7/primitives/slicem/Ndram/ntemplate.N_dram.pb_type.xml
  xc7/primitives/slicem/Ndram/spram32.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/dram/CMakeLists.txt
  xc7/tests/dram/dram_1_128x1d.pcf
  xc7/tests/dram/dram_1_128x1d.v
  xc7/tests/dram/dram_1_256x1s.pcf
  xc7/tests/dram/dram_1_256x1s.v
  xc7/tests/dram/dram_1_32m.pcf
  xc7/tests/dram/dram_1_32m.v
  xc7/tests/dram/dram_1_64m.pcf
  xc7/tests/dram/dram_1_64m.v
  xc7/tests/dram/dram_2_128x1s.pcf
  xc7/tests/dram/dram_2_128x1s.v
  xc7/tests/dram/dram_2_32x1d.pcf
  xc7/tests/dram/dram_2_32x1d.v
  xc7/tests/dram/dram_2_64x1d.pcf
  xc7/tests/dram/dram_2_64x1d.v
  xc7/tests/dram/dram_4_32x1s.pcf
  xc7/tests/dram/dram_4_32x1s.v
  xc7/tests/dram/dram_4_32x2s.pcf
  xc7/tests/dram/dram_4_32x2s.v
  xc7/tests/dram/dram_4_64x1s.pcf
  xc7/tests/dram/dram_4_64x1s.v
  xc7/tests/dram/dram_8_32x1s.pcf
  xc7/tests/dram/dram_8_32x1s.v
Labels: lang-python, lang-verilog, lang-xml, type-vpr

#1271 Fix incorrect emission of CLK_HROW_R_CK_GCLKx_ACTIVE features
  xc7/tests/CMakeLists.txt
  xc7/tests/gclk_active/CMakeLists.txt
  xc7/tests/gclk_active/README.md
  xc7/tests/gclk_active/basys3.pcf
  xc7/tests/gclk_active/gclk_through.v
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, lang-verilog, type-docs, type-utils

#1262 fasm2bels IO settings from EBLIF
  utils/eblif.py
  xc7/fasm2bels/fasm2bels.py
  xc7/fasm2bels/iob_models.py
  xc7/fasm2bels/verilog_modeling.py
  xc7/make/arch_define.cmake
  xc7/primitives/iob33/modes/ibuf.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/CMakeLists.txt
  xc7/tests/iosettings/CMakeLists.txt
  xc7/tests/iosettings/generate.py
Labels: lang-python, lang-verilog, lang-xml, type-utils

#1267 Add penalty cost switch to avoid wrong routes
  common/xml/routing_resource.xsd
  utils/lib/connection_database.py
  utils/lib/connection_database.sql
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph/tests/test_graph2.py
  utils/lib/rr_graph_xml/graph2.py
  xc7/utils/prjxray_arch_import.py
  xc7/utils/prjxray_form_channels.py
  xc7/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#1286 Convert from rrgraph XML to capnp during lookahead computation.
  CMakeLists.txt
  common/cmake/devices.cmake
  testarch/devices/CMakeLists.txt
Labels: arch-test, type-utils
