Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-07, with the labels that each got.

#1564 lcu: add test to check the correctness of LCU.
  xc/xc7/tests/CMakeLists.txt
  xc/xc7/tests/lcu/CMakeLists.txt
  xc/xc7/tests/lcu/arty.pcf
  xc/xc7/tests/lcu/lcu.v
  xc/xc7/tests/lcu/lcu_tb.v
Labels: lang-verilog

#1570 xc7/toolchain_wrappers: find device/arch using part name
  xc/xc7/toolchain_wrappers/synth
  xc/xc7/toolchain_wrappers/vpr_common
  xc/xc7/toolchain_wrappers/write_bitstream
Labels: merge-if-green

#1545 diff_fasm: speedup generation of vendor tools bitstreams
  xc/common/utils/vivado_create_runme.py
Labels: lang-python, lang-xml, type-docs, type-utils, type-vpr

#1575 fasm2bels: clb: fix carry chain DOUTMUX connections
  xc/xc7/fasm2bels/clb_models.py
Labels: lang-python

#1573 brams: fix VCC fan bounce issue
  xc/xc7/fasm2bels/bram_models.py
Labels: lang-python, merge-if-green

#1563 New 100t LiteX test (soc/litex/base)
  xc/xc7/tests/soc/litex/base/CMakeLists.txt
  xc/xc7/tests/soc/litex/base/README.md
  xc/xc7/tests/soc/litex/base/baselitex_arty100t.v
Labels: lang-verilog, type-docs

#1519 Support for IO constraints read from XDC
  common/cmake/devices.cmake
  utils/vpr_io_place.py
  xc/common/cmake/arch_define.cmake
  xc/common/utils/prjxray_create_ioplace.py
  xc/xc7/fasm2bels/fasm2bels.py
  xc/xc7/techmap/cells_map.v
  xc/xc7/tests/soc/litex/mini_ddr/CMakeLists.txt
  xc/xc7/tests/soc/litex/mini_ddr/minilitex_ddr_arty.xdc
Labels: arch-ice40, arch-test, lang-makefile, lang-python, lang-verilog, type-docs, type-infra, type-utils

#1523 Fix clock placement in devices with limited grid
  xc/common/cmake/device_define.cmake
  xc/common/utils/prjxray_create_place_constraints.py
  xc/xc7/archs/artix7/devices/xc7a50t-bottom-virt/CMakeLists.txt
Labels: arch-artix7, lang-python, type-utils

#1581 Transition to use XDC constraints instead of TCL in fasm2bels
  xc/common/cmake/arch_define.cmake
  xc/common/cmake/vivado.cmake
  xc/common/utils/vivado_create_runme.py
  xc/xc7/fasm2bels/fasm2bels.py
  xc/xc7/fasm2bels/make_routes.py
  xc/xc7/fasm2bels/verilog_modeling.py
Labels: lang-python, type-utils

#1561 Add support for synth tiles creation from vivado node names only
  xc/common/cmake/device_define.cmake
  xc/common/cmake/project_ray.cmake
  xc/common/utils/prjxray_create_synth_tiles.py
Labels: arch-artix7, lang-python, type-utils

#1600 Fix the build badges.
  README.md
Labels: type-docs

#1598 xc7: cmake: add calculate_average_switch func to warning ignore list
  xc/common/cmake/arch_define.cmake
Labels: merge-if-green, type-utils

#1577 New yosys with some fixes
  environment.yml
  ice40/yosys/synth.tcl
  xc/common/primitives/slicem/CMakeLists.txt
  xc/common/primitives/slicem/Ndram/CMakeLists.txt
  xc/common/primitives/slicem/Ndram/b_dram.pb_type.xml
  xc/common/primitives/slicem/Ndram/ntemplate.N_dram.pb_type.xml
  xc/common/primitives/slicem/di64_stub.sim.v
  xc/common/primitives/slicem/dram_2_output_stub.sim.v
  xc/common/primitives/slicem/dram_4_output_stub.sim.v
  xc/common/primitives/slicem/dram_8_output_stub.sim.v
  xc/common/primitives/slicem/slicem.model.xml
  xc/common/primitives/slicem/slicem.pb_type.xml
  xc/common/primitives/slicem/wemux.pb_type.xml
  xc/xc7/techmap/cells_map.v
  xc/xc7/techmap/cells_sim.v
  xc/xc7/tests/srl/srl16_amc31/basys3_dffmux_top.v
  xc/xc7/tests/srl/srl16_amc31/basys3_doutmux_top.v
  xc/xc7/tests/srl/srl16_init/basys3_top.v
  xc/xc7/tests/srl/srl16_shift/basys3_top.v
  xc/xc7/tests/srl/srl32_amc31/basys3_dffmux_top.v
  xc/xc7/tests/srl/srl32_amc31/basys3_doutmux_top.v
  xc/xc7/tests/srl/srl32_chain/basys3_top.v
  xc/xc7/tests/srl/srl32_init/basys3_top.v
  xc/xc7/tests/srl/srl32_shift/basys3_top.v
  xc/xc7/yosys/synth.tcl
Labels: arch-ice40, lang-verilog, lang-xml, type-sim, type-utils, type-vpr

#1609 Add a CMake variable to select an architecture to install.
  CMakeLists.txt
  common/cmake/install.cmake
  xc/common/cmake/install.cmake
Labels: type-utils

#1565 Heterogeneous synth tiles
  tox.ini
  utils/lib/rr_graph/graph2.py
  xc/common/cmake/device_define.cmake
  xc/common/utils/prjxray_arch_import.py
  xc/common/utils/prjxray_create_ioplace.py
  xc/common/utils/prjxray_create_pinmap_csv.py
  xc/common/utils/prjxray_create_synth_tiles.py
  xc/common/utils/prjxray_edge_library.py
  xc/common/utils/prjxray_routing_import.py
  xc/common/utils/prjxray_synth_tiles_to_pinmap_csv.py
Labels: arch-artix7, lang-python, type-utils

#1616 Do full P&R flow when requested.
  xc/common/cmake/vivado.cmake
  xc/common/utils/vivado_create_runme.py
Labels: lang-python, type-utils
