Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-03, with the labels that each got.

#1356 Fix DRAM vendor tools tests
  xc7/fasm2bels/clb_models.py
  xc7/primitives/slicem/slicem.pb_type.xml
  xc7/tests/dram/CMakeLists.txt
Labels: lang-python, lang-xml, type-vpr

#1363 Use latest VtR from conda and update flags.
  CMakeLists.txt
  common/cmake/devices.cmake
  xc7/make/arch_define.cmake
Labels: type-utils

#1357 bram: use same READ width for both ports when in SDP mode
  CMakeLists.txt
  xc7/fasm2bels/bram_models.py
  xc7/primitives/bram/bram.pb_type.xml
  xc7/primitives/bram/ramb18e1.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
  xc7/tests/bram_sdp_test/CMakeLists.txt
Labels: lang-python, lang-verilog, lang-xml, type-vpr

#1365 Add Project X-Ray flow description
  docs/requirements.txt
  docs/source/conf.py
  docs/source/images/prjxray/arch-defs-flow.png
  docs/source/images/prjxray/import-flow.png
  docs/source/images/prjxray/import-wire-class.svg
  docs/source/images/prjxray/rrgraph-wire.svg
  docs/source/images/prjxray/vpr-rrgraph-types.svg
  docs/source/images/prjxray/vtr-rrgraph.png
  docs/source/index.rst
  docs/source/prjxray/flow-diagram.rst
  docs/source/prjxray/index.rst
  docs/source/prjxray/vtr-rrgraph.rst
Labels: lang-python, lang-xml, third-party, type-docs, type-infra, type-utils, type-vpr

#1372 xc7: tests: soc: added Ibex with led example
  xc7/tests/soc/CMakeLists.txt
  xc7/tests/soc/ibex/CMakeLists.txt
  xc7/tests/soc/ibex/clkgen_xil7series.v
  xc7/tests/soc/ibex/ibex_alu.v
  xc7/tests/soc/ibex/ibex_compressed_decoder.v
  xc7/tests/soc/ibex/ibex_controller.v
  xc7/tests/soc/ibex/ibex_core.v
  xc7/tests/soc/ibex/ibex_core_tracing.v
  xc7/tests/soc/ibex/ibex_cs_registers.v
  xc7/tests/soc/ibex/ibex_decoder.v
  xc7/tests/soc/ibex/ibex_ex_block.v
  xc7/tests/soc/ibex/ibex_fetch_fifo.v
  xc7/tests/soc/ibex/ibex_id_stage.v
  xc7/tests/soc/ibex/ibex_if_stage.v
  xc7/tests/soc/ibex/ibex_load_store_unit.v
  xc7/tests/soc/ibex/ibex_multdiv_fast.v
  xc7/tests/soc/ibex/ibex_multdiv_slow.v
  xc7/tests/soc/ibex/ibex_pmp.v
  xc7/tests/soc/ibex/ibex_prefetch_buffer.v
  xc7/tests/soc/ibex/ibex_register_file_ff.v
  xc7/tests/soc/ibex/led.vmem
  xc7/tests/soc/ibex/pins_artya7.pcf
  xc7/tests/soc/ibex/pins_artya7.sdc
  xc7/tests/soc/ibex/pins_artya7.xdc
  xc7/tests/soc/ibex/ram_1p.v
  xc7/tests/soc/ibex/top_artya7.v
Labels: lang-verilog

#1252 Add make install target
  .github/kokoro/xc7.sh
  CMakeLists.txt
  common/cmake/devices.cmake
  common/cmake/install.cmake
  xc7/make/arch_define.cmake
  xc7/make/device_define.cmake
  xc7/make/install.cmake
  xc7/tests/CMakeLists.txt
  xc7/tests/install_test/CMakeLists.txt
  xc7/tests/install_test/Makefile
  xc7/tests/install_test/basys3.pcf
  xc7/tests/install_test/counter_basys3.v
  xc7/tests/install_test/requirements.txt
  xc7/toolchain_wrappers/env
  xc7/toolchain_wrappers/generate_constraints
  xc7/toolchain_wrappers/pack
  xc7/toolchain_wrappers/place
  xc7/toolchain_wrappers/route
  xc7/toolchain_wrappers/synth
  xc7/toolchain_wrappers/vpr_common
  xc7/toolchain_wrappers/write_bitstream
  xc7/toolchain_wrappers/write_fasm
  xc7/yosys/synth.tcl
Labels: lang-makefile, lang-verilog, type-infra, type-utils

#1379 cmake: update minimum version to 3.14.0
  .travis.yml
  CMakeLists.txt
Labels: type-infra

#1385 Add nexys picosoc
  common/cmake/devices.cmake
  tests/9-soc/picosoc/CMakeLists.txt
  tests/9-soc/picosoc/basys3.sdc
  tests/9-soc/picosoc/nexys_video_demo.v
  xc/xc7/tests/buttons/CMakeLists.txt
  xc/xc7/tests/buttons/buttons_arty.v
  xc/xc7/tests/buttons/buttons_nexys_video.v
  xc/xc7/tests/common/CMakeLists.txt
  xc/xc7/tests/common/nexys_video.pcf
  xc/xc7/tests/common/nexys_video.xdc
  xc/xc7/tests/counter/CMakeLists.txt
  xc/xc7/tests/counter/counter_nexys_video.v
Labels: lang-python, lang-verilog, third-party, type-utils
