Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-09, with the labels that each got.

#1649 Partial Reconfig Docs with Example
  docs/source/prjxray/index.rst
  docs/source/prjxray/partial-reconfig.rst
  xc/common/utils/prjxray_create_pinmap_csv.py
  xc/common/utils/prjxray_create_synth_tiles.py
  xc/common/utils/prjxray_routing_import.py
  xc/xc7/archs/artix7/devices/CMakeLists.txt
  xc/xc7/archs/artix7/devices/xc7a50t-arty-switch-processing-overlay-virt/CMakeLists.txt
  xc/xc7/archs/artix7/devices/xc7a50t-arty-switch-processing-overlay-virt/design.json
  xc/xc7/archs/artix7/devices/xc7a50t-arty-switch-processing-pr1-roi-virt/CMakeLists.txt
  xc/xc7/archs/artix7/devices/xc7a50t-arty-switch-processing-pr1-roi-virt/design.json
  xc/xc7/archs/artix7/devices/xc7a50t-arty-switch-processing-pr2-roi-virt/CMakeLists.txt
  xc/xc7/archs/artix7/devices/xc7a50t-arty-switch-processing-pr2-roi-virt/design.json
  xc/xc7/boards.cmake
  xc/xc7/tests/CMakeLists.txt
  xc/xc7/tests/common/CMakeLists.txt
  xc/xc7/tests/common/arty_switch_processing_monolithic.pcf
  xc/xc7/tests/common/arty_switch_processing_overlay.pcf
  xc/xc7/tests/common/arty_switch_processing_pr1.pcf
  xc/xc7/tests/common/arty_switch_processing_pr2.pcf
  xc/xc7/tests/switch_processing/CMakeLists.txt
  xc/xc7/tests/switch_processing/switch_processing_add_1.v
  xc/xc7/tests/switch_processing/switch_processing_arty_monolithic.v
  xc/xc7/tests/switch_processing/switch_processing_arty_overlay.v
  xc/xc7/tests/switch_processing/switch_processing_blink.v
  xc/xc7/tests/switch_processing/switch_processing_identity.v
Labels: arch-artix7, lang-python, lang-verilog, type-docs, type-utils

#1637 Path typos and make target typo
  docs/source/getting-started.rst
Labels: type-docs

#1655 Remove reference to "all_conda" from getting started.
  docs/source/getting-started.rst
Labels: type-docs

#1640 xc7: yosys: Use params plugin to update PLL's PHASE params
  environment.yml
  xc/common/cmake/arch_define.cmake
  xc/common/cmake/install.cmake
  xc/xc7/archs/artix7/CMakeLists.txt
  xc/xc7/archs/artix7_100t/CMakeLists.txt
  xc/xc7/archs/artix7_200t/CMakeLists.txt
  xc/xc7/archs/zynq7/CMakeLists.txt
  xc/xc7/archs/zynq7_z020/CMakeLists.txt
  xc/xc7/tests/ddr/ddr_uart.v
  xc/xc7/tests/ddr/ddr_uart_100t.v
  xc/xc7/tests/soc/litex/base/baselitex_arty.v
  xc/xc7/tests/soc/litex/base/baselitex_arty100t.v
  xc/xc7/tests/soc/litex/mini_ddr/minilitex_ddr_arty.v
  xc/xc7/tests/soc/litex/mini_ddr/minilitex_ddr_arty100t.v
  xc/xc7/yosys/synth.tcl
  xc/xc7/yosys/utils.tcl
Labels: arch-artix7, lang-verilog, type-utils

#1638 Configure Kokoro to build the 200t install package
  .github/kokoro/continuous-install-200t.cfg
  .github/kokoro/install-200t.sh
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-install-200t.cfg
  xc/xc7/tests/install_test/CMakeLists.txt
  xc/xc7/tests/install_test/Makefile
  xc/xc7/tests/install_test/counter_nexys_video.v
  xc/xc7/tests/install_test/counter_nexys_video.xdc
  xc/xc7/tests/install_test/nexys_video.pcf
Labels: lang-makefile, lang-python, lang-verilog, type-infra

#1658 place_constr: IDELAYCTRL constrained where IDELAY sites are located
  utils/vpr_place_constraints.py
  xc/common/utils/prjxray_create_place_constraints.py
  xc/xc7/tests/CMakeLists.txt
  xc/xc7/tests/ddr/ddr_uart.v
  xc/xc7/tests/ddr/ddr_uart_100t.v
  xc/xc7/tests/iddr_oddr/ioddr_hw_test_basys3.v
  xc/xc7/tests/idelayctrl/CMakeLists.txt
  xc/xc7/tests/idelayctrl/README.md
  xc/xc7/tests/idelayctrl/arty.pcf
  xc/xc7/tests/idelayctrl/idelayctrl.v
  xc/xc7/tests/serdes/serdes_test_idelay.v
  xc/xc7/tests/soc/litex/base/baselitex_arty.v
  xc/xc7/tests/soc/litex/base/baselitex_arty100t.v
  xc/xc7/tests/soc/litex/mini_ddr/minilitex_ddr_arty.v
  xc/xc7/tests/soc/litex/mini_ddr/minilitex_ddr_arty100t.v
Labels: lang-python, lang-verilog, merge-if-green, type-docs, type-utils

#1660 devices.cmake: remove OUT_MERGED_FASM before appending fasm files
  common/cmake/devices.cmake
Labels: type-utils

#1665 Remove stragler PLL LOC constraint for 100T -- no longer necessary.
  xc/xc7/tests/ddr/ddr_uart_100t.v
Labels: lang-verilog

#1666 Update VTR
  common/cmake/devices.cmake
  environment.yml
  ice40/icestorm.cmake
  ice40/utils/ice40_create_ioplace.py
  utils/print_qor.py
  utils/vpr_io_place.py
  xc/xc7/toolchain_wrappers/symbiflow_place
Labels: arch-ice40, lang-python, merge-if-green, type-utils

#1672 Convert generate.sh to a python shell script.
  xc/xc7/tests/soc/ibex/CMakeLists.txt
  xc/xc7/tests/soc/ibex/generate.py
  xc/xc7/tests/soc/ibex/generate.sh
Labels: lang-python, merge-if-green

#1682 toolchain_wrappers: add additional_vpr_options option
  xc/xc7/tests/install_test/Makefile
  xc/xc7/toolchain_wrappers/symbiflow_pack
  xc/xc7/toolchain_wrappers/symbiflow_place
  xc/xc7/toolchain_wrappers/symbiflow_route
  xc/xc7/toolchain_wrappers/symbiflow_write_fasm
  xc/xc7/toolchain_wrappers/symbiflow_write_xml_rr_graph
  xc/xc7/toolchain_wrappers/vpr_common
Labels: lang-makefile

#1667 Transition to use extended map lookahead
  xc/common/cmake/arch_define.cmake
  xc/common/cmake/device_define.cmake
  xc/common/utils/prjxray_create_synth_tiles.py
  xc/common/utils/prjxray_edge_library.py
Labels: arch-ice40, lang-python, type-utils
