Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-12, with the labels that each got.

#1817 Add memory and disk space paging.
  .github/kokoro/install.sh
  .github/kokoro/steps/start_monitor.sh
  .github/kokoro/steps/stop_monitor.sh
  .github/kokoro/xc7-vendor.sh
  .github/kokoro/xc7.sh
  .github/kokoro/xc7a200t-vendor.sh
  .github/kokoro/xc7a200t.sh
Labels: type-infra

#1796 Package also circuits
  .github/kokoro/continuous-install-200t.cfg
  .github/kokoro/continuous-install.cfg
  .github/kokoro/install-200t.sh
  .github/kokoro/install.sh
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-install-200t.cfg
  .github/kokoro/presubmit-install.cfg
  common/cmake/devices.cmake
  common/cmake/litex.cmake
  tests/9-soc/murax/CMakeLists.txt
  tests/9-soc/picosoc/CMakeLists.txt
  xc/xc7/tests/counter/CMakeLists.txt
  xc/xc7/tests/soc/ibex/CMakeLists.txt
Labels: lang-python, type-infra, type-utils

#1830 install: circuits: add also place constraints
  common/cmake/devices.cmake
Labels: type-utils

#1841 Run URAY_VIVADO once before running in parallel.
  .github/kokoro/xc7-vendor.sh
  .github/kokoro/xc7a200t-vendor.sh
Labels: type-infra

#1839 Use `read_xdc -no_add` to avoid write-back.
  xc/common/cmake/vivado.cmake
  xc/common/utils/vivado_create_runme.py
Labels: lang-python, type-utils

#1838 Fix missing width on RAMB18E1 techmap.
  xc/xc7/techmap/cells_map.v
Labels: lang-verilog

#1836 Use parallel compression
  .github/kokoro/install.sh
  .github/kokoro/steps/hostsetup.sh
Labels: lang-python, type-infra, type-utils

#1848 install: fix typo in package device package generation
  .github/kokoro/install.sh
Labels: type-infra

#1844 Check disk usage.
  .github/kokoro/package_results.sh
  .github/kokoro/steps/hostinfo.sh
Labels: type-infra

#1850 Add disk space to pager.
  .github/kokoro/steps/start_monitor.sh
Labels: type-infra

#1849 Remove install directory once tarballs are created.
  .github/kokoro/install.sh
Labels: type-infra

#1860 Fix PS7 tests
  CMakeLists.txt
  xc/xc7/tests/ps7/axi_lite_reg/CMakeLists.txt
  xc/xc7/tests/ps7/axi_lite_reg/axi_reg.v
  xc/xc7/tests/ps7/axi_lite_reg/zybo.pcf
  xc/xc7/tests/ps7/axi_lite_reg/zybo.xdc
  xc/xc7/tests/ps7/counter_emio/CMakeLists.txt
  xc/xc7/tests/ps7/counter_emio/counter_emio.v
  xc/xc7/tests/ps7/counter_emio/zybo.pcf
  xc/xc7/tests/ps7/counter_emio/zybo.xdc
Labels: lang-verilog

#1705 Make sure core dumps are recorded
  .github/kokoro/continuous-docs.cfg
  .github/kokoro/continuous-ice40.cfg
  .github/kokoro/continuous-ql.cfg
  .github/kokoro/continuous-testarch.cfg
  .github/kokoro/continuous-tests.cfg
  .github/kokoro/continuous-xc7-vendor.cfg
  .github/kokoro/continuous-xc7.cfg
  .github/kokoro/continuous-xc7a200t-vendor.cfg
  .github/kokoro/continuous-xc7a200t.cfg
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/package_results.sh
  .github/kokoro/presubmit-docs.cfg
  .github/kokoro/presubmit-ice40.cfg
  .github/kokoro/presubmit-ql.cfg
  .github/kokoro/presubmit-testarch.cfg
  .github/kokoro/presubmit-tests.cfg
  .github/kokoro/presubmit-xc7-vendor.cfg
  .github/kokoro/presubmit-xc7.cfg
  .github/kokoro/presubmit-xc7a200t-vendor.cfg
  .github/kokoro/presubmit-xc7a200t.cfg
  .github/kokoro/steps/hostsetup.sh
  .github/kokoro/xc7.sh
Labels: lang-python, type-infra

#1870 oddr: fix inv and zinv techmaps
  xc/xc7/techmap/cells_map.v
  xc/xc7/techmap/cells_sim.v
Labels: lang-verilog

#1419 Add techmap for BUFGMUX
  xc/xc7/techmap/cells_map.v
  xc/xc7/tests/CMakeLists.txt
  xc/xc7/tests/bufgmux/CMakeLists.txt
  xc/xc7/tests/bufgmux/arty.xdc
  xc/xc7/tests/bufgmux/bufgmux.v
  xc/xc7/tests/bufgmux/nexys_video.xdc
Labels: lang-verilog, third-party

#1886 Lower timeout to workaround Vivado 2019.2 hang.
  .github/kokoro/continuous-docs.cfg
  .github/kokoro/continuous-ice40.cfg
  .github/kokoro/continuous-install-200t.cfg
  .github/kokoro/continuous-install.cfg
  .github/kokoro/continuous-ql.cfg
  .github/kokoro/continuous-testarch.cfg
  .github/kokoro/continuous-tests.cfg
  .github/kokoro/continuous-xc7-vendor.cfg
  .github/kokoro/continuous-xc7.cfg
  .github/kokoro/continuous-xc7a200t-vendor.cfg
  .github/kokoro/continuous-xc7a200t.cfg
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-docs.cfg
  .github/kokoro/presubmit-ice40.cfg
  .github/kokoro/presubmit-install-200t.cfg
  .github/kokoro/presubmit-install.cfg
  .github/kokoro/presubmit-ql.cfg
  .github/kokoro/presubmit-testarch.cfg
  .github/kokoro/presubmit-tests.cfg
  .github/kokoro/presubmit-xc7-vendor.cfg
  .github/kokoro/presubmit-xc7.cfg
  .github/kokoro/presubmit-xc7a200t-vendor.cfg
  .github/kokoro/presubmit-xc7a200t.cfg
Labels: lang-python, type-infra

#1883 install: resolve symlinks before packaging
  .github/kokoro/install.sh
Labels: type-infra, type-utils
