Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-10, with the labels that each got.

#1689 Fix BRAM write enable ports.
  xc/xc7/techmap/cells_map.v
Labels: lang-verilog

#1687 Add FF-LUT pack patterns.
  xc/common/primitives/common_slice/Nlut/ntemplate.Nlut.pb_type.xml
  xc/common/primitives/common_slice/common_slice.pb_type.xml
  xc/common/primitives/ff/ff.pb_type.xml
Labels: lang-xml, type-utils, type-vpr

#1686 Remove penalty cost for undesirable connections
  utils/lib/connection_database.py
  utils/lib/connection_database.sql
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph/tests/test_graph2.py
  utils/lib/rr_graph_capnp/graph2.py
  utils/lib/rr_graph_xml/graph2.py
  xc/common/utils/prjxray_arch_import.py
  xc/common/utils/prjxray_form_channels.py
  xc/common/utils/prjxray_routing_import.py
Labels: lang-python, type-utils

#1688 Fixup IOB definition
  xc/xc7/techmap/cells_sim.v
  xc/xc7/techmap/iobs.v
  xc/xc7/yosys/synth.tcl
Labels: lang-verilog

#1674 Change how CARRY4 modelling is handled
  common/cmake/devices.cmake
  utils/fix_xc7_carry.py
  xc/common/cmake/install.cmake
  xc/common/primitives/common_slice/carry/CMakeLists.txt
  xc/common/primitives/common_slice/carry/carry4_vpr.model.xml
  xc/common/primitives/common_slice/carry/carry4_vpr.pb_type.xml
  xc/common/primitives/common_slice/carry/carry_cout_plug.sim.v
  xc/common/primitives/common_slice/common_slice.model.xml
  xc/common/primitives/common_slice/common_slice.pb_type.xml
  xc/xc7/techmap/carry_map.v
  xc/xc7/techmap/cells_map.v
  xc/xc7/techmap/cells_sim.v
  xc/xc7/techmap/clean_carry_map.v
  xc/xc7/tests/soc/litex/base/baselitex_arty.xdc
  xc/xc7/toolchain_wrappers/symbiflow_synth
  xc/xc7/yosys/synth.tcl
Labels: lang-python, lang-verilog, lang-xml, third-party, type-infra, type-sim, type-utils, type-vpr
