Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-05, with the labels that each got.

#1427 Adjust installed files
  .github/kokoro/install.sh
  common/cmake/install.cmake
  xc/common/cmake/arch_define.cmake
  xc/common/cmake/device_define.cmake
  xc/common/cmake/install.cmake
  xc/common/cmake/project_ray.cmake
  xc/common/utils/prjxray_create_place_constraints.py
  xc/common/utils/prjxray_form_channels.py
  xc/xc7/tests/install_test/CMakeLists.txt
  xc/xc7/toolchain_wrappers/generate_constraints
  xc/xc7/toolchain_wrappers/synth
  xc/xc7/toolchain_wrappers/vpr_common
  xc/xc7/toolchain_wrappers/write_bitstream
  xc/xc7/toolchain_wrappers/write_xml_rr_graph
Labels: lang-python, merge-if-green, type-infra, type-utils

#1488 Bugfixes for prjxray_create_place_constraints.py
  xc/common/utils/prjxray_create_place_constraints.py
Labels: lang-python, type-utils

#1495 Upgrades miniconda and pycapn
  CMakeLists.txt
  common/cmake/env.cmake
Labels: type-utils

#1497 channels: fix vpr grid map generation
  xc/common/utils/prjxray_form_channels.py
Labels: lang-python, type-utils
