Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-04, with the labels that each got.

#1386 Heterogeneous tiles implementation
  CMakeLists.txt
  common/xml/fpga_architecture.xsd
  utils/lib/pb_type_xml.py
  utils/update_arch_tiles.py
  xc/common/cmake/arch_define.cmake
  xc/common/cmake/project_ray.cmake
  xc/common/utils/prjxray_arch_import.py
  xc/common/utils/prjxray_create_equiv_tiles.py
  xc/common/utils/prjxray_create_place_constraints.py
  xc/common/utils/prjxray_import_tile_capacity.py
  xc/common/utils/prjxray_physical_tile_import.py
  xc/common/utils/prjxray_tile_import.py
  xc/xc7/archs/artix7/tiles/clk_bufg_bot_r/CMakeLists.txt
  xc/xc7/archs/artix7/tiles/clk_bufg_top_r/CMakeLists.txt
  xc/xc7/archs/artix7_200t/tiles/clk_bufg_bot_r/CMakeLists.txt
  xc/xc7/archs/artix7_200t/tiles/clk_bufg_top_r/CMakeLists.txt
  xc/xc7/archs/zynq7/tiles/clk_bufg_bot_r/CMakeLists.txt
  xc/xc7/archs/zynq7/tiles/clk_bufg_top_r/CMakeLists.txt
  xc/xc7/tests/bram_test/CMakeLists.txt
Labels: arch-artix7, lang-python, type-utils

#1404 xc: primitives: remove empty or unused directories
  xc/common/primitives/io/io.pb_type.xml
  xc/common/primitives/ramb18e1/CMakeLists.txt
  xc/common/primitives/rambfifo36e1/CMakeLists.txt
Labels: lang-xml, type-utils, type-vpr

#1407 A VPR placement visualization utility.
  utils/vpr_place_view.py
Labels: lang-python, type-utils

#1406 install: create tar of the installed toolchain
  .github/kokoro/continuous-install.cfg
  .github/kokoro/install.sh
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/presubmit-install.cfg
  .github/kokoro/xc7.sh
Labels: lang-python, type-infra, type-utils

#1416 Update to latest VtR
  .github/kokoro/continuous-xc7-vendor.cfg
  .github/kokoro/presubmit-xc7-vendor.cfg
  CMakeLists.txt
  xc/common/cmake/arch_define.cmake
  xc/common/primitives/bufgctrl/bufgctrl.model.xml
  xc/common/primitives/bufgctrl/bufgctrl.pb_type.xml
  xc/common/primitives/plle2_adv/plle2_adv.model.xml
  xc/common/primitives/plle2_adv/plle2_adv.pb_type.xml
Labels: lang-xml, merge-if-green, type-infra, type-utils, type-vpr
