Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-11, with the labels that each got.

#1806 ci: move from travis to GH actions
  .github/travis/after_failure.sh
  .github/travis/after_success.sh
  .github/travis/before_cache.sh
  .github/travis/compare-files.sh
  .github/travis/git-fixup.sh
  .github/travis/install.sh
  .github/workflows/ci.yml
  .github/workflows/scripts/common.sh
  .github/workflows/scripts/script.sh
  .travis.yml
Labels: lang-python, type-infra, type-utils

#1807 Move to gh actions followup
  .github/ci/common.sh
  .github/ci/test.sh
  .github/workflows/ci.yml
Labels: type-infra

#1782 Make Ibex sv2v conversion deterministic
  xc/xc7/tests/soc/ibex/generate.py
Labels: lang-python
