Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-02, with the labels that each got.

#1288 output reports after fasm2bels
  xc7/make/vivado.cmake
  xc7/utils/vivado_create_runme.py
Labels: lang-python, type-utils

#1284 A script for the PS7 cell
  xc7/utils/prjxray_make_ps7_models.py
Labels: lang-python, type-utils

#1298 Remove unguarded "list(APPEND" that was causing multiple rules.
  common/cmake/devices.cmake
Labels: type-utils

#1304 Fix missing get_file_location when EXPLICIT_ADD_FILE_TARGETS is used.
  common/cmake/devices.cmake
Labels: type-utils

#1296 Fix iostandard fasm2bels
  xc7/fasm2bels/iob_models.py
Labels: lang-python

#1293 Added optional loading rr graph edges to the graph library
  utils/lib/rr_graph/graph2.py
  utils/lib/rr_graph_xml/graph2.py
Labels: lang-python, type-utils

#1303 Add ability to supply an XDC file to Vivado analysis.
  xc7/make/vivado.cmake
  xc7/utils/vivado_create_runme.py
Labels: lang-python, type-utils

#1308 Remove VPR flags set to default values, and set --quick_check_route
  common/cmake/devices.cmake
  xc7/make/arch_define.cmake
Labels: type-utils

#1317 xc7: Moving README file into correct directory.
  xc7/tests/iobuf_i2c/README.md
Labels: type-docs

#1318 oserdes: fix IS_T_INVERTED parameter
  xc7/techmap/cells_map.v
Labels: lang-verilog

#1313 fasm2bels: fix LDCE is_c_inverted
  xc7/fasm2bels/clb_models.py
Labels: lang-python

#1294 Add ddr test
  xc7/fasm2bels/ioi_models.py
  xc7/tests/CMakeLists.txt
  xc7/tests/ddr/CMakeLists.txt
  xc7/tests/ddr/arty.pcf
  xc7/tests/ddr/arty.sdc
  xc7/tests/ddr/arty.xdc
  xc7/tests/ddr/ddr_uart.v
  xc7/tests/ddr/mem.init
  xc7/tests/ddr/mem_1.init
  xc7/tests/ddr/scripts/README.md
  xc7/tests/ddr/scripts/arty.py
  xc7/tests/ddr/scripts/csr.csv
  xc7/tests/ddr/scripts/sdram_init.py
  xc7/tests/ddr/scripts/test_sdram.py
  xc7/utils/add_pack_patterns.py
Labels: lang-makefile, lang-python, lang-verilog, type-docs, type-utils

#1322 Split CMake arch target from prjxray arch folder.
  xc7/archs/artix7/CMakeLists.txt
  xc7/archs/zynq7/CMakeLists.txt
  xc7/make/arch_define.cmake
  xc7/make/device_define.cmake
  xc7/make/project_xray.cmake
  xc7/make/vivado.cmake
Labels: arch-artix7

#1325 Suppress useless warnings from check_route.
  xc7/make/arch_define.cmake
Labels: third-party

#1309 Add initial SERDES timing
  utils/update_arch_timings.py
  xc7/bels.json
  xc7/primitives/ilogice3/ilogice3.model.xml
  xc7/primitives/ilogice3/ilogice3.pb_type.xml
  xc7/primitives/ologice3/ologice3.model.xml
  xc7/primitives/ologice3/ologice3.pb_type.xml
Labels: lang-python, lang-xml, type-utils, type-vpr

#1321 Refactor SDC to avoid VPR net aliases.
  CMakeLists.txt
  xc7/tests/ddr/arty.sdc
  xc7/tests/ddr/ddr_uart.v
Labels: lang-verilog

#1333 Add initial support for PULLTYPE.
  xc7/primitives/iob33/modes/ibuf.xml
  xc7/primitives/iob33/modes/iobuf.xml
  xc7/primitives/iob33/modes/obuf.xml
  xc7/primitives/iob33m/iob33m.pb_type.xml
  xc7/primitives/iob33s/iob33s.pb_type.xml
  xc7/techmap/cells_map.v
  xc7/techmap/cells_sim.v
Labels: lang-verilog, lang-xml, type-vpr

#1334 Add dynamic PUDC detection to IOB models.
  xc7/fasm2bels/iob_models.py
Labels: lang-python

#1343 Add penalty to edges that enable HCLK loopbacks.
  xc7/utils/prjxray_form_channels.py
Labels: lang-python, type-utils

#1220 Mini Litex with DDR test
  xc7/tests/soc/litex/CMakeLists.txt
  xc7/tests/soc/litex/mini_ddr/CMakeLists.txt
  xc7/tests/soc/litex/mini_ddr/README.md
  xc7/tests/soc/litex/mini_ddr/VexRiscv_Lite.v
  xc7/tests/soc/litex/mini_ddr/arty.pcf
  xc7/tests/soc/litex/mini_ddr/arty.sdc
  xc7/tests/soc/litex/mini_ddr/arty_clocks.xdc
  xc7/tests/soc/litex/mini_ddr/mem.init
  xc7/tests/soc/litex/mini_ddr/mem_1.init
  xc7/tests/soc/litex/mini_ddr/minilitex_ddr_arty.v
  xc7/tests/soc/litex/mini_ddr/minilitex_ddr_arty.xdc
  xc7/tests/soc/litex/mini_ddr/scripts/min_ddr_arty.py
Labels: lang-python, lang-verilog, type-docs, type-infra, type-utils

#1335 Add logic for clk's driven IBUF's.
  xc7/utils/prjxray_create_place_constraints.py
Labels: lang-python, type-utils

#1345 Add clean to update_tools.py to cleanup after some resets.
  utils/update_tools/update_tools.py
Labels: lang-python, type-utils

#1349 Fix iobuf inference
  common/cmake/devices.cmake
  xc7/techmap/iob_make_wires.v
  xc7/techmap/iob_map.v
  xc7/techmap/iobs.v
  xc7/tests/ddr/arty.sdc
  xc7/tests/ddr/ddr_uart.v
  xc7/tests/iobuf_i2c/basys3.sdc
  xc7/tests/iobuf_i2c/iobuf_i2c_basys3.v
  xc7/tests/soc/litex/mini/minilitex_arty.v
  xc7/tests/soc/litex/mini_ddr/arty.sdc
  xc7/tests/soc/litex/mini_ddr/minilitex_ddr_arty.v
  xc7/utils/prjxray_create_place_constraints.py
  xc7/yosys/synth.tcl
Labels: lang-python, lang-verilog, type-utils

#1355 Enable XC7A200T on CI.
  .github/kokoro/xc7a200t-vendor.sh
  .github/kokoro/xc7a200t.sh
Labels: type-infra
