Repository f4pga/f4pga-arch-defs, pull requests merged in 2020-06, with the labels that each got.

#1518 vpr: suppress RR graph tool comment warning
  xc/common/cmake/arch_define.cmake
Labels: type-utils

#1521 Fix USE_CONDA=FALSE
  CMakeLists.txt
  common/cmake/env.cmake
  ice40/devices/top-routing-virt/CMakeLists.txt
  ice40/icestorm.cmake
  xc/xc7/tests/install_test/CMakeLists.txt
Labels: arch-ice40, merge-if-green, type-utils

#1515 Initial support for Artix 100t parts
  CMakeLists.txt
  xc/xc7/archs/CMakeLists.txt
  xc/xc7/archs/artix7_100t/CMakeLists.txt
  xc/xc7/archs/artix7_100t/devices/CMakeLists.txt
  xc/xc7/archs/artix7_100t/devices/xc7a100t-virt/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/bram_l/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/bram_r/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/bufgctrl/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/clbll_l/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/clbll_r/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/clblm_l/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/clblm_r/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/clk_bufg_bot_r/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/clk_bufg_top_r/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/cmt_top_l_upper_t/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/cmt_top_r_upper_t/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/hclk_ioi3/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/liob33_sing/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/riopad_m/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/slicel/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/slicem/CMakeLists.txt
  xc/xc7/boards.cmake
  xc/xc7/tests/buttons/CMakeLists.txt
  xc/xc7/tests/counter/CMakeLists.txt
  xc/xc7/tests/counter/counter_arty_bufg.v
  xc/xc7/tests/ddr/CMakeLists.txt
  xc/xc7/tests/ddr/ddr_uart_100t.v
  xc/xc7/tests/soc/litex/mini_ddr/CMakeLists.txt
  xc/xc7/tests/soc/litex/mini_ddr/README.md
  xc/xc7/tests/soc/litex/mini_ddr/minilitex_ddr_arty100t.v
  xc/xc7/tests/uart_loopback/CMakeLists.txt
Labels: lang-verilog, third-party, type-docs, type-infra

#1483 Allow import scripts to parse huge .net files
  utils/vpr_io_place.py
  utils/vpr_place_constraints.py
Labels: lang-python, type-utils

#1418 Add techmap for BUFGCE
  xc/xc7/techmap/cells_map.v
  xc/xc7/tests/CMakeLists.txt
  xc/xc7/tests/bufgce/CMakeLists.txt
  xc/xc7/tests/bufgce/bufgce_arty.v
  xc/xc7/tests/bufgce/bufgce_nexys_video.v
Labels: lang-verilog

#1500 IOBUFDS support
  xc/common/primitives/iob33m/iob33m.model.xml
  xc/common/primitives/iob33m/iob33m.pb_type.xml
  xc/common/primitives/iob33s/iob33s.model.xml
  xc/common/primitives/iob33s/iob33s.pb_type.xml
  xc/common/utils/add_pack_patterns.py
  xc/common/utils/prjxray_edge_library.py
  xc/common/utils/prjxray_form_channels.py
  xc/common/utils/prjxray_routing_import.py
  xc/xc7/fasm2bels/iob_models.py
  xc/xc7/techmap/cells_map.v
  xc/xc7/techmap/cells_sim.v
  xc/xc7/tests/CMakeLists.txt
  xc/xc7/tests/iologic_packing/CMakeLists.txt
  xc/xc7/tests/iologic_packing/README.md
  xc/xc7/tests/iologic_packing/generate.py
  xc/xc7/tests/iosettings/CMakeLists.txt
Labels: lang-python, lang-verilog, lang-xml, type-docs, type-utils, type-vpr

#1552 README.md: Update reference to xc7
  README.md
Labels: type-docs

#1466 PicoSoC and Murax for Nexys Video
  tests/9-soc/murax/CMakeLists.txt
  tests/9-soc/murax/basys3-full.pcf
  tests/9-soc/murax/basys3-full_100.sdc
  tests/9-soc/murax/basys3-full_50.sdc
  tests/9-soc/murax/basys3-full_toplevel_100.v
  tests/9-soc/murax/basys3-full_toplevel_50.v
  tests/9-soc/murax/basys3_full.sdc
  tests/9-soc/murax/nexys_video_100.sdc
  tests/9-soc/murax/nexys_video_50.sdc
  tests/9-soc/murax/nexys_video_toplevel_100.v
  tests/9-soc/murax/nexys_video_toplevel_50.v
  tests/9-soc/picosoc/CMakeLists.txt
  tests/9-soc/picosoc/README.md
  tests/9-soc/picosoc/basys3-full_100.sdc
  tests/9-soc/picosoc/basys3-full_50.sdc
  tests/9-soc/picosoc/basys3-full_demo_100.v
  tests/9-soc/picosoc/basys3-full_demo_50.v
  tests/9-soc/picosoc/basys3.pcf
  tests/9-soc/picosoc/basys3.sdc
  tests/9-soc/picosoc/firmware/Makefile
  tests/9-soc/picosoc/firmware/README.md
  tests/9-soc/picosoc/firmware/firmware.c
  tests/9-soc/picosoc/firmware_noflash_100.hex
  tests/9-soc/picosoc/firmware_noflash_25.hex
  tests/9-soc/picosoc/firmware_noflash_50.hex
  tests/9-soc/picosoc/nexys_video_100.sdc
  tests/9-soc/picosoc/nexys_video_50.sdc
  tests/9-soc/picosoc/nexys_video_demo_100.v
  tests/9-soc/picosoc/nexys_video_demo_50.v
  xc/common/utils/prjxray_create_place_constraints.py
  xc/xc7/tests/common/nexys_video.pcf
Labels: arch-ice40, lang-makefile, lang-python, lang-verilog, type-docs, type-utils

#1549 Filter NULL tiles in synth tile map to vpr coord
  xc/common/utils/prjxray_create_synth_tiles.py
Labels: lang-python, type-utils

#1539 docs: Adding build badges to README file.
  README.md
Labels: type-docs
