Repository f4pga/f4pga-arch-defs, pull requests merged in 2021-11, with the labels that each got.

#2240 docs: Introduce OpenFPGALoader programming tool
  docs/source/getting-started.rst
Labels: type-docs

#2322 gh-actions: update conda lock version and issue PR with deploy key
  .github/workflows/update_conda_lock.yml
Labels: type-infra

#2321 Update conda packages
  .github/kokoro/ql.sh
  .github/workflows/update_conda_lock.yml
  conda_lock.yml
  quicklogic/qlf_k4n8/tests/design_flow/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/pcf_and_sdc_option/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/pcf_io_reg/CMakeLists.txt
  tests/6-rot/CMakeLists.txt
  xc/common/utils/vivado_create_runme.py
Labels: lang-python, type-infra, type-utils

#2329 Fix conda packaging issue
  .github/workflows/update_conda_lock.yml
  conda_lock.yml
  environment.yml
  quicklogic/qlf_k4n8/tests/design_flow/CMakeLists.txt
Labels: type-infra
