Repository f4pga/f4pga-arch-defs, pull requests merged in 2021-06, with the labels that each got.

#2149 [EOS-S3] Changes to common CMake and Python scripts
  common/cmake/v2x.cmake
  utils/concatenate_v_sources.py
  utils/lib/rr_graph_xml/graph2.py
  utils/split_inouts.py
  utils/update_arch_tiles.py
  utils/update_arch_timings.py
Labels: lang-python, type-utils

#2153 QuickLogic: Toolchain wrappers update
  .github/kokoro/install.sh
  .github/kokoro/ql.sh
  quicklogic/common/cmake/quicklogic_install.cmake
  quicklogic/common/toolchain_wrappers/conda_build_install_package.sh
  quicklogic/common/toolchain_wrappers/ql_symbiflow
  quicklogic/common/toolchain_wrappers/symbiflow_generate_constraints
  quicklogic/common/toolchain_wrappers/symbiflow_synth
  quicklogic/common/toolchain_wrappers/vpr_common
  quicklogic/common/utils/convert_compile_opts.py
  quicklogic/qlf_k4n8/tests/design_flow/counter_16bit/clk_constraints.json
  quicklogic/qlf_k4n8/tests/features/install_test/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/install_test/Makefile
  quicklogic/qlf_k4n8/tests/features/install_test/compile_args/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/install_test/compile_args/compile_args.v
  quicklogic/qlf_k4n8/tests/features/install_test/compile_args/includes/add_2.v
  quicklogic/qlf_k4n8/tests/features/install_test/compile_args/libraries/add_3.not_v
  quicklogic/qlf_k4n8/tests/features/install_test/compile_args/pinmap_qlf_k4n8_umc22.csv
  quicklogic/qlf_k4n8/tests/features/install_test/counter_16bit/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/install_test/counter_16bit/counter_16bit.pcf
  quicklogic/qlf_k4n8/tests/features/install_test/counter_16bit/counter_16bit.sdc
  quicklogic/qlf_k4n8/tests/features/install_test/counter_16bit/counter_16bit.v
  quicklogic/qlf_k4n8/tests/features/install_test/counter_16bit/pinmap_qlf_k4n8_umc22.csv
  xc/xc7/tests/install_test/CMakeLists.txt
Labels: lang-makefile, lang-python, lang-verilog, type-infra, type-utils

#2175 kokoro: update to jdk 11
  .github/kokoro/steps/hostsetup.sh
  .github/kokoro/steps/rapidwright.sh
  .github/kokoro/xc7-vendor.sh
  .github/kokoro/xc7a200t-vendor.sh
Labels: type-infra

#2183 QuickLogic: Unify k4n8 and k6n10 utilities
  common/cmake/install.cmake
  quicklogic/common/CMakeLists.txt
  quicklogic/common/cmake/quicklogic_install.cmake
  quicklogic/common/cmake/quicklogic_qlf_arch.cmake
  quicklogic/common/cmake/quicklogic_toolchain_test.cmake
  quicklogic/common/utils/CMakeLists.txt
  quicklogic/common/utils/create_ioplace.py
  quicklogic/common/utils/create_lib.py
  quicklogic/common/utils/gather_lib_data.py
  quicklogic/common/utils/repacker/README.md
  quicklogic/common/utils/repacker/arch_xml_utils.py
  quicklogic/common/utils/repacker/block_path.py
  quicklogic/common/utils/repacker/eblif_netlist.py
  quicklogic/common/utils/repacker/netlist_cleaning.py
  quicklogic/common/utils/repacker/packed_netlist.py
  quicklogic/common/utils/repacker/pb_rr_graph.py
  quicklogic/common/utils/repacker/pb_rr_graph_netlist.py
  quicklogic/common/utils/repacker/pb_rr_graph_router.py
  quicklogic/common/utils/repacker/pb_type.py
  quicklogic/common/utils/repacker/repack.py
  quicklogic/common/utils/repacker/tests/eblif_roundtrip/netlist.golden.eblif
  quicklogic/common/utils/repacker/tests/eblif_roundtrip/test_eblif_roundtrip.py
  quicklogic/common/utils/repacker/tests/identity.xsl
  quicklogic/common/utils/repacker/tests/lut_padding/lut1.eblif
  quicklogic/common/utils/repacker/tests/lut_padding/lut1_0.golden.eblif
  quicklogic/common/utils/repacker/tests/lut_padding/lut1_0.net
  quicklogic/common/utils/repacker/tests/lut_padding/lut1_1.golden.eblif
  quicklogic/common/utils/repacker/tests/lut_padding/lut1_1.net
  quicklogic/common/utils/repacker/tests/lut_padding/lut1_2.golden.eblif
  quicklogic/common/utils/repacker/tests/lut_padding/lut1_2.net
  quicklogic/common/utils/repacker/tests/lut_padding/lut1_3.golden.eblif
  quicklogic/common/utils/repacker/tests/lut_padding/lut1_3.net
  quicklogic/common/utils/repacker/tests/lut_padding/test_lut_padding.py
  quicklogic/common/utils/repacker/tests/packed_netlist_roundtrip/netlist.golden.net
  quicklogic/common/utils/repacker/tests/packed_netlist_roundtrip/test_netlist_roundtrip.py
  quicklogic/common/utils/repacker/tests/sort_netlist.xsl
  quicklogic/qlf_k4n8/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/install_test/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/install_test/compile_args/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/install_test/counter_16bit/CMakeLists.txt
Labels: lang-python, type-docs, type-utils
