Repository f4pga/f4pga-arch-defs, pull requests merged in 2021-05, with the labels that each got.

#2135 Use Xilinx/RapidWright with pinned tag
  .github/kokoro/steps/rapidwright.sh
  xc/common/cmake/arch_define.cmake
Labels: type-infra, type-utils

#2133 xc/xc7/yosys: add multiple XDCs support
  common/cmake/devices.cmake
  common/cmake/litex.cmake
  quicklogic/common/toolchain_wrappers/symbiflow_synth
  tests/9-scalable_proc/CMakeLists.txt
  tests/9-soc/murax/CMakeLists.txt
  tests/9-soc/picosoc/CMakeLists.txt
  xc/xc7/tests/CMakeLists.txt
  xc/xc7/tests/bufgce/CMakeLists.txt
  xc/xc7/tests/bufgmux/CMakeLists.txt
  xc/xc7/tests/buttons/CMakeLists.txt
  xc/xc7/tests/counter/CMakeLists.txt
  xc/xc7/tests/ddr/CMakeLists.txt
  xc/xc7/tests/gtp_channel/CMakeLists.txt
  xc/xc7/tests/gtp_common/CMakeLists.txt
  xc/xc7/tests/iddr_oddr/CMakeLists.txt
  xc/xc7/tests/iobuf_i2c/CMakeLists.txt
  xc/xc7/tests/iologic_packing/CMakeLists.txt
  xc/xc7/tests/iosettings/CMakeLists.txt
  xc/xc7/tests/multixdc_counter/CMakeLists.txt
  xc/xc7/tests/multixdc_counter/README.md
  xc/xc7/tests/multixdc_counter/arty_0.xdc
  xc/xc7/tests/multixdc_counter/arty_1.xdc
  xc/xc7/tests/multixdc_counter/arty_2.xdc
  xc/xc7/tests/pcie_complex/CMakeLists.txt
  xc/xc7/tests/ps7/axi_lite_reg/CMakeLists.txt
  xc/xc7/tests/ps7/counter_emio/CMakeLists.txt
  xc/xc7/toolchain_wrappers/symbiflow_synth
  xc/xc7/yosys/synth.tcl
Labels: arch-base, type-docs, type-utils

#2138 QuickLogic: upstream post synth analysis fixes
  common/cmake/devices.cmake
  quicklogic/common/toolchain_wrappers/ql_symbiflow
  quicklogic/common/toolchain_wrappers/symbiflow_analysis
  quicklogic/common/toolchain_wrappers/vpr_common
  quicklogic/qlf_k4n8/techmap/cells_sim.v
  utils/vpr_fixup_post_synth.py
Labels: lang-python, lang-verilog, lang-xml, type-utils

#2140 QuickLogic: upstream repacker fixes
  quicklogic/common/cmake/quicklogic_qlf_arch.cmake
  quicklogic/qlf_k4n8/utils/CMakeLists.txt
  quicklogic/qlf_k4n8/utils/repacker/repack.py
  quicklogic/qlf_k4n8/utils/repacker/tests/lut_padding/lut1.eblif
  quicklogic/qlf_k4n8/utils/repacker/tests/lut_padding/lut1_0.golden.eblif
  quicklogic/qlf_k4n8/utils/repacker/tests/lut_padding/lut1_0.net
  quicklogic/qlf_k4n8/utils/repacker/tests/lut_padding/lut1_1.golden.eblif
  quicklogic/qlf_k4n8/utils/repacker/tests/lut_padding/lut1_1.net
  quicklogic/qlf_k4n8/utils/repacker/tests/lut_padding/lut1_2.golden.eblif
  quicklogic/qlf_k4n8/utils/repacker/tests/lut_padding/lut1_2.net
  quicklogic/qlf_k4n8/utils/repacker/tests/lut_padding/lut1_3.golden.eblif
  quicklogic/qlf_k4n8/utils/repacker/tests/lut_padding/lut1_3.net
  quicklogic/qlf_k4n8/utils/repacker/tests/lut_padding/test_lut_padding.py
Labels: lang-python, lang-xml, type-utils

#2144 QuickLogic: upstream SDC, PCF and post-synthesis fixes
  .github/kokoro/ql.sh
  common/cmake/devices.cmake
  quicklogic/common/cmake/quicklogic_install.cmake
  quicklogic/common/cmake/quicklogic_qlf_arch.cmake
  quicklogic/common/toolchain_wrappers/ql_symbiflow
  quicklogic/common/toolchain_wrappers/symbiflow_analysis
  quicklogic/common/toolchain_wrappers/symbiflow_repack
  quicklogic/common/utils/process_sdc_constraints.py
  quicklogic/qlf_k4n8/techmap/cells_sim.v
  quicklogic/qlf_k4n8/tests/design_flow/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/design_flow/counter_4clk/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/design_flow/counter_4clk/constraints.json
  quicklogic/qlf_k4n8/tests/design_flow/counter_4clk/test.pcf
  quicklogic/qlf_k4n8/tests/features/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/install_test/.gitignore
  quicklogic/qlf_k4n8/tests/features/install_test/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/install_test/Makefile
  quicklogic/qlf_k4n8/tests/features/install_test/counter_16bit.pcf
  quicklogic/qlf_k4n8/tests/features/install_test/counter_16bit.sdc
  quicklogic/qlf_k4n8/tests/features/install_test/counter_16bit.v
  quicklogic/qlf_k4n8/tests/features/install_test/pinmap_qlf_k4n8_umc22.csv
  quicklogic/qlf_k4n8/tests/features/pcf_and_sdc_option/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/pcf_and_sdc_option/shift_reg_8.pcf
  quicklogic/qlf_k4n8/tests/features/pcf_and_sdc_option/shift_reg_8.sdc
  quicklogic/qlf_k4n8/tests/features/pcf_io_reg/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/pcf_io_reg/io_reg.pcf
  quicklogic/qlf_k4n8/tests/features/post_synthesis_comb/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/post_synthesis_comb/multiplier_8bit_tb.v
  quicklogic/qlf_k4n8/tests/features/post_synthesis_seq/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/features/post_synthesis_seq/counter_16bit_tb.v
  quicklogic/qlf_k4n8/utils/create_ioplace.py
  quicklogic/qlf_k4n8/utils/repacker/repack.py
  utils/lib/parse_pcf.py
  utils/vpr_fixup_post_synth.py
Labels: lang-makefile, lang-python, lang-verilog, type-infra, type-utils
