Repository f4pga/f4pga-arch-defs, pull requests merged in 2021-04, with the labels that each got.

#2115 Pin-mapping support for QuickLogic EFPGA device
  common/cmake/devices.cmake
  quicklogic/common/cmake/quicklogic_board.cmake
  quicklogic/common/cmake/quicklogic_qlf_arch.cmake
  quicklogic/common/utils/pinmap_parse.py
  quicklogic/docs/Pin-mapping.md
  quicklogic/docs/images/image1.png
  quicklogic/docs/images/image2.png
  quicklogic/qlf_k4n8/boards.cmake
  quicklogic/qlf_k4n8/devices/umc22/interface-mapping_24x24.xml
  quicklogic/qlf_k4n8/devices/umc22/qlf_k4n8-qlf_k4n8_umc22_24x24.csv
  quicklogic/qlf_k4n8/tests/adder_8/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/adder_8/adder_8.pcf
  quicklogic/qlf_k4n8/tests/counter/CMakeLists.txt
  quicklogic/qlf_k4n8/tests/counter/test.pcf
  quicklogic/qlf_k4n8/utils/create_ioplace.py
  quicklogic/qlf_k4n8/utils/pinmap_parse.py
  tests/CMakeLists.txt
  utils/vpr_io_place.py
Labels: lang-python, lang-xml, type-docs, type-utils

#2053 Add PCIe support
  xc/common/primitives/CMakeLists.txt
  xc/common/primitives/pcie_2_1/CMakeLists.txt
  xc/common/primitives/pcie_2_1/pcie_2_1.model.xml
  xc/common/primitives/pcie_2_1/pcie_2_1.pb_type.xml
  xc/xc7/archs/artix7/devices/xc7a50t-virt/CMakeLists.txt
  xc/xc7/archs/artix7/tiles/CMakeLists.txt
  xc/xc7/archs/artix7/tiles/pcie_2_1/CMakeLists.txt
  xc/xc7/archs/artix7/tiles/pcie_bot/CMakeLists.txt
  xc/xc7/archs/artix7_100t/devices/xc7a100t-virt/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/pcie_2_1/CMakeLists.txt
  xc/xc7/archs/artix7_100t/tiles/pcie_bot/CMakeLists.txt
  xc/xc7/archs/artix7_200t/devices/xc7a200t-virt/CMakeLists.txt
  xc/xc7/archs/artix7_200t/tiles/CMakeLists.txt
  xc/xc7/archs/artix7_200t/tiles/pcie_2_1/CMakeLists.txt
  xc/xc7/archs/artix7_200t/tiles/pcie_bot/CMakeLists.txt
  xc/xc7/techmap/cells_map.v
  xc/xc7/techmap/cells_sim.v
  xc/xc7/tests/CMakeLists.txt
  xc/xc7/tests/pcie/CMakeLists.txt
  xc/xc7/tests/pcie/pcie_arty100t.v
  xc/xc7/tests/pcie/pcie_basys3.v
  xc/xc7/tests/pcie/pcie_nexys_video.v
Labels: arch-artix7, lang-python, lang-verilog, lang-xml, third-party, type-utils, type-vpr

#2130 Adding lib file generation support
  quicklogic/common/utils/pinmap_parse.py
  quicklogic/qlf_k4n8/devices/umc22/qlf_k4n8-qlf_k4n8_umc22_24x24.csv
  quicklogic/qlf_k4n8/devices/umc22/qlf_k4n8_common_lib_data.json
  quicklogic/qlf_k4n8/devices/umc22/qlf_k4n8_dedicated_pin_lib_data.txt
  quicklogic/qlf_k4n8/devices/umc22/qlf_k4n8_lib_header_template.txt
  quicklogic/qlf_k4n8/utils/create_lib.py
Labels: lang-python, type-utils

#2129 cmake: fix rr graph targets to generate the real rr graph
  common/cmake/devices.cmake
Labels: type-utils

#2116 Add PCIe complex test
  CMakeLists.txt
  xc/xc7/boards.cmake
  xc/xc7/techmap/cells_map.v
  xc/xc7/tests/CMakeLists.txt
  xc/xc7/tests/common/CMakeLists.txt
  xc/xc7/tests/common/netv2_a100t_pcie_complex.xdc
  xc/xc7/tests/pcie_complex/CMakeLists.txt
  xc/xc7/tests/pcie_complex/README.md
  xc/xc7/tests/pcie_complex/pcie_complex.v
Labels: lang-verilog, type-docs, type-utils

#2121 QuickLogic qlf_k4n8 repacker
  .github/kokoro/ql.sh
  common/cmake/devices.cmake
  common/cmake/install.cmake
  quicklogic/common/cmake/quicklogic_install.cmake
  quicklogic/common/cmake/quicklogic_qlf_arch.cmake
  quicklogic/common/cmake/quicklogic_qlf_device.cmake
  quicklogic/common/toolchain_wrappers/ql_symbiflow
  quicklogic/common/toolchain_wrappers/symbiflow_repack
  quicklogic/common/toolchain_wrappers/vpr_common
  quicklogic/qlf_k4n8/CMakeLists.txt
  quicklogic/qlf_k4n8/devices/umc22/CMakeLists.txt
  quicklogic/qlf_k4n8/utils/CMakeLists.txt
  quicklogic/qlf_k4n8/utils/repacker/README.md
  quicklogic/qlf_k4n8/utils/repacker/arch_xml_utils.py
  quicklogic/qlf_k4n8/utils/repacker/block_path.py
  quicklogic/qlf_k4n8/utils/repacker/eblif_netlist.py
  quicklogic/qlf_k4n8/utils/repacker/netlist_cleaning.py
  quicklogic/qlf_k4n8/utils/repacker/packed_netlist.py
  quicklogic/qlf_k4n8/utils/repacker/pb_rr_graph.py
  quicklogic/qlf_k4n8/utils/repacker/pb_rr_graph_netlist.py
  quicklogic/qlf_k4n8/utils/repacker/pb_rr_graph_router.py
  quicklogic/qlf_k4n8/utils/repacker/pb_type.py
  quicklogic/qlf_k4n8/utils/repacker/repack.py
  quicklogic/qlf_k4n8/utils/repacker/tests/eblif_roundtrip/netlist.golden.eblif
  quicklogic/qlf_k4n8/utils/repacker/tests/eblif_roundtrip/test_eblif_roundtrip.py
  quicklogic/qlf_k4n8/utils/repacker/tests/identity.xsl
  quicklogic/qlf_k4n8/utils/repacker/tests/packed_netlist_roundtrip/netlist.golden.net
  quicklogic/qlf_k4n8/utils/repacker/tests/packed_netlist_roundtrip/test_netlist_roundtrip.py
  quicklogic/qlf_k4n8/utils/repacker/tests/sort_netlist.xsl
Labels: lang-python, lang-xml, third-party, type-docs, type-infra, type-utils, type-vpr
