Repository f4pga/f4pga-arch-defs, pull requests merged in 2021-12, with the labels that each got.

#2336 gh: check statuses: skip latest package update if main CI did not finish
  .github/check-status/check-status.py
Labels: lang-python, type-infra

#2339 gh actions: update conda bot: fix set output call
  .github/workflows/update_conda_lock.yml
Labels: type-infra

#2335 Change MMCME2 advanced COMPENSATION parameter to have a default of INTERNAL
  xc/xc7/techmap/cells_map.v
  xc/xc7/tests/mmcm/CMakeLists.txt
  xc/xc7/tests/mmcm/README.md
  xc/xc7/tests/mmcm/mmcm_none_basys3_bottom.v
  xc/xc7/tests/mmcm/mmcme2_test.v
Labels: lang-verilog, type-docs

#2347 Fixes due to yosys changes
  common/cmake/devices.cmake
  conda_lock.yml
  quicklogic/qlf_k4n8/tests/synth_flow/rgb2ycrcb/CMakeLists.txt
  xc/xc7/techmap/cells_map.v
  xc/xc7/yosys/synth.tcl
Labels: lang-verilog, type-utils

#2350 xc: common: slicem: enforce correct intra-pb-type path for ADI1MUX input
  xc/common/primitives/slicem/slicem.pb_type.xml
Labels: lang-xml, type-utils, type-vpr
