Repository f4pga/f4pga-arch-defs, pull requests merged in 2021-07, with the labels that each got.

#2145 readme: add quicklogic
  README.md
Labels: type-docs

#2184 QuickLogic: Update installed toolchain version
  quicklogic/common/toolchain_wrappers/conda_build_install_package.sh
  quicklogic/common/toolchain_wrappers/ql_symbiflow
  quicklogic/qlf_k4n8/tests/design_flow/counter_16bit/counter_16bit.pcf
Labels: type-utils

#2188 quicklogic: update readme
  quicklogic/README.md
Labels: type-docs

#2199 ql: pp3: tests: add installed toolchain basic tests
  .github/kokoro/ql.sh
  quicklogic/common/cmake/quicklogic_board.cmake
  quicklogic/common/cmake/quicklogic_device.cmake
  quicklogic/common/cmake/quicklogic_install.cmake
  quicklogic/common/toolchain_wrappers/ql_symbiflow
  quicklogic/common/toolchain_wrappers/symbiflow_synth
  quicklogic/pp3/tests/CMakeLists.txt
  quicklogic/pp3/tests/features/CMakeLists.txt
  quicklogic/pp3/tests/features/install_test/CMakeLists.txt
  quicklogic/pp3/tests/features/install_test/btn_counter/CMakeLists.txt
  quicklogic/pp3/tests/features/install_test/btn_counter/README.md
  quicklogic/pp3/tests/features/install_test/btn_counter/btn_counter.v
  quicklogic/pp3/tests/features/install_test/btn_counter/chandalar-top.pcf
  quicklogic/pp3/tests/features/install_test/btn_counter/chandalar.pcf
  quicklogic/pp3/tests/features/install_test/btn_counter/chandalar_pinmap.csv
  quicklogic/pp3/tests/features/install_test/consts/CMakeLists.txt
  quicklogic/pp3/tests/features/install_test/consts/chandalar.pcf
  quicklogic/pp3/tests/features/install_test/consts/chandalar_pinmap.csv
  quicklogic/pp3/tests/features/install_test/consts/consts.v
  quicklogic/pp3/tests/features/install_test/counter/CMakeLists.txt
  quicklogic/pp3/tests/features/install_test/counter/README.md
  quicklogic/pp3/tests/features/install_test/counter/chandalar.pcf
  quicklogic/pp3/tests/features/install_test/counter/chandalar_pinmap.csv
  quicklogic/pp3/tests/features/install_test/counter/counter.v
  quicklogic/pp3/tests/features/install_test/lut1/CMakeLists.txt
  quicklogic/pp3/tests/features/install_test/lut1/chandalar.pcf
  quicklogic/pp3/tests/features/install_test/lut1/chandalar_pinmap.csv
  quicklogic/pp3/tests/features/install_test/lut1/lut1.v
  quicklogic/pp3/tests/features/install_test/lut2/CMakeLists.txt
  quicklogic/pp3/tests/features/install_test/lut2/chandalar.pcf
  quicklogic/pp3/tests/features/install_test/lut2/chandalar_pinmap.csv
  quicklogic/pp3/tests/features/install_test/lut2/lut2.v
  quicklogic/pp3/tests/features/install_test/lut3/CMakeLists.txt
  quicklogic/pp3/tests/features/install_test/lut3/chandalar.pcf
  quicklogic/pp3/tests/features/install_test/lut3/chandalar_pinmap.csv
  quicklogic/pp3/tests/features/install_test/lut3/lut3.v
  quicklogic/pp3/tests/features/install_test/lut4/CMakeLists.txt
  quicklogic/pp3/tests/features/install_test/lut4/chandalar.pcf
  quicklogic/pp3/tests/features/install_test/lut4/chandalar_pinmap.csv
  quicklogic/pp3/tests/features/install_test/lut4/lut4.v
  quicklogic/pp3/tests/features/install_test/wire/CMakeLists.txt
  quicklogic/pp3/tests/features/install_test/wire/chandalar.pcf
  quicklogic/pp3/tests/features/install_test/wire/chandalar_pinmap.csv
  quicklogic/pp3/tests/features/install_test/wire/wire.v
Labels: lang-verilog, type-docs, type-infra, type-utils

#2228 docs: clarify "getting started" section
  docs/source/getting-started.rst
Labels: type-docs

#2229 docs: expand "getting started" section
  docs/source/getting-started.rst
Labels: type-docs
