Repository f4pga/f4pga-arch-defs, pull requests merged in 2021-08, with the labels that each got.

#2233 docs: add info on OpenOCD
  docs/source/getting-started.rst
Labels: type-docs

#2238 [PP3] Update Yosys plugins
  environment.yml
  quicklogic/pp3/techmap/cells_map.v
Labels: lang-verilog

#2242 Update yosys and VTR
  CMakeLists.txt
  common/cmake/devices.cmake
  environment.yml
  ice40/yosys/synth.tcl
  ice40/yosys/utils.tcl
  xc/xc7/techmap/cells_map.v
  xc/xc7/tests/iosettings/generate.py
  xc/xc7/yosys/synth.tcl
  xc/xc7/yosys/utils.tcl
Labels: lang-verilog, lang-python, arch-ice40, type-utils

#1885 Add bot locking and updating Conda and Pip packages
  .github/workflows/update_conda_lock.yml
  Makefile
  conda_lock.yml
  environment.yml
Labels: lang-makefile, lang-python, type-infra
