Repository f4pga/f4pga-arch-defs, pull requests merged in 2022-06, with the labels that each got.

#2713 ci: fix updating *-latest pointers
  .github/scripts/check-status.py
  .github/workflows/Automerge.yml
  .github/workflows/Tests.yml
Labels: lang-python, type-infra

#2731 ci: ensure that subdir 'install' exists when creating '*-latest' files
  .github/workflows/Tests.yml
Labels: type-infra

#2359 tests: fix ASSERT_USAGE tests
  common/cmake/devices.cmake
  utils/gather_usage.py
  utils/lib/parse_usage.py
  utils/report_block_usage.py
  xc/xc7/tests/dram/CMakeLists.txt
Labels: lang-python, type-utils

#2741 Inherit secrets in Tests.yml
  .github/workflows/Automerge.yml
Labels: type-infra

#2723 ci/Tests: combine steps
  .github/scripts/check-status.py
  .github/workflows/Tests.yml
Labels: lang-python, type-infra

#2704 fix: make utils/fix_xc7_carry.py executable
  utils/fix_xc7_carry.py
Labels: lang-python, type-utils

#2356 EOS-S3 update [3/4]: update EOS-S3 codebase
  quicklogic/pp3/primitives/assp/assp.sim.v
  quicklogic/pp3/primitives/bidir/bidir_cell.sim.v
  quicklogic/pp3/primitives/clock/clock_cell.sim.v
  quicklogic/pp3/primitives/fpga_interconnect/fpga_interconnect.sim.v
  quicklogic/pp3/primitives/gmux/gmux_ic.sim.v
  quicklogic/pp3/primitives/gmux/gmux_ip.sim.v
  quicklogic/pp3/primitives/gnd/gnd.sim.v
  quicklogic/pp3/primitives/logic/b_frag.sim.v
  quicklogic/pp3/primitives/logic/c_frag.sim.v
  quicklogic/pp3/primitives/logic/f_frag.sim.v
  quicklogic/pp3/primitives/logic/q_frag.sim.v
  quicklogic/pp3/primitives/logic/t_frag.sim.v
  quicklogic/pp3/primitives/mult/mult.sim.v
  quicklogic/pp3/primitives/sdiomux/sdiomux_cell.sim.v
  quicklogic/pp3/primitives/vcc/vcc.sim.v
  quicklogic/pp3/techmap/cells_map.v
  quicklogic/pp3/utils/create_default_fasm.py
  quicklogic/pp3/utils/create_ioplace.py
  quicklogic/pp3/utils/create_place_constraints.py
  quicklogic/pp3/utils/data_import.py
  quicklogic/pp3/utils/eos_s3_iomux_config.py
  quicklogic/pp3/utils/verify_jlink_openocd.sh
  quicklogic/pp3/utils/verilogmodule.py
  quicklogic/pp3/yosys/synth.tcl
Labels: lang-verilog, type-sim, lang-python, type-infra, type-utils

#2749 ci/Tests: use a heredoc instead of changing the shell type
  .github/workflows/Tests.yml
Labels: type-infra
