Repository f4pga/f4pga-arch-defs, pull requests merged in 2022-02, with the labels that each got.

#2349 ci: add dependabot config file
  .github/dependabot.yml
Labels: type-infra

#2396 docs: fix rst syntax issues (titles and code-blocks)
  docs/source/prjxray/partial-reconfig.rst
  docs/source/prjxray/vtr-rrgraph.rst
Labels: type-docs

#2375 CI: initial gh custom runners
  .github/ci/common.sh
  .github/ci/docs.sh
  .github/ci/ice40.sh
  .github/ci/install.sh
  .github/ci/ql.sh
  .github/ci/setup.sh
  .github/ci/test.sh
  .github/ci/testarch.sh
  .github/ci/tests.sh
  .github/ci/xc7-vendor.sh
  .github/ci/xc7.sh
  .github/ci/xc7a200t-vendor.sh
  .github/ci/xc7a200t.sh
  .github/workflows/ci.yml
  CMakeLists.txt
  ice40/boards.cmake
  ice40/devices/CMakeLists.txt
  ice40/tests/blink/CMakeLists.txt
  ice40/tests/iceram/CMakeLists.txt
  tests/9-scalable_proc/CMakeLists.txt
  tests/9-soc/murax/CMakeLists.txt
  tests/9-soc/picosoc/CMakeLists.txt
  tests/CMakeLists.txt
  xc/xc7/CMakeLists.txt
Labels: arch-ice40, type-infra

#2415 docs/Makefile: use sphinx-build to avoid Python 2.7
  .readthedocs.yml
  docs/Makefile
Labels: lang-makefile, type-docs

#2414 docs: add logo and favicon, update theme and colors
  docs/requirements.txt
  docs/source/_static/favicon.svg
  docs/source/_static/images/prjxray/arch-defs-flow.png
  docs/source/_static/images/prjxray/import-flow.png
  docs/source/_static/images/prjxray/import-wire-class.svg
  docs/source/_static/images/prjxray/rrgraph-wire.svg
  docs/source/_static/images/prjxray/vpr-rrgraph-types.svg
  docs/source/_static/images/prjxray/vtr-rrgraph.png
  docs/source/_static/logo.svg
  docs/source/conf.py
  docs/source/getting-started.rst
  docs/source/index.rst
  docs/source/prjxray/flow-diagram.rst
  docs/source/prjxray/index.rst
  docs/source/prjxray/partial-reconfig.rst
  docs/source/prjxray/vtr-rrgraph.rst
Labels: type-docs, lang-python

#2397 docs/conf: cleanup
  .readthedocs.yml
  docs/Makefile
  docs/_static/favicon.svg
  docs/_static/images/prjxray/arch-defs-flow.png
  docs/_static/images/prjxray/import-flow.png
  docs/_static/images/prjxray/import-wire-class.svg
  docs/_static/images/prjxray/rrgraph-wire.svg
  docs/_static/images/prjxray/vpr-rrgraph-types.svg
  docs/_static/images/prjxray/vtr-rrgraph.png
  docs/_static/logo.svg
  docs/conf.py
  docs/development/development.rst
  docs/development/structure.rst
  docs/development/vtr_notes.rst
  docs/getting-started.rst
  docs/index.rst
  docs/make.bat
  docs/prjxray/flow-diagram.rst
  docs/prjxray/index.rst
  docs/prjxray/partial-reconfig.rst
  docs/prjxray/vtr-rrgraph.rst
  docs/source/conf.py
Labels: lang-makefile, type-docs, lang-python

#2413 docs: use extensions ExtLinks and InterSphinx
  .readthedocs.yml
  docs/conf.py
  docs/development/structure.rst
  docs/getting-started.rst
Labels: type-docs, lang-python
