Repository f4pga/f4pga-arch-defs, pull requests merged in 2022-05, with the labels that each got.

#2646 move content from the readme to the docs; update shields
  README.md
  docs/README.md
  docs/development/notes.md
  docs/getting-started.rst
  docs/index.rst
Labels: type-docs, type-infra

#2654 ci/checkstatus: s/master/main/
  .github/workflows/checkstatus.yml
Labels: type-infra

#2509 move toolchain wrappers to repo f4pga
  .github/ci/install.sh
  .github/workflows/Tests.yml
  README.md
  conda_lock.yml
  docs/conf.py
  quicklogic/common/cmake/quicklogic_install.cmake
  quicklogic/common/toolchain_wrappers/conda_build_install_package.sh
  quicklogic/common/toolchain_wrappers/env
  quicklogic/common/toolchain_wrappers/ql_symbiflow
  quicklogic/common/toolchain_wrappers/symbiflow_analysis
  quicklogic/common/toolchain_wrappers/symbiflow_generate_bitstream
  quicklogic/common/toolchain_wrappers/symbiflow_generate_constraints
  quicklogic/common/toolchain_wrappers/symbiflow_generate_libfile
  quicklogic/common/toolchain_wrappers/symbiflow_pack
  quicklogic/common/toolchain_wrappers/symbiflow_place
  quicklogic/common/toolchain_wrappers/symbiflow_repack
  quicklogic/common/toolchain_wrappers/symbiflow_route
  quicklogic/common/toolchain_wrappers/symbiflow_synth
  quicklogic/common/toolchain_wrappers/symbiflow_write_fasm
  quicklogic/common/toolchain_wrappers/vpr_common
  quicklogic/common/toolchain_wrappers/vpr_config.sh
  xc/common/cmake/install.cmake
  xc/xc7/toolchain_wrappers/symbiflow_generate_constraints
  xc/xc7/toolchain_wrappers/symbiflow_pack
  xc/xc7/toolchain_wrappers/symbiflow_place
  xc/xc7/toolchain_wrappers/symbiflow_route
  xc/xc7/toolchain_wrappers/symbiflow_synth
  xc/xc7/toolchain_wrappers/symbiflow_write_bitstream
  xc/xc7/toolchain_wrappers/symbiflow_write_fasm
  xc/xc7/toolchain_wrappers/symbiflow_write_xml_rr_graph
  xc/xc7/toolchain_wrappers/vpr_common
Labels: type-docs, lang-python, type-infra, type-utils

#2658 Support for spartan7
  CMakeLists.txt
  xc/common/utils/prjxray_create_place_constraints.py
  xc/xc7/archs/CMakeLists.txt
  xc/xc7/archs/spartan7/CMakeLists.txt
  xc/xc7/archs/spartan7/devices/CMakeLists.txt
  xc/xc7/archs/spartan7/devices/xc7s50-virt/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/bram_l/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/bram_r/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/bufgctrl/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/clbll_l/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/clbll_r/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/clblm_l/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/clblm_r/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/clk_bufg_bot_r/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/clk_bufg_top_r/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/cmt_top_l_lower_b/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/cmt_top_r_lower_b/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/hclk_ioi3/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/mmcme2_adv/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/slicel/CMakeLists.txt
  xc/xc7/archs/spartan7/tiles/slicem/CMakeLists.txt
  xc/xc7/boards.cmake
  xc/xc7/tests/buttons/CMakeLists.txt
  xc/xc7/tests/buttons/buttons_ax7050.v
  xc/xc7/tests/buttons/buttons_ax7050.xdc
  xc/xc7/tests/counter/CMakeLists.txt
  xc/xc7/tests/counter/counter_ax7050.v
  xc/xc7/tests/counter/counter_ax7050.xdc
Labels: lang-verilog, lang-python, type-utils

#2665 ci: merge workflow 'checkstatus' into 'Tests'
  .github/workflows/Automerge.yml
  .github/workflows/checkstatus.yml
Labels: type-infra

#2674 ci: print packages' timestamp in job 'install'
  .github/ci/install.sh
Labels: type-infra

#2675 ci/install: upload packages in a separated step
  .github/ci/install.sh
  .github/workflows/Tests.yml
Labels: type-infra

#2672 docs/index: add overview diagram; update list of architectures
  README.md
  docs/_static/images/overview.svg
  docs/index.rst
Labels: type-docs

#2670 readme: update list of architectures
  README.md
Labels: type-docs

#2690 ci: fix summary hash
  .github/workflows/Tests.yml
Labels: type-infra

#2686 ci: use check-status as a regular script, instead of wrapping it in a Container Action
  .github/check-status/Dockerfile
  .github/check-status/action.yml
  .github/check-status/check-status.py
  .github/check-status/entrypoint.sh
  .github/ci/check-status.py
  .github/workflows/Automerge.yml
Labels: lang-python, type-infra

#2676 ci: upload packages as artifacts, regardless of uploading them to GCS
  .github/workflows/Tests.yml
Labels: type-infra

#2603 ci: mv .github/ci .github/scripts
  .github/scripts/check-status.py
  .github/scripts/common.sh
  .github/scripts/docs.sh
  .github/scripts/ice40.sh
  .github/scripts/install.sh
  .github/scripts/ql.sh
  .github/scripts/setup-and-activate.sh
  .github/scripts/setup.sh
  .github/scripts/testarch.sh
  .github/scripts/tests.sh
  .github/scripts/xc7-vendor.sh
  .github/scripts/xc7.sh
  .github/scripts/xc7a200t-vendor.sh
  .github/scripts/xc7a200t.sh
  .github/workflows/Automerge.yml
  .github/workflows/Tests.yml
Labels: lang-python, type-infra
