Repository f4pga/f4pga-arch-defs, pull requests merged in 2022-07, with the labels that each got.

#2752 ci: move uploading of artifacts from workflow Tests to Automerge
  .github/workflows/Automerge.yml
  .github/workflows/Tests.yml
Labels: type-infra

#2786 ci/GCS: install gsutil
  .github/workflows/Automerge.yml
Labels: type-infra

#2792 ci/GCS: install gnupg2
  .github/workflows/Automerge.yml
Labels: type-infra

#2799 xc: xc7: fix parameters width for RAMB
  xc/xc7/techmap/cells_map.v
Labels: lang-verilog

#2798 Rename F4PGA_ENV_* to F4PGA_*_DIR
  .github/scripts/install.sh
  .github/scripts/ql.sh
Labels: type-infra

#2821 Fix QuickLogic install job
  .github/scripts/install_ql.sh
  .github/scripts/install_xc7.sh
  .github/scripts/ql.sh
  .github/workflows/Tests.yml
  common/cmake/install.cmake
  quicklogic/common/cmake/quicklogic_install.cmake
  xc/common/cmake/install.cmake
Labels: type-infra, type-utils
