Repository f4pga/f4pga-arch-defs, pull requests merged in 2022-03, with the labels that each got.

#2449 docs: more extlinks, intersphinx and s/SymbiFlow/F4PGA/
  docs/Makefile
  docs/conf.py
  docs/make.bat
  docs/prjxray/index.rst
  docs/prjxray/partial-reconfig.rst
  docs/prjxray/vtr-rrgraph.rst
Labels: lang-makefile, type-docs, lang-python

#2465 readme: s/SymbiFlow/F4PGA/
  README.md
Labels: type-docs

#2444 ci/scripts: add setup-and-activate.sh
  .github/ci/common.sh
  .github/ci/docs.sh
  .github/ci/ice40.sh
  .github/ci/install.sh
  .github/ci/ql.sh
  .github/ci/setup-and-activate.sh
  .github/ci/testarch.sh
  .github/ci/xc7-vendor.sh
  .github/ci/xc7.sh
  .github/ci/xc7a200t.sh
Labels: type-infra

#2487 docs: add toctree 'Development Practices'
  docs/development/development.rst
  docs/index.rst
Labels: type-docs

#2490 ci: automerge dependabot PRs
  .github/workflows/ci.yml
Labels: type-infra

#2485 docs: move cmake.md into the Sphinx site
  .gitignore
  cmake.md
  docs/conf.py
  docs/development/cmake.md
  docs/index.rst
  docs/requirements.txt
Labels: type-docs, lang-python

#2497 docs: add 'Bitstream Documentation' overview from website
  docs/bitdoc/index.rst
  docs/bitdoc/prjxray/flow-diagram.rst
  docs/bitdoc/prjxray/index.rst
  docs/bitdoc/prjxray/partial-reconfig.rst
  docs/bitdoc/prjxray/vtr-rrgraph.rst
  docs/index.rst
Labels: type-docs

#2493 Fix issues with constraining multiple PLL/MMCM for xc7
  xc/common/utils/prjxray_create_place_constraints.py
  xc/xc7/tests/mmcm/CMakeLists.txt
  xc/xc7/tests/mmcm/mmcm_dual.v
Labels: lang-verilog, lang-python, type-utils

#1950 Enhance docs with details on new tiles/primitives addition
  docs/conf.py
  docs/development/arch_notes.rst
  docs/index.rst
Labels: type-docs, lang-python

#2544 ci/dependabot: update config
  .github/dependabot.yml
Labels: type-infra
