Repository f4pga/f4pga-arch-defs, pull requests merged in 2022-04, with the labels that each got.

#2553 xc/common/utils: allow to have less or equal IDELAYE2 than IDELAYCTRL
  xc/common/utils/prjxray_create_place_constraints.py
Labels: lang-python, type-utils

#2552 GCP package uploading
  .github/ci/install.sh
  .github/workflows/ci.yml
Labels: type-infra

#2566 xc: xc7: techmap: add missing inputs to RAMB36E1
  xc/xc7/techmap/cells_map.v
Labels: lang-verilog

#2480 ci: cleanup kokoro utils
  .github/kokoro/common.sh
  .github/kokoro/continuous-docs.cfg
  .github/kokoro/continuous-ice40.cfg
  .github/kokoro/continuous-install-200t.cfg
  .github/kokoro/continuous-install.cfg
  .github/kokoro/continuous-ql.cfg
  .github/kokoro/continuous-testarch.cfg
  .github/kokoro/continuous-tests.cfg
  .github/kokoro/continuous-xc7-vendor.cfg
  .github/kokoro/continuous-xc7.cfg
  .github/kokoro/continuous-xc7a200t-vendor.cfg
  .github/kokoro/continuous-xc7a200t.cfg
  .github/kokoro/docs.sh
  .github/kokoro/ice40.sh
  .github/kokoro/install-200t.sh
  .github/kokoro/install.sh
  .github/kokoro/kokoro-cfg.py
  .github/kokoro/package_results.sh
  .github/kokoro/presubmit-docs.cfg
  .github/kokoro/presubmit-ice40.cfg
  .github/kokoro/presubmit-install-200t.cfg
  .github/kokoro/presubmit-install.cfg
  .github/kokoro/presubmit-ql.cfg
  .github/kokoro/presubmit-testarch.cfg
  .github/kokoro/presubmit-tests.cfg
  .github/kokoro/presubmit-xc7-vendor.cfg
  .github/kokoro/presubmit-xc7.cfg
  .github/kokoro/presubmit-xc7a200t-vendor.cfg
  .github/kokoro/presubmit-xc7a200t.cfg
  .github/kokoro/ql.sh
  .github/kokoro/steps/git.sh
  .github/kokoro/steps/hostinfo.sh
  .github/kokoro/steps/hostsetup.sh
  .github/kokoro/steps/movehome.sh
  .github/kokoro/steps/rapidwright.sh
  .github/kokoro/steps/start_monitor.sh
  .github/kokoro/steps/stop_monitor.sh
  .github/kokoro/testarch.sh
  .github/kokoro/tests.sh
  .github/kokoro/xc7-vendor.sh
  .github/kokoro/xc7.sh
  .github/kokoro/xc7a200t-vendor.sh
  .github/kokoro/xc7a200t.sh
  .github/workflows/Tests.yml
  .github/workflows/update_conda_lock.yml
  README.md
Labels: lang-python, type-infra

#2567 toolchain_wrappers: cleanup
  quicklogic/common/toolchain_wrappers/symbiflow_route
  xc/common/cmake/install.cmake
  xc/xc7/toolchain_wrappers/env
  xc/xc7/toolchain_wrappers/symbiflow_generate_constraints
  xc/xc7/toolchain_wrappers/symbiflow_pack
  xc/xc7/toolchain_wrappers/symbiflow_place
  xc/xc7/toolchain_wrappers/symbiflow_route
  xc/xc7/toolchain_wrappers/symbiflow_synth
  xc/xc7/toolchain_wrappers/symbiflow_write_bitstream
  xc/xc7/toolchain_wrappers/symbiflow_write_fasm
  xc/xc7/toolchain_wrappers/symbiflow_write_xml_rr_graph
  xc/xc7/toolchain_wrappers/vpr_common
Labels: type-utils

#2569 ci: add Automerge and convert Tests to a reusable workflow
  .github/workflows/Automerge.yml
  .github/workflows/Tests.yml
Labels: type-infra

#2583 ci/install: typos
  .github/ci/install.sh
Labels: type-infra

#2443 s/SymbiFlow/F4PGA/
  .github/ci/common.sh
  .github/ci/setup-and-activate.sh
  .github/ci/setup.sh
  .github/ci/xc7a200t-vendor.sh
  .github/workflows/Tests.yml
  CMakeLists.txt
  conda_lock.yml
  environment.yml
Labels: type-docs, lang-python, type-infra

#2496 docs: add refs to bitstream viewer and database visualizer
  docs/index.rst
Labels: type-docs

#2599 readme: update shields
  README.md
Labels: type-docs

#2614 Revert "requirements: s/SymbiFlow/F4PGA/; do not require git"
  .github/workflows/update_conda_lock.yml
  requirements.txt
Labels: type-infra

#2619 requirements: re-add changes to point to chipsalliance packages
  .github/workflows/update_conda_lock.yml
  requirements.txt
Labels: type-infra
